{% load static %}

<script src='{% static "lib/jquery/dist/jquery.min.js" %}'></script>
<script src='{% static "lib/jquery-ui/jquery-ui.min.js" %}'></script>
<script src='{% static "lib/bootstrap/js/popper.min.js" %}'></script>
<script src='{% static "lib/bootstrap/js/bootstrap.min.js" %}'></script>
<script src='{% static "lib/jasny-bootstrap/js/jasny-bootstrap.min.js" %}'></script>
<script src='{% static "lib/slimscroll/jquery.slimscroll.min.js" %}'></script>
<script src='{% static "lib/nano-scroll/jquery.nanoscroller.min.js" %}'></script>
<script src='{% static "lib/metisMenu/metisMenu.min.js" %}'></script>
<script src='{% static "custom.js" %}'></script>
<script src='{% static "lib/chartjs/chart.min.js" %}'></script>
<script src='{% static "lib/chartjs/chartjs-sass.js" %}'></script>
<script src='{% static "lib/vectormap/jquery-jvectormap-2.0.2.min.js" %}'></script>
<script src='{% static "lib/vectormap/jquery-jvectormap-us-aea-en.js" %}'></script>
<script src='{% static "lib/chart-c3/d3.min.js" %}'></script>
<script src='{% static "lib/chart-c3/c3.min.js" %}'></script>
<script src='{% static "lib/datatables/jquery.dataTables.min.js" %}'></script>
<script src='{% static "lib/datatables/dataTables.responsive.min.js" %}'></script>
<script src='{% static "lib/toast/jquery.toast.min.js" %}'></script>
<script src='{% static "dashboard.js" %}'></script>

<!--Start of Tawk.to Script-->
<script type="text/javascript">
  var Tawk_API = Tawk_API || {},
    Tawk_LoadStart = new Date();
  (function () {
    var s1 = document.createElement("script"),
      s0 = document.getElementsByTagName("script")[0];
    s1.async = true;
    s1.src = "https://embed.tawk.to/60ce917f65b7290ac636ddc3/1f8jegmmu";
    s1.charset = "UTF-8";
    s1.setAttribute("crossorigin", "*");
    s0.parentNode.insertBefore(s1, s0);
  })();
</script>
<!--End of Tawk.to Script-->
