{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{{ dynamic.favicon_title }}</title>
    {% include "components/StylesBlock.html" %}
    {% block extrastyle %}
    {% endblock extrastyle %}
</head
<body class=''>
{% include "components/TopBar.html" %}

{% block navigation %}
{% endblock navigation %}

{% block content %}
{% endblock content %}

{% include "components/AlanAI.html" %}

{% include "components/Footer.html" %}
{% include "components/JavaScriptBlock.html" %}
{% block javascriptblock %}
{% endblock javascriptblock %}
{% if dynamic.sub_name == "www" %}
    <script>
        !function(w,d){function e(e,i){w.ServiceBell.q=w.ServiceBell.q||[],w.ServiceBell.q.push([e,i])}w.ServiceBell=w.ServiceBell||["init","identify","dial","alert","bookMeeting","hide","show","expand","collapse","connect","disconnect"].reduce((function(i,n){return i[n]=function(){e(n,arguments)},i}),{});var s=d.createElement("script");s.id="service-bell-script",s.src="https://cdn.servicebell.com/main.js",s.async=1;var i=d.getElementsByTagName("script")[0];i.parentNode.insertBefore(s,i)}(window,document);
        ServiceBell.init("41169769349c466c86fc2cd591f5d63d", { mode: "iframe-jit" });
      </script>
    {% endif %}
</body>
</html>
