<!doctype html>
<html lang="zxx">

<head> {% load static %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'banking/assets/css/bootstrap.min.css' %}">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="{% static 'banking/assets/css/animate.min.css' %}">
    <!-- Meanmenu CSS -->
    <link rel="stylesheet" href="{% static 'banking/assets/css/meanmenu.css' %}">
    <!-- Boxicons CSS -->
    <link rel="stylesheet" href="{% static 'banking/assets/css/boxicons.min.css' %}">
    <!-- Flaticon CSS -->
    <link rel="stylesheet" href="{% static 'banking/assets/css/flaticon.css' %}">
    <!-- Nice Select CSS -->
    <link rel="stylesheet" href="{% static 'banking/assets/css/nice-select.min.css' %}">
    <!-- Owl Carousel CSS -->
    <link rel="stylesheet" href="{% static 'banking/assets/css/owl.carousel.min.css' %}">
    <!-- Owl Carousel Default CSS -->
    <link rel="stylesheet" href="{% static 'banking/assets/css/owl.theme.default.min.css' %}">
    <!-- Odometer CSS -->
    <link rel="stylesheet" href="{% static 'banking/assets/css/odometer.min.css' %}">
    <!-- Magnific Popup CSS -->
    <link rel="stylesheet" href="{% static 'banking/assets/css/magnific-popup.min.css' %}">
    <!-- Style CSS -->
    <link rel="stylesheet" href="{% static 'banking/assets/css/style.css' %}">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{% static 'banking/assets/css/responsive.css' %}">

    <title>Kleui Hybrid Loans</title>

    <link rel="icon" type="image/png' %}" href="{% static 'banking/assets/img/favicon.png' %}">
</head>

<body>

    <!-- Start Preloader Area -->
    <div class="preloader">
        <div class="loader">
            <div class="shadow"></div>
            <div class="box"></div>
        </div>
    </div>
    <!-- End Preloader Area -->

    <style media="screen">
        .logo .main-navbar .navbar-brand img {
            height: 90px;
        }
    </style>
    {% include "banking/navbar.html" %}
    <!-- Start Main Slider Area -->
    <div class="main-slider-area">
        <div class="home-slides owl-carousel owl-theme">
            <div class="main-slider-item">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-6">
                            <div class="main-slider-content">
                                <h1>How we can help you achieve your goals</h1>
                                <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices
                                    gravida.</p>
                                <div class="slider-btn">
                                    <a href="#" class="default-btn">Get started</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="main-slider-image">
                                <img src="{% static 'banking/assets/images/main-slider-1.png' %}" alt="image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="main-slider-item">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-6">
                            <div class="main-slider-content">
                                <h1>Get an extensive view of your cash flow</h1>
                                <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices
                                    gravida.</p>
                                <div class="slider-btn">
                                    <a href="#" class="default-btn">Get started</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="main-slider-image">
                                <img src="{% static 'banking/assets/images/main-slider-1.png' %}" alt="image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="main-slider-shape">
            <div class="shape-1">
                <img src="{% static 'banking/assets/img/main-slider/slider-shape-1.png' %}" alt="image">
            </div>

            <div class="shape-2">
                <img src="{% static 'banking/assets/img/main-slider/slider-shape-2.png' %}" alt="image">
            </div>
        </div>
    </div>
    <!-- End Main Slider Area -->

    <!-- Start Top Services Area -->
    <section class="top-services-area pt-100 pb-70">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="top-services-item">
                        <div class="icon">
                            <i class="flaticon-protection"></i>
                        </div>
                        <h3>
                            <a href="#">Protect your card</a>
                        </h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua.</p>
                        <a href="#" class="link-btn">Get started <i class="flaticon-right-arrow"></i></a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="top-services-item">
                        <div class="icon">
                            <i class="flaticon-online-banking"></i>
                        </div>
                        <h3>
                            <a href="#">Online banking</a>
                        </h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua.</p>
                        <a href="#" class="link-btn">See more details <i class="flaticon-right-arrow"></i></a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="top-services-item">
                        <div class="icon">
                            <i class="flaticon-mobile-app"></i>
                        </div>
                        <h3>
                            <a href="#">Discover new features</a>
                        </h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua.</p>
                        <a href="#" class="link-btn">Download the app <i class="flaticon-right-arrow"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Top Services Area -->

    <!-- Start Banking Area -->
    <section class="banking-area bg-ffffff pb-100">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <div class="" style="
                        background-image: url('{% static 'banking/assets/images/banking-2.jpg' %}');
                        background-position: center center;
                        background-size: cover;
                        background-repeat: no-repeat;
                        height: 100%;
                        width: 100%;
                        ">
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="banking-content">
                        <span>Business banking</span>
                        <h3>We operate our banking services in many countries around the world</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo
                            viverra maecenas accumsan lacus vel facilisis.</p>

                        <ul class="banking-list">
                            <li><i class="flaticon-check"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            </li>
                            <li><i class="flaticon-check"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit
                                sed do eiusmod.</li>
                            <li><i class="flaticon-check"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            </li>
                            <li><i class="flaticon-check"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                sed do eiusmod incididunt ut labore et dolore magna aliqua.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Banking Area -->

    <!-- Start Fun Facts Area -->
    <section class="fun-facts-area ptb-100">
        <div class="container">
            <div class="section-title">
                <span>Why choose us</span>
                <h2>Our bank has been providing services to its customers for almost 25 years.</h2>
            </div>

            <div class="fun-facts-inner">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-fun-fact">
                            <h3>
                                <span class="odometer" data-count="358412">00</span>
                            </h3>
                            <p>Happy customers</p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-fun-fact">
                            <h3>
                                <span class="odometer" data-count="25">00</span>
                            </h3>
                            <p>Years in banking</p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-fun-fact">
                            <h3>
                                <span class="odometer" data-count="2545">00</span>
                            </h3>
                            <p>Our branches</p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-fun-fact">
                            <h3>
                                <span class="odometer" data-count="54285">00</span>
                            </h3>
                            <p>Successfully works</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Fun Facts Area -->

    <!-- Start Protect Area -->
    <section class="protect-area pb-100">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <div class="protect-content">
                        <span>Protect your money</span>
                        <h3>We make every effort to ensure that our customers money is well protected.</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo
                            viverra maecenas accumsan lacus vel facilisis.</p>

                        <div class="protect-inner-content">
                            <div class="number">
                                <span>1</span>
                            </div>

                            <h4>Security in bank level</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt
                                ut labore et dolore magna aliqua.</p>
                        </div>

                        <div class="protect-inner-content">
                            <div class="number">
                                <span>2</span>
                            </div>

                            <h4>Investments best in class</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt
                                ut labore et dolore magna aliqua.</p>
                        </div>

                        <div class="protect-inner-content">
                            <div class="number">
                                <span>3</span>
                            </div>

                            <h4>Secure watch asset</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt
                                ut labore et dolore magna aliqua.</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="protect-image" style="
                    background-image: url('{% static 'banking/assets/images/protect.jpg' %}');
                    background-position: center center;
                    background-size: cover;
                    background-repeat: no-repeat;
                    height: 100%;
                    width: 100%;
                    border-radius: 50px 0 0 50px;
                    "></div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Protect Area -->

    <!-- Start Services Area -->
    <section class="services-area bg-transparent pt-100 pb-70">
        <div class="container">
            <div class="section-title">
                <span>Banking services</span>
                <h2>Our bank has been provided various banking services to our customers.</h2>
            </div>

            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="single-services-item">
                        <div class="icon">
                            <i class="flaticon-mobile-banking"></i>
                        </div>
                        <h3>
                            <a href="#">Mobile banking</a>
                        </h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua.</p>
                        <a href="{% url 'banking_services' %}" class="learn-btn">Learn more <i
                                class="flaticon-right-arrow"></i></a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-services-item">
                        <div class="icon">
                            <i class="flaticon-credit-card"></i>
                        </div>
                        <h3>
                            <a href="#">Credit cards</a>
                        </h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua.</p>
                        <a href="{% url 'banking_services' %}" class="learn-btn">Learn more <i
                                class="flaticon-right-arrow"></i></a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="single-services-item">
                        <div class="icon">
                            <i class="flaticon-payment-security"></i>
                        </div>
                        <h3>
                            <a href="{% url 'banking_services' %}">Secure payment</a>
                        </h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua.</p>
                        <a href="{% url 'banking_services' %}" class="learn-btn">Learn more <i
                                class="flaticon-right-arrow"></i></a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="single-services-item">
                        <div class="icon">
                            <i class="flaticon-savings"></i>
                        </div>
                        <h3>
                            <a href="{% url 'banking_services' %}">Saving account</a>
                        </h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua.</p>
                        <a href="{% url 'banking_services' %}" class="learn-btn">Learn more <i
                                class="flaticon-right-arrow"></i></a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="single-services-item">
                        <div class="icon">
                            <i class="flaticon-protection"></i>
                        </div>
                        <h3>
                            <a href="{% url 'banking_services' %}">Business banking</a>
                        </h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua.</p>
                        <a href="{% url 'banking_services' %}" class="learn-btn">Learn more <i
                                class="flaticon-right-arrow"></i></a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="single-services-item">
                        <div class="icon">
                            <i class="flaticon-online-banking"></i>
                        </div>
                        <h3>
                            <a href="{% url 'banking_services' %}">Personal savings</a>
                        </h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua.</p>
                        <a href="{% url 'banking_services' %}" class="learn-btn">Learn more <i
                                class="flaticon-right-arrow"></i></a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="single-services-item">
                        <div class="icon">
                            <i class="flaticon-positive-vote"></i>
                        </div>
                        <h3>
                            <a href="{% url 'banking_services' %}">Personal loans</a>
                        </h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua.</p>
                        <a href="{% url 'banking_services' %}" class="learn-btn">Learn more <i
                                class="flaticon-right-arrow"></i></a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="single-services-item">
                        <div class="icon">
                            <i class="flaticon-bank"></i>
                        </div>
                        <h3>
                            <a href="{% url 'banking_services' %}">Business loans</a>
                        </h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua.</p>
                        <a href="{% url 'banking_services' %}" class="learn-btn">Learn more <i
                                class="flaticon-right-arrow"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Services Area -->

    <!-- Start Credit Card Area -->
    <section class="credit-card-area bg-ffffff">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-7">
                    <div class="credit-card-content">
                        <span>Credit cards facility</span>
                        <h3>We provide all the credit card facilities to our customers.</h3>
                        <p>We provide customers with a variety of credit cards based on the convenience of work.</p>

                        <ul class="credit-card-features">
                            <li>
                                <i class="flaticon-checkmark"></i> Standard credit cards
                            </li>
                            <li>
                                <i class="flaticon-checkmark"></i> Rewards credit cards
                            </li>
                            <li>
                                <i class="flaticon-checkmark"></i> Charge cards
                            </li>
                            <li>
                                <i class="flaticon-checkmark"></i> Subprime credit cards
                            </li>
                            <li>
                                <i class="flaticon-checkmark"></i> Limited purpose cards
                            </li>
                            <li>
                                <i class="flaticon-checkmark"></i> Balance transfer credit cards
                            </li>
                            <li>
                                <i class="flaticon-checkmark"></i> Student credit cards
                            </li>
                            <li>
                                <i class="flaticon-checkmark"></i> Secured credit cards
                            </li>
                            <li>
                                <i class="flaticon-checkmark"></i> Prepaid cards
                            </li>
                            <li>
                                <i class="flaticon-checkmark"></i> Business credit cards
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-5">
                    <div class="credit-card-image-slider owl-carousel owl-theme">
                        <div class="credit-card-image">
                            <img src="{% static 'banking/assets/images/credit-card-1.png' %}" alt="image">
                        </div>
                        <div class="credit-card-image">
                            <img src="{% static 'banking/assets/images/credit-card-2.png' %}" alt="image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Credit Card Area -->

    <!-- Start Below Area -->
    <section class="below-area ptb-100">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <div style="
                    background-image: url({% static 'banking/assets/images/below.jpg' %});
                    background-position: center center;
                    background-size: cover;
                    background-repeat: no-repeat;
                    height: 100%;
                    width: 100%;
                    border-radius: 0 50px 50px 0;
                    "></div>
                </div>

                <div class="col-lg-6">
                    <div class="below-content">
                        <span>How to open an account</span>
                        <h3>We can easily open a bank account by following some rules below.</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo
                            viverra maecenas accumsan lacus vel facilisis.</p>

                        <div class="below-inner-content">
                            <div class="number">
                                <span>1</span>
                            </div>

                            <h4>Personal details</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt
                                ut labore et dolore magna aliqua.</p>
                        </div>

                        <div class="below-inner-content">
                            <div class="number">
                                <span>2</span>
                            </div>

                            <h4>Identification</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt
                                ut labore et dolore magna aliqua.</p>
                        </div>

                        <div class="below-inner-content">
                            <div class="number">
                                <span>3</span>
                            </div>

                            <h4>Address information</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt
                                ut labore et dolore magna aliqua.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Below Area -->

    <!-- Start Customer Area -->
    <section class="customer-area ptb-100">
        <div class="container">
            <div class="section-title">
                <span>Customers say</span>
                <h2>What customers say about Us</h2>
            </div>
            <div class="customer-slider owl-carousel owl-theme">
                <div class="customer-item">
                    <img src="{% static 'banking/assets/images/customer-1.jpg' %}" alt="image">
                    <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.”</p>
                    <div class="customer-info">
                        <h3>Robert jakech</h3>
                        <span>Software engineer</span>
                    </div>
                    <div class="icon">
                        <i class="flaticon-right-quotation-mark"></i>
                    </div>
                </div>
                <div class="customer-item">
                    <img src="{% static 'banking/assets/images/customer-2.jpg' %}" alt="image">
                    <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.”</p>
                    <div class="customer-info">
                        <h3>Joseph nakabale</h3>
                        <span>Software engineer</span>
                    </div>
                    <div class="icon">
                        <i class="flaticon-right-quotation-mark"></i>
                    </div>
                </div>

                <div class="customer-item">
                    <img src="{% static 'banking/assets/images/customer-1.jpg' %}" alt="image">
                    <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.”</p>

                    <div class="customer-info">
                        <h3>Robert jakech</h3>
                        <span>Software engineer</span>
                    </div>

                    <div class="icon">
                        <i class="flaticon-right-quotation-mark"></i>
                    </div>
                </div>

                <div class="customer-item">
                    <img src="{% static 'banking/assets/images/customer-2.jpg' %}" alt="image">
                    <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.”</p>

                    <div class="customer-info">
                        <h3>Joseph nakabale</h3>
                        <span>Software engineer</span>
                    </div>

                    <div class="icon">
                        <i class="flaticon-right-quotation-mark"></i>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Customer Area -->

    <!-- Start App Area -->
    <section class="app-area ptb-100">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="app-content">
                        <h3>Download our App to get all kinds of banking benefits from anywhere</h3>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="app-btn">
                        <a href="#" class="app-store-btn">
                            <i class="flaticon-apple"></i>
                            Download on
                            <span>App store</span>
                        </a>

                        <a href="#" class="play-store-btn">
                            <i class="flaticon-google-play"></i>
                            Download on
                            <span>Google play</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End App Area -->

    {% include "banking/footer.html" %}

    <!-- Start Copy Right Area -->
    <div class="copyright-area">
        <div class="container">
            <div class="copyright-area-content">
                <p>
                    Copyright © 2021 Kleui. All Rights Reserved by
                </p>
            </div>
        </div>
    </div>
    <!-- End Copy Right Area -->

    <!-- Start Go Top Area -->
    <div class="go-top">
        <i class='bx bx-up-arrow-alt'></i>
    </div>
    <!-- End Go Top Area -->

    <!-- Jquery Slim JS -->
    <script src="{% static 'banking/assets/js/jquery.min.js' %}"></script>
    <!-- Popper JS -->
    <script src="{% static 'banking/assets/js/popper.min.js' %}"></script>
    <!-- Bootstrap JS -->
    <script src="{% static 'banking/assets/js/bootstrap.min.js' %}"></script>
    <!-- Meanmenu JS -->
    <script src="{% static 'banking/assets/js/jquery.meanmenu.js' %}"></script>
    <!-- Nice Select JS -->
    <script src="{% static 'banking/assets/js/jquery.nice-select.min.js' %}"></script>
    <!-- Owl Carousel JS -->
    <script src="{% static 'banking/assets/js/owl.carousel.min.js' %}"></script>
    <!-- Magnific Popup JS -->
    <script src="{% static 'banking/assets/js/jquery.magnific-popup.min.js' %}"></script>
    <!-- Odometer JS -->
    <script src="{% static 'banking/assets/js/odometer.min.js' %}"></script>
    <!-- Jquery Appear JS -->
    <script src="{% static 'banking/assets/js/jquery.appear.min.js' %}"></script>
    <!-- Ajaxchimp JS -->
    <script src="{% static 'banking/assets/js/jquery.ajaxchimp.min.js' %}"></script>
    <!-- Form Validator JS -->
    <script src="{% static 'banking/assets/js/form-validator.min.js' %}"></script>
    <!-- Contact JS -->
    <script src="{% static 'banking/assets/js/contact-form-script.js' %}"></script>
    <!-- Wow JS -->
    <script src="{% static 'banking/assets/js/wow.min.js' %}"></script>
    <!-- Custom JS -->
    <script src="{% static 'banking/assets/js/main.js' %}"></script>
</body>

</html>