<!doctype html>
<html lang="zxx">
    <head>{% load static %}
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS --> 
        <link rel="stylesheet" href="{% static 'banking/assets/css/bootstrap.min.css' %}">
        <!-- Animate CSS --> 
        <link rel="stylesheet" href="{% static 'banking/assets/css/animate.min.css' %}">
        <!-- Meanmenu CSS -->
        <link rel="stylesheet" href="{% static 'banking/assets/css/meanmenu.css' %}">
        <!-- Boxicons CSS -->
        <link rel="stylesheet" href="{% static 'banking/assets/css/boxicons.min.css' %}">
        <!-- Flaticon CSS -->
        <link rel="stylesheet" href="{% static 'banking/assets/css/flaticon.css' %}">
        <!-- Nice Select CSS -->
        <link rel="stylesheet" href="{% static 'banking/assets/css/nice-select.min.css' %}">
        <!-- Owl Carousel CSS -->
        <link rel="stylesheet" href="{% static 'banking/assets/css/owl.carousel.min.css' %}">
        <!-- Owl Carousel Default CSS -->
        <link rel="stylesheet" href="{% static 'banking/assets/css/owl.theme.default.min.css' %}">
        <!-- Odometer CSS -->
        <link rel="stylesheet" href="{% static 'banking/assets/css/odometer.min.css' %}">
        <!-- Magnific Popup CSS -->
        <link rel="stylesheet" href="{% static 'banking/assets/css/magnific-popup.min.css' %}">
        <!-- Style CSS -->
        <link rel="stylesheet" href="{% static 'banking/assets/css/style.css' %}">
        <!-- Responsive CSS -->
		<link rel="stylesheet" href="{% static 'banking/assets/css/responsive.css' %}">
		
		<title>Leve - Online Banking & Payment Processing HTML Template</title>

        <link rel="icon" type="image/png" href="{% static 'banking/assets/img/favicon.png' %}">
    </head>

    <body>
        
        <!-- Start Preloader Area -->
        <div class="preloader">
            <div class="loader">
                <div class="shadow"></div>
                <div class="box"></div>
            </div>
        </div>
        <!-- End Preloader Area -->

        <!-- Start Top Header Area -->
        <div class="top-header-area">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <ul class="top-header-information">
                            <li>
                                <i class='bx bx-envelope'></i>
                                <a href="mailto:hello@gmail.com">hello@gmail.com</a>
                            </li>

                            <li>
                                <i class='bx bxs-phone'></i>
                                <a href="tel:15143125678">+1 (514) 312-5678</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-lg-6">
                        <ul class="top-header-others">
                            <li>
                                <i class='bx bxs-map'></i>
                                <a href="atm-and-bank-locations.html">ATMs location</a>
                            </li>

                            <li class="languages-list">
                                <select>
                                    <option value="1">English</option>
                                    <option value="2">العربيّة</option>
                                    <option value="3">Deutsch</option>
                                    <option value="3">Português</option>
                                    <option value="3">简体中文</option>
                                </select>
                            </li>

                            <li>
                                <i class='bx bx-user'></i>
                                <a href="my-account.html">Sign In</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Top Header Area -->

        {% include "banking/navbar.html" %}

        <!-- Start Page Banner -->
        <div class="page-banner-area" style="
        position: relative;
        z-index: 1;
        background-image: url('{% static 'banking/assets/images/page-banner-1.jpg' %}');
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100%;
        padding-top: 150px;
        padding-bottom: 150px;
        background-attachment: fixed;
        ">
            <div class="container">
                <div class="page-banner-content">
                    <h2>Pricing</h2>
                    <ul>
                        <li>
                            <a href="{% url 'banking_home' %}">Home</a>
                        </li>
                        <li>Pricing</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- End Page Banner -->

        <!-- Start Pricing Area -->
        <section class="pricing-area pt-100 pb-70">
            <div class="container">
                <div class="container">
                    <div class="tab pricing-list-tab">
                        <ul class="tabs">
                            <li>
                                <a href="#">
                                    Monthly
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Yearly
                                </a>
                            </li>
                        </ul>
    
                        <div class="tab_content">
                            <div class="tabs_item">
                                <div class="row">
                                    <div class="col-lg-4 col-md-6">
                                        <div class="single-pricing-box">
                                            <div class="pricing-header">
                                                <h3>Basic</h3>
                                            </div>
                
                                            <div class="price">
                                                $10 <span>m</span>
                                            </div>
                
                                            <ul class="pricing-features">
                                                <li><i class='bx bx-check'></i> Google analytics</li>
                                                <li><i class='bx bx-check'></i> Drag & drop widgets</li>
                                                <li><i class='bx bx-check'></i> Mobile + desktop apps</li>
                                                <li><i class='bx bx-check'></i> Messenger integration</li>
                                                <li><i class='bx bx-check'></i> 100 chatBot triggers</li>
                                                <li><i class='bx bx-check'></i> Unlimited broadcasts</li>
                                                <li><i class='bx bx-check'></i> Visitor info</li>
                                                <li><i class='bx bx-check'></i> Quick responses</li>
                                                <li><i class='bx bx-check'></i> 24/7 live chat</li>
                                                <li><i class='bx bx-check'></i> Email integration</li>
                                                <li><i class='bx bx-check'></i> Premium support</li>
                                                <li><i class='bx bx-check'></i> 2 Business mastercards</li>
                                                <li><i class='bx bx-check'></i> Up to 4 chat operators</li>
                                            </ul>
                
                                            <div class="pricing-btn">
                                                <a href="#" class="default-btn">
                                                    Get Started
                                                    <span></span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                
                                    <div class="col-lg-4 col-md-6">
                                        <div class="single-pricing-box">
                                            <div class="pricing-header">
                                                <h3>Advanced</h3>
                                            </div>
                
                                            <div class="price">
                                                $149 <span>m</span>
                                            </div>
                
                                            <ul class="pricing-features">
                                                <li><i class='bx bx-check'></i> Google analytics</li>
                                                <li><i class='bx bx-check'></i> Drag & drop widgets</li>
                                                <li><i class='bx bx-check'></i> Mobile + desktop apps</li>
                                                <li><i class='bx bx-check'></i> Messenger integration</li>
                                                <li><i class='bx bx-check'></i> 100 chatBot triggers</li>
                                                <li><i class='bx bx-check'></i> Unlimited broadcasts</li>
                                                <li><i class='bx bx-check'></i> Visitor info</li>
                                                <li><i class='bx bx-check'></i> Quick responses</li>
                                                <li><i class='bx bx-check'></i> 24/7 live chat</li>
                                                <li><i class='bx bx-check'></i> Email integration</li>
                                                <li><i class='bx bx-check'></i> Premium support</li>
                                                <li><i class='bx bx-check'></i> 2 Business mastercards</li>
                                                <li><i class='bx bx-check'></i> Up to 4 chat operators</li>
                                            </ul>
                
                                            <div class="pricing-btn">
                                                <a href="#" class="default-btn">
                                                    Get Started
                                                    <span></span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                
                                    <div class="col-lg-4 col-md-6 offset-lg-0 offset-md-3">
                                        <div class="single-pricing-box">
                                            <div class="pricing-header">
                                                <h3>Premium</h3>
                                            </div>
                
                                            <div class="price">
                                                $179 <span>m</span>
                                            </div>
                
                                            <ul class="pricing-features">
                                                <li><i class='bx bx-check'></i> Google analytics</li>
                                                <li><i class='bx bx-check'></i> Drag & drop widgets</li>
                                                <li><i class='bx bx-check'></i> Mobile + desktop apps</li>
                                                <li><i class='bx bx-check'></i> Messenger integration</li>
                                                <li><i class='bx bx-check'></i> 100 chatBot triggers</li>
                                                <li><i class='bx bx-check'></i> Unlimited broadcasts</li>
                                                <li><i class='bx bx-check'></i> Visitor info</li>
                                                <li><i class='bx bx-check'></i> Quick responses</li>
                                                <li><i class='bx bx-check'></i> 24/7 live chat</li>
                                                <li><i class='bx bx-check'></i> Email integration</li>
                                                <li><i class='bx bx-check'></i> Premium support</li>
                                                <li><i class='bx bx-check'></i> 2 Business mastercards</li>
                                                <li><i class='bx bx-check'></i> Up to 4 chat operators</li>
                                            </ul>
                
                                            <div class="pricing-btn">
                                                <a href="#" class="default-btn">
                                                    Get Started
                                                    <span></span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
    
                            <div class="tabs_item">
                                <div class="row">
                                    <div class="col-lg-4 col-md-6">
                                        <div class="single-pricing-box">
                                            <div class="pricing-header">
                                                <h3>Basic</h3>
                                            </div>
                
                                            <div class="price">
                                                $100 <span>y</span>
                                            </div>
                
                                            <ul class="pricing-features">
                                                <li><i class='bx bx-check'></i> Google analytics</li>
                                                <li><i class='bx bx-check'></i> Drag & drop widgets</li>
                                                <li><i class='bx bx-check'></i> Mobile + desktop apps</li>
                                                <li><i class='bx bx-check'></i> Messenger integration</li>
                                                <li><i class='bx bx-check'></i> 100 chatBot triggers</li>
                                                <li><i class='bx bx-check'></i> Unlimited broadcasts</li>
                                                <li><i class='bx bx-check'></i> Visitor info</li>
                                                <li><i class='bx bx-check'></i> Quick responses</li>
                                                <li><i class='bx bx-check'></i> 24/7 live chat</li>
                                                <li><i class='bx bx-check'></i> Email integration</li>
                                                <li><i class='bx bx-check'></i> Premium support</li>
                                                <li><i class='bx bx-check'></i> 2 Business mastercards</li>
                                                <li><i class='bx bx-check'></i> Up to 4 chat operators</li>
                                            </ul>
                
                                            <div class="pricing-btn">
                                                <a href="#" class="default-btn">
                                                    Get Started
                                                    <span></span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                
                                    <div class="col-lg-4 col-md-6">
                                        <div class="single-pricing-box">
                                            <div class="pricing-header">
                                                <h3>Advanced</h3>
                                            </div>
                
                                            <div class="price">
                                                $249 <span>y</span>
                                            </div>
                
                                            <ul class="pricing-features">
                                                <li><i class='bx bx-check'></i> Google analytics</li>
                                                <li><i class='bx bx-check'></i> Drag & drop widgets</li>
                                                <li><i class='bx bx-check'></i> Mobile + desktop apps</li>
                                                <li><i class='bx bx-check'></i> Messenger integration</li>
                                                <li><i class='bx bx-check'></i> 100 chatBot triggers</li>
                                                <li><i class='bx bx-check'></i> Unlimited broadcasts</li>
                                                <li><i class='bx bx-check'></i> Visitor info</li>
                                                <li><i class='bx bx-check'></i> Quick responses</li>
                                                <li><i class='bx bx-check'></i> 24/7 live chat</li>
                                                <li><i class='bx bx-check'></i> Email integration</li>
                                                <li><i class='bx bx-check'></i> Premium support</li>
                                                <li><i class='bx bx-check'></i> 2 Business mastercards</li>
                                                <li><i class='bx bx-check'></i> Up to 4 chat operators</li>
                                            </ul>
                
                                            <div class="pricing-btn">
                                                <a href="#" class="default-btn">
                                                    Get Started
                                                    <span></span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                
                                    <div class="col-lg-4 col-md-6 offset-lg-0 offset-md-3">
                                        <div class="single-pricing-box">
                                            <div class="pricing-header">
                                                <h3>Premium</h3>
                                            </div>
                
                                            <div class="price">
                                                $379 <span>y</span>
                                            </div>
                
                                            <ul class="pricing-features">
                                                <li><i class='bx bx-check'></i> Google analytics</li>
                                                <li><i class='bx bx-check'></i> Drag & drop widgets</li>
                                                <li><i class='bx bx-check'></i> Mobile + desktop apps</li>
                                                <li><i class='bx bx-check'></i> Messenger integration</li>
                                                <li><i class='bx bx-check'></i> 100 chatBot triggers</li>
                                                <li><i class='bx bx-check'></i> Unlimited broadcasts</li>
                                                <li><i class='bx bx-check'></i> Visitor info</li>
                                                <li><i class='bx bx-check'></i> Quick responses</li>
                                                <li><i class='bx bx-check'></i> 24/7 live chat</li>
                                                <li><i class='bx bx-check'></i> Email integration</li>
                                                <li><i class='bx bx-check'></i> Premium support</li>
                                                <li><i class='bx bx-check'></i> 2 Business mastercards</li>
                                                <li><i class='bx bx-check'></i> Up to 4 chat operators</li>
                                            </ul>
                
                                            <div class="pricing-btn">
                                                <a href="#" class="default-btn">
                                                    Get Started
                                                    <span></span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Pricing Area -->

        {% include "banking/footer.html" %}

        <!-- Start Copy Right Area -->
        <div class="copyright-area">
            <div class="container">
                <div class="copyright-area-content">
                    <p>
                        Copyright © 2021 Leve. All Rights Reserved by
                        <a href="https://envytheme.com/" target="_blank">EnvyTheme</a>
                    </p>
                </div>
            </div>
        </div>
        <!-- End Copy Right Area -->

        <!-- Start Go Top Area -->
        <div class="go-top">
            <i class='bx bx-up-arrow-alt'></i>
        </div>
        <!-- End Go Top Area -->
        
        <!-- Jquery Slim JS -->
        <script src="{% static 'banking/assets/js/jquery.min.js' %}"></script>
        <!-- Popper JS -->
        <script src="{% static 'banking/assets/js/popper.min.js' %}"></script>
        <!-- Bootstrap JS -->
        <script src="{% static 'banking/assets/js/bootstrap.min.js' %}"></script>
        <!-- Meanmenu JS -->
        <script src="{% static 'banking/assets/js/jquery.meanmenu.js' %}"></script>
        <!-- Nice Select JS -->
        <script src="{% static 'banking/assets/js/jquery.nice-select.min.js' %}"></script>
        <!-- Owl Carousel JS -->
        <script src="{% static 'banking/assets/js/owl.carousel.min.js' %}"></script>
        <!-- Magnific Popup JS -->
        <script src="{% static 'banking/assets/js/jquery.magnific-popup.min.js' %}"></script>
        <!-- Odometer JS -->
        <script src="{% static 'banking/assets/js/odometer.min.js' %}"></script>
        <!-- Jquery Appear JS -->
        <script src="{% static 'banking/assets/js/jquery.appear.min.js' %}"></script>
        <!-- Ajaxchimp JS -->
		<script src="{% static 'banking/assets/js/jquery.ajaxchimp.min.js' %}"></script>
		<!-- Form Validator JS -->
		<script src="{% static 'banking/assets/js/form-validator.min.js' %}"></script>
		<!-- Contact JS -->
        <script src="{% static 'banking/assets/js/contact-form-script.js' %}"></script>
        <!-- Wow JS -->
        <script src="{% static 'banking/assets/js/wow.min.js' %}"></script>
        <!-- Custom JS -->
        <script src="{% static 'banking/assets/js/main.js' %}"></script>
    </body>
</html>