{% extends "pages/base-covid19.html" %}
{% load static %}

{% block extrastyle %}
{% endblock extrastyle %}
<!-- ============================================================== -->
<!--            Content Start             -->
<!-- ============================================================== -->
{% block content %}

<div class="row page-header">
   <div class="col-lg-6 align-self-center ">
      <h2>How to Apply for the Paycheck Protection Plan
</h2>
   </div>
</div>
<section class="main-content">
   <div class="row">
      <div class="col-md-12">
        <iframe width="100%" height="515" src="https://www.youtube.com/embed/e0DN7dUU2do" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
   </div>
   <div class="row">
      <div class="col-md-12">
         <div class="card-body">
          <center> <h3>Watch The Video Above To Learn How to Apply For The Paycheck Protection Plan
 <br><br>
<a target="_blank" class="btn btn-primary" href="https://www.sba.gov/funding-programs/loans/coronavirus-relief-options/paycheck-protection-program">Click Here To Go Apply For The PPP Program</a></center>
      </div>
   </div>
</section>

{% endblock %}
