{% extends "pages/base-covid19.html" %}
{% load static %}

{% block extrastyle %}
{% endblock extrastyle %}
<!-- ============================================================== -->
<!--            Content Start             -->
<!-- ============================================================== -->
{% block content %}

<div class="row page-header">
   <div class="col-lg-6 align-self-center ">
      <h2>Paycheck Protection Program (PPP Loan) Explained | Coronavirus COVID 19 CARES Act Stimulus Package</h2>
   </div>
</div>
<section class="main-content">
   <div class="row">
      <div class="col-md-12">
        <iframe width="100%" height="515" src="https://www.youtube.com/embed/29op-ByWe6o" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> </div>
   </div>
   <div class="row">
      <div class="col-md-12">
         <div class="card-body">
          <center> <h3>Watch The Video Above To Learn About The Paycheck Protection Program (PPP Loan) Explained | Coronavirus COVID 19 CARES Act Stimulus Package</center>
      </div>
   </div>
</section>

{% endblock %}
