<div class="row">
    <div class="col-md-12">
        <iframe width="100%" height="515" src="https://www.youtube.com/embed/nussKt3CTzY" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
    </div>
</div>

<div class="row">
    <div class="col-xl-6">
        <div class="card">
            <div class="card-body">
                <img src="https://images.pexels.com/photos/1181715/pexels-photo-1181715.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                     height="200px" width="100%" alt="">
                <br><br>
                <h3><b>Step 1</b></h3>
                <h5 class="card-title">DO YOU HAVE A BUSINESS ENTITY?</h5>
                <h5 class="card-title">It’s important that you have a strong business foundation and it all
                    starts with filing your business entity with your Secretary of State. Each stage has a
                    different filing and fee structure. Like a birth certificate is to an individual a business
                    entity is the birth of a business.</h5>
            </div>
        </div>
    </div>

    <div class="col-xl-6">
        <div class="card">
            <div class="card-body">
                <img src="https://images.pexels.com/photos/2422293/pexels-photo-2422293.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                     height="200px" width="100%" alt="">
                <br><br>
                <h3><b>Step 2</b></h3>
                <h5 class="card-title">FILE A BUSINESS ENTITY</h5>
                <h5 class="card-title">It’s important that you have a strong business foundation and it all
                    starts with filing your business entity with your Secretary of State. Each stage has a
                    different filing and fee structure. Like a birth certificate is to an individual a business
                    entity is the birth of a business.</h5>
                <div class="btn-group">
                    <a target="_blank" class="btn btn-primary" href="https://www.mycorporation.com/?kbid=11145">Click
                        To File As A Corporation</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-6">
        <div class="card">
            <div class="card-body">
                <img src="https://images.pexels.com/photos/443383/pexels-photo-443383.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                     height="200px" width="100%" alt="">
                <br><br>
                <h3><b>Step 3</b></h3>
                <h5 class="card-title">ON YOUR BUSINESS ENTITY DOCUMENTS, ARE THE BUSINESS ADDRESS & OWNERSHIP
                    CORRECT?</h5>
                <h5 class="card-title">Your business name, address, contact information, and ownership should be
                    100% correct. Lenders and others will pull these records to verify the business
                            information​. Please don't move forward until all information listed on your entity filing
                            is correct.</h5>
                        <h5 class="card-title">It’s important that you have a strong business foundation and it all
                            starts with filing your business entity with your Secretary of State. Each stage has a
                            different filing and fee structure. Like a birth certificate is to an individual a business
                            entity is the birth of a business.</h5>
                    </div>
                </div>
            </div>
        </div>