<div class="row">
            <div class="col-md-12">
                <iframe width="100%" height="515" src="https://www.youtube.com/embed/Gftwjnh2Rgk" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
            </div>
        </div>
        <br><br>

        <div class="row justify-content-center">

            <div class="col-md-6">
                <div class="card mb-4 shadow-sm">
                    <iframe width="100%" height="315" src="https://www.youtube.com/embed/WabAwOVDyLo" frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    <div class="card-body">
                        <h4>Premium Website & Website Builder</h4>

                        <li>All Professional Plan Features + E-Commerce / Online Store</li>
                        <li>Connect Your Domain</li>
                        <li>You get a Free Secure SSL certificate (Value $100)</li>
                        <li>Unlimited Store Products</li>
                        <li>No Transaction Fees</li>
                        <li>Facebook Shop</li>
                        <li> Mobile Point-of-Sale</li>
                        <li>Sell Digital Goods</li>
                        <li>Shopping Cart On Your Domain</li>
                        <li>Inventory Management</li>
                        <li>Discount Coupons</li>
                        <li>Automated Shipping & Tax Calculator</li>
                        <br>
                        <div class="text-center">
                            Websites We Have Built:<br>
                            <a href="http://rochellehardymd.com/">http://rochellehardymd.com/</a><br>
                            <a href="https://www.livingwatersministry.org/">https://www.livingwatersministry.org/</a><br>
                            <a href="https://tappandentistry.com/">https://tappandentistry.com/</a><br><br>
                            <a href="{% url "business:business-credit-steps-onlyprograms" %}" class="btn btn-primary">Order
                                now</a>

                        </div>

                    </div>

                </div>
            </div>
        </div>