{% extends "userBase.html" %}
{% load i18n %}
{% block extrastyle %}
    <style>
    .misc-box{
        background-color: {{ dynamic.login_window_color }};
    }
    </style>
{% endblock %}
{% block content %}
    <p>We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You
        should receive them shortly.</p>

    <p>If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your
        spam folder.</p>

    </form>
    <style>
        .clearfix {
            height: 40px;
        }
    </style>

{% endblock %}
