{% extends "userBase.html" %}
{% block extrastyle %}
    <style>
    .misc-box{
        background-color: {{ dynamic.login_window_color }};
    }
    </style>
{% endblock %}


{% block content %}

    <form class="new_user" id="new_user" accept-charset="UTF-8" method="post">{% csrf_token %}
        {% if form.errors %}
            <p class="errornote">
                {% if form.errors.items|length == 1 %}Please correct the error below.{% else %}Please correct the errors
                    below.{% endif %}
            </p>
        {% endif %}

        {% if validlink %}
            <p>Please enter your old password, for security’s sake, and then enter your new password twice so we can
                verify you typed it in correctly.</p>
            <div class="form-row">
                {{ form.old_password.errors }}
                {{ form.old_password.label_tag }} {{ form.old_password }}
            </div>

            <div class="form-group">
                <div class="form-row field-password1">
                    {{ form.new_password1.errors }}
                    <label for="id_new_password1">New password:</label>
                    {{ form.new_password1 }}
                </div>
            </div>

            <div class="form-group">
                <div class="form-row field-password2">
                    {{ form.new_password2.errors }}
                    <label for="id_new_password2">Confirm password:</label>
                    {{ form.new_password2 }}
                </div>
            </div>

            <div class="clearfix">

                <div class="float-right">
                    <input type="submit" name="commit" value="Change my password"
                           class="newButton btn btn-block btn-primary btn-rounded box-shadow"
                           data-disable-with="Change my password"/>
                </div>
            </div>
            <br>
        {% endif %}
        <p class=" text-center">Do Not Have An Account?</p>
        <a class="btn btn-block btn-success btn-rounded box-shadow" href="{% url 'user:login' %}">Login</a>
    </form>

    <style>
        .clearfix {
            height: 40px;
        }

        input {
            width: 92% !important;
            height: 18px !important;
        }

        .newButton {
            height: 40px !important;
            width: 100% !important;;
        }
    </style>

{% endblock %}