{% extends "business-credit-course-template.html" %}
{% load static %}
{% block title %}
    Set Up Business Website
{% endblock title %}
{% block img-url %}
    https://images.pexels.com/photos/48148/document-agreement-documents-sign-48148.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500
{% endblock img-url %}
{% block card-content %}
First, conduct a Domain Name Search to check the availability of the domain name you
                        want for your business website. If your business name is already taken try some variations of it
                        until you find an available one. Then purchase it.
                        <br><br>
                        Lenders and credit providers will check to see that you have a professional website and email
                        address. Whether you want a new website that is custom built for your business or you prefer to
                        upgrade your existing one, there is a solution.
{% endblock card-content %}
