{% extends "business-credit-course-template.html" %}
{% load static %}
{% block title %}
    Set Up Professional Email Address
{% endblock title %}
{% block img-url %}
    https://images.pexels.com/photos/48148/document-agreement-documents-sign-48148.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500
{% endblock img-url %}
{% block card-content %}
    It’s important to get a dedicated company email address for your business. It’s not only
    professional, but greatly helps your chances of getting the thumbs up from a credit provider. A
    great example is an email such as sales@yourcompany.com or support@yourcompany.com. <br><br>
    What you want to avoid is using a free service like Gmail, Yahoo and Hotmail. The email address
    has to be @yourcompany.com. There is nothing worse than potential credit providers noticing your
    company email address is buddyrocks21@yahoo.com. Setting up a business email address is easy and
    can be an add on option when registering your domain name.
{% endblock card-content %}
