{% extends "business-credit-course-template.html" %}
{% load static %}
{% block title %}
    Set Up Business Bank Account
{% endblock title %}
{% block img-url %}
    https://images.pexels.com/photos/48148/document-agreement-documents-sign-48148.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500
{% endblock img-url %}
{% block card-content %}
    Decide which bank you want to open an account with and call or email them. Ask what
    their specific requirements are for opening a business checking account. Most banks require a
    copy of your business certificate from the secretary of state, an IRS document with your EIN
    number on it, and sometimes your articles of incorporation.
{% endblock card-content %}
