{% extends "business-credit-course-template.html" %}
{% load static %}
{% block title %}
    Set Up Merchant Credit Card Processing
{% endblock title %}
{% block img-url %}
    https://images.pexels.com/photos/48148/document-agreement-documents-sign-48148.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500
{% endblock img-url %}
{% block card-content %}
    Most businesses can benefit from being able to accept credit cards as payment for their
    products and services. Could your business benefit? There is no shortage of sources in the
    marketplace that can provide you with a merchant account, a processing gateway and any necessary
    equipment so you can accept credit cards from your customers. In fact, your bank will more than
    likely want to be that merchant solution for your business.
    <br><br>
    However, it’s important to explore your options before setting up a merchant account with your
    bank. If may be convenient but can also limit your financing and credit options. For example,
    there are several funding programs based on merchant processing and not on standard credit
    underwriting.
{% endblock card-content %}
