{% extends "business-credit-course-template.html" %}
{% load static %}
{% block title %}
    Verify Each Agency Has Your Business Listed the Same
{% endblock title %}
{% block img-url %}
    https://images.pexels.com/photos/48148/document-agreement-documents-sign-48148.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500
{% endblock img-url %}
{% block card-content %}
    Take the time to verify that these main agencies (State, IRS, Bank, and 411 national
    directory) have your business listed the same way and with your Exact Legal Name. Also, take the
    time to ensure every bill you get (power bill, phone bill, landlord, etc.) has the business name
    listed correctly and comes to the business address.
{% endblock card-content %}

