{% extends "business-credit-course-template.html" %}
{% load static %}
{% block title %}
    Verify Business Listings Match
{% endblock title %}
{% block img-url %}
    https://images.pexels.com/photos/48148/document-agreement-documents-sign-48148.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500
{% endblock img-url %}
{% block card-content %}
    Before moving on to the next step take the time now to verify that each agency has your
    business listed the same.
    <br><br>
    State business filings listed correctly
    <br><br>
    County licenses and/or permits listed correctly
    <br><br>
    City license and/or permit filings listed correctly
    <br><br>
    IRS filings listed correctly
    <br><br>
    Bank account listed correctly
    <br><br>
    411 directory assistance listed correctly
{% endblock card-content %}

