{% extends "business-credit-course-template.html" %}
{% load static %}
{% block title %}
    Create a Business Plan
{% endblock title %}
{% block img-url %}
    https://images.pexels.com/photos/48148/document-agreement-documents-sign-48148.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500
{% endblock img-url %}
{% block card-content %}
    The following are key aspects that every business plan should include:
    <br><br>
    The Executive Summary – a 30 second pitch that outlines your business.
    <br><br>
    Market Analysis – How big of a role you intent to play and why.
    <br><br>
    Company Description – An overview of what the business will do and why it is viable.
    <br><br>
    Organization & Management – Outline of the experience and expertise the company has.
    <br><br>
    Marketing & Sales – Your strategy for customer acquisition and how it will be done.
    <br><br>
    Products or Services – What product is the company going to develop or offer.
    <br><br>
    Capitalization Requirements – How much funding is required and how will it be raised.
    <br><br>
    Financials – At least 2 years of projected sales revenue that the industry and market can
    support.
{% endblock card-content %}

