{% extends "business-credit-course-template.html" %}
{% load static %}
{% block title %}
    Form a Corporation or LLC
{% endblock title %}
{% block img-url %}
    https://images.pexels.com/photos/48148/document-agreement-documents-sign-48148.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500
{% endblock img-url %}
{% block card-content %}
    We highly recommend that you build business credit as a corporation or Limited Liability
    Company (LLC). If you need to form a separate entity take 10 minutes to SET ONE UP NOW! In
    order to maximize your funding potential and build a business credit profile that is
    separate from your personal credit you need to form a corporation or LLC. Once you’ve formed
    a separate legal entity for your business, you must make sure everything relating to the
    business is done in the business name. Although you may need to personally sign for certain
    transaction as an authorized officer of the business, your corporation or LLC is actually
    the one doing business.
{% endblock card-content %}
