{% extends "business-credit-course-template.html" %}
{% load static %}
{% block title %}
    List Business Assets
{% endblock title %}
{% block img-url %}
    https://images.pexels.com/photos/48148/document-agreement-documents-sign-48148.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500
{% endblock img-url %}
{% block card-content %}
    What is the amount of outstanding invoices you have with customers?
    <br><br>
    What is the current amount of existing purchase orders?
    <br><br>
    What is the total value of equipment owned outright by the business?
{% endblock card-content %}

