{% extends "business-credit-course-template.html" %}
{% load static %}
{% block title %}
    Establish a Low 5 Business Bank Rating
{% endblock title %}
{% block img-url %}
    https://images.pexels.com/photos/48148/document-agreement-documents-sign-48148.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500
{% endblock img-url %}
{% block card-content %}
    If you have the ability to establish a Low 5 Bank Rating ($10k+ account balance) then do
    so as soon as possible. Although this task does not impact the business credit building process
    it does position your company to potentially receive a traditional loan from your financial
    institution
{% endblock card-content %}

