{% extends "business-credit-course-template.html" %}
{% load static %}
{% block title %}
    Secure a Business Loan
{% endblock title %}
{% block img-url %}
    https://images.pexels.com/photos/48148/document-agreement-documents-sign-48148.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500
{% endblock img-url %}
{% block card-content %}
    How do you accomplish this? In this task you will be securing a business loan with a
    certificate of deposit (CD) at the bank that is extending the business loan. You’ll make a
    deposit into a CD account at an SBA preferred lending bank. Then, you receive a business loan
    for 100% of the value of the CD.
    <br><br>
    The process works very well and works every time so long as your personal credit is at least
    favorable in the 680+ range. The bank is not basing your business loan on your personal credit,
    but if your FICO® scores are in the low 500 range they may not do this deal for you. If your
    scores are low it is best to try small business banks and speak with an individual banker first.
    <br><br>
    So where does your deposit come from? You can start with as little as $5,000. There are various
    ways to obtain the money needed for the bank CD deposit: family, friends, savings, garage sales,
    or any of the creative funding programs in the steps that follow.
    <br><br>
    The Features of a Secured Bank Loan:
    <br><br>
    1. It will appear on your business credit report just like any other loan.
    <br><br>
    2. There will be no note in your file, or on your business credit reports, that show it’s
    “secured”.
    <br><br>
    3. It will make your business credit report stand out to other banks and lenders who obviously
    know how hard it is to obtain a business bank loan.
{% endblock card-content %}

