{% extends "business-credit-course-template.html" %}
{% load static %}
{% block title %}
    Order Your Equifax Small Business Credit Report
{% endblock title %}
{% block img-url %}
    https://images.pexels.com/photos/48148/document-agreement-documents-sign-48148.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500
{% endblock img-url %}
{% block card-content %}
    If your business is listed with Equifax Small Business you can either order your report
    online as outlined in Task #1 or you can get a free copy the old fashion way.
    <br><br>
    By phone – You can call 1-800-727-8495 to be mailed a free copy, but only after your business
    has applied for credit with a lender or supplier that shares data with Equifax Small Business
    within the last 60 days. Lenders will not pull your company’s Equifax report without your
    authorization so you should know when a lender or supplier has requested it. Remember, whether
    your company was approved or denied credit, only that you applied entitles you to a free report.
    <br><br>
    By mail – You can get a free copy of your Equifax Small Business Credit Report, even if you
    haven’t applied for any type of business in the last 60 days by mailing your request to the
    following address: Equifax P.O. Box 740249 Atlanta, GA 30374-0249
    <br><br>
    Your request letter should say, Please forward me a copy of the available commercial credit
    report for: and then provide the exact legal name of your business, business address, EIN
    number, business phone number, and owner name.
    <br><br>
    Remember, if your business is less than a year old and it hasn’t applied for credit then most
    likely your company does not have a listing. But, even if you haven’t applied for any type of
    credit but your company is more than a year old than you may have a business listing but it
    labeled as an empty file.
{% endblock card-content %}

