{% extends "business-credit-course-template.html" %}
{% load static %}
{% block title %}
    Search for Your Business on D&B{% endblock title %}
{% block img-url %}
    https://images.pexels.com/photos/48148/document-agreement-documents-sign-48148.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500
{% endblock img-url %}
{% block card-content %}
    First step is to check and see if your company is already listed with Dun & Bradstreet
    by running a search. The search results will show whether or not your business currently has a
    file with Dun & Bradstreet. Depending on your results, you’ll want to follow the instructions in
    Task 2 or Task 3.
{% endblock card-content %}

