{% extends "business-credit-course-template.html" %}
{% load static %}
{% block title %}
    Task Number 2 - If Your Company Shows Up in Search
{% endblock title %}
{% block img-url %}
    https://images.pexels.com/photos/48148/document-agreement-documents-sign-48148.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500
{% endblock img-url %}
{% block card-content %}
    If your company shows up then you may want to sign-up for Credit Signal to get free
    access to changes in your D&B credit scores and ratings. With Credit Signal you’ll know
    firsthand whether your business credit scores have been affected by your business
    activities.
{% endblock card-content %}

