{% extends "business-credit-course-template.html" %}
{% load static %}
{% block title %}
    File for "Foreign Corporation" status
{% endblock title %}
{% block img-url %}
    https://images.pexels.com/photos/48148/document-agreement-documents-sign-48148.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500
{% endblock img-url %}
{% block card-content %}
    If the State where your business was formed does not match the State of its primary location then your business will
    need to file for “Foreign Corporation” status and obtain a “Certificate of Authority” in the State where it is
    located and does business from. For example, if your business was incorporated in Nevada or Delaware, but its
    primary location is in Illinois or California, then you will have to file for Foreign Corporation status in either
    Illinois or California.
{% endblock card-content %}
