{% extends "business-credit-course-template.html" %}
{% load static %}
{% block title %}
    Task Number 3 - If Your Company Does Not Show Up in Search
{% endblock title %}
{% block img-url %}
    https://images.pexels.com/photos/48148/document-agreement-documents-sign-48148.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500
{% endblock img-url %}
{% block card-content %}
    If your company does not show up you’ll need to get a D-U-N-S® Number as soon as
    possible. You can go the free route and apply for a free D-U-N-S Number which takes about 30
    days to receive. You’ll need to know your SIC code for this process. Go to NAICS.com and scroll
    down to the “Search SIC Codes by Industry” box.
{% endblock card-content %}

