{% extends "business-credit-course-template.html" %}
{% load static %}
{% block title %}
    Equifax Small Business Credit Risk Score
{% endblock title %}
{% block img-url %}
    https://images.pexels.com/photos/48148/document-agreement-documents-sign-48148.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500
{% endblock img-url %}
{% block card-content %}
    Equifax Small Business is more guarded about what their commercial scoring model is
    based on. However, it's safe to say a large portion of their risk scoring model is based on
    making payments on time and keeping your company's report free from any public records,
    collections, or excessive credit inquiries. The score used for businesses is known as the Small
    Business Credit Risk Score. To view a sample score report click on the download file below.
{% endblock card-content %}

