

{% extends "business-credit-course-template.html" %}
{% load static %}
{% block title %}
    Your Business Address
{% endblock title %}
{% block img-url %}
    https://images.pexels.com/photos/48148/document-agreement-documents-sign-48148.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500
{% endblock img-url %}
{% block card-content %}
    The address of your business needs to look like a business address. Do not use a post office box for your physical
    business address. You can use it for a business mailing address which is a separate address. You can use your home
    address for business credit building, but be aware that some lenders will not fund “home based” businesses. This
    will not stop you from building business credit scores, but may limit your funding options. <br><br>
    The best way to know if the address you are using will work or not is to test it using Experian’s address
    verification tool. If the address shows “residential or mail stop” it is something you should fix. If the address
    comes back as “business or unknown”, you are fine using that address for your business.
{% endblock card-content %}
