

{% extends "business-credit-course-template.html" %}
{% load static %}
{% block title %}
    Set Up a True Business Address
{% endblock title %}
{% block img-url %}
    https://images.pexels.com/photos/48148/document-agreement-documents-sign-48148.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500
{% endblock img-url %}
{% block card-content %}
    To properly establish and build credit, your business needs a deliverable physical address and not a PO Box. In
    fact, many lenders and credit providers may “flag” your business even if you try to use a reformatted address from
    service locations like the UPS Store, Mail Boxes Etc. and Postal Annex.
    <br><br>
    If you don’t have an actual storefront or office location, you can run your business from anywhere and still have a
    qualifying business address with solutions like these:
    <br><br>
    => Address Only – Receive mail and packages at your dedicated business address.
    <br><br>
    => Virtual Office – Professional business address, dedicated phone and fax numbers, receptionist services, and
    part-time use of fully furnished offices and meeting rooms.
    <br><br>
    => True Office – Your own full-time private office with receptionist services, dedicated phone and fax, internet,
    full furnishings, meeting rooms, and more.

{% endblock card-content %}
