{% extends "business-credit-course-template.html" %}
{% load static %}
{% block title %}
    Business Phone Number
{% endblock title %}
{% block img-url %}
    https://images.pexels.com/photos/48148/document-agreement-documents-sign-48148.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500
{% endblock img-url %}
{% block card-content %}
    You must have a dedicated business phone number that is listed with 411 directory assistance, under the business
    name. Do not use your home phone number. Lenders, vendors, creditors, and even insurance providers will verify that
    your business is listed with 411. A toll-free number will give your business credibility, but you must have a local
    business number in order to get listed in 411 directory assistance. <br><br>
    Boost Perception With an 800 Number
    How to lenders, vendors and customers see your business? It’s easy and inexpensive to ADD a virtual toll free 800 or
    8** numberas one of your business numbers. <br><br>
    Even if you’re a single owner with a home-based business, a toll-free number provides the perception that you are a
    real business. Some of the advanced features include: multiple extensions, customized music-on-hold, voicemail,
    flexible call forwarding options, and more.
    <br><br>
    Whether you’re applying for financing with a lender or net credit terms with a vendor, providing a cell of home
    phone number as your main business phone line could get you “flagged” as an un-established business that is too high
    of a risk. This means we DON’T recommend giving a personal cell phone or residential phone as the business phone
    number. (note: you can forward a virtual number to any phone number, see the information in the paragraph above)


{% endblock card-content %}
