{% extends "business-credit-course-template.html" %}
{% load static %}
{% block title %}
    Business Fax Number
{% endblock title %}
{% block img-url %}
    https://images.pexels.com/photos/48148/document-agreement-documents-sign-48148.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500
{% endblock img-url %}
{% block card-content %}
    Many people say that faxing is outdated and a thing of the past. That is simply not true
    when it comes to lenders and credit providers. As a business, you will need a fax number to
    receive important documents and fax in credit applications.
{% endblock card-content %}
