{% extends "business-credit-course-template.html" %}
{% load static %}
{% block title %}
    Submitting Your Number to 411 Directory
{% endblock title %}
{% block img-url %}
    https://images.pexels.com/photos/48148/document-agreement-documents-sign-48148.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500
{% endblock img-url %}
{% block card-content %}
    To get your business number listed we suggest to contact your local phone carrier and
    request your business phone line to be added in the 411. Keep in mind that you’ll need to have
    your phone service with them in order to get a number listed.
    <br><br>
    Another option is to list your business with ListYourself.net. The service is free and has been
    proven to be very effective to solve the 411 directory assistance listing. CLICK HERE to submit
    your business phone number.
    <br><br>
    Once you have submitted your business phone number, you will need to verify that you are listed
    under 411. To do this you will: (Dial your area code)-555-1212 and then simply ask for the
    listing of your exact business legal name. If possible, do not use a cell phone to check your
    listing.
{% endblock card-content %}
