{% extends "pages/base-businesscreditcourse.html" %}
{% load static %}
{% block content %}
    <div class="row page-header">
        <div class="col-lg-6 align-self-center">
            <h2>
                {% block title %}
                {% endblock title %}
            </h2>
        </div>
    </div>
    <section class="main-content">
        <div class="row justify-content-center">
            <div class="col-md-8 col-sm-6">
                <div class="card mb-4 shadow-sm">
                    <img src="{% block img-url %}{% endblock img-url %}"
                         height="270px" width="100%" alt="">
                    <div class="card-body">
                        <h3>
                            {% block card-content %}
                            {% endblock card-content %}
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
