{% extends "business-credit-course-template.html" %}
{% load static %}
{% block title %}
    Select the Entity Structure of Your Business
{% endblock title %}
{% block img-url %}
    https://images.pexels.com/photos/48148/document-agreement-documents-sign-48148.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500
{% endblock img-url %}
{% block card-content %}
    Set up a business entity or make sure your existing entity is set up correctly. It’s best to
    build business credit with an LLC or Corporation (S or C Corporation). Creditors, Suppliers,
    Lenders, etc. prefer to see an actual business entity. In addition, a corporation or an LLC
    is treated as a separate legal entity which separates you personally from the liability of
    operating your business. Be sure to compare each entity so you can see the difference
    between the most common entities.
{% endblock card-content %}
