{% extends "business-credit-course-template.html" %}
{% load static %}
{% block title %}
    Obtain a Federal Employer Identification Number (EIN)
{% endblock title %}
{% block img-url %}
    https://images.pexels.com/photos/48148/document-agreement-documents-sign-48148.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500
{% endblock img-url %}
{% block card-content %}
    To build business credit your business must have a Federal Tax Identification Number
    (EIN). To obtain an EIN, or to determine if you need a new one go to irs.gov and do it yourself
    or simply have a professional incorporation service provider do it for you.
{% endblock card-content %}

