<div class="row page-header">
    <div class="col-lg-6 align-self-center ">
        <h2>Business Credit Building Steps You Need Done For You</h2>
    </div>
</div>
<div class="room">
    <section class="main-content">
        <div class="row">
            <div class="col-md-12">
                <iframe width="100%" height="515" src="https://www.youtube.com/embed/86-3dyRmSXw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <h3> Watch The Introduction Video To Understand How To Use The Extension</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form method="post">{% csrf_token %}
                    <div class="row mb-2">
                        <div class="col-6">
                            {{ form.first_name.label_tag }}{{ form.first_name }}
                        </div>
                        <div class="col-6">
                            {{ form.last_name.label_tag }}{{ form.last_name }}
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-12">
                            {{ form.email.label_tag }}{{ form.email }}
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-12">
                            {{ form.phone.label_tag }}{{ form.phone }}
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-12 font-weight-bold">
                            Choose The Business Credit Building Steps From The List That You Need
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-6 d-flex flex-column">
                            <div class="text-center mb-2 font-weight-bold">
                                Monthly Options
                            </div>
                            <div>
                                <input type="checkbox" name="website" id="website">
                                <label for="website">Website: $50 USD - monthly</label>
                            </div>
                            <div>
                                <input type="checkbox" name="toll_free_number" id="toll_free">
                                <label for="toll_free">Toll Free Number: $40 USD - monthly</label>
                            </div>
                            <div>
                                <input type="checkbox" name="fax_number" id="fax_number">
                                <label for="fax_number">Fax Number: $40 USD - monthly</label>
                            </div>
                                                        <div style="height: 32px">
                                                            <input type="checkbox" name="domain" id="domain">
                                                            <label for="domain">Domain: $13.99 USD</label>

                                                        </div>
                            <div>
                                <input type="checkbox" name="professional_email_address" id="professional_email">
                                <label for="professional_email">Professional Email Address: $7.99 USD - monthly</label>
                            </div>
                                                        <div>
                                                            <label for="domain_name">Domain name:</label>
                                                            <input type="text" name="domain_name" id="domain_name">
                                                        </div>
                            <div>
                                <label for="industry">Select Industry:</label><br>
                                <select name="industry" id="industry" class="custom-select w-100">
                                    <option>Electrician</option>
                                    <option>Garderner</option>
                                    <option>Tattoo Artist</option>
                                    <option>Photography</option>
                                    <option>Limo Service</option>
                                    <option>Nutrition Advisor</option>
                                    <option>Life Coach</option>
                                    <option>Vetirinary clinic</option>
                                    <option>Laundromat</option>
                                    <option>Fitness Club</option>
                                    <option>Dentist</option>
                                    <option>Consulting</option>
                                    <option>Auto Repair</option>
                                    <option>Tutor</option>
                                    <option>Bakery</option>
                                    <option>Financial Advisor</option>
                                    <option>Lawyer</option>
                                    <option>Marketing Agency</option>
                                    <option>Trucking</option>
                                    <option>Locksmith</option>
                                    <option>Medical Clinic</option>
                                    <option>Dance Studio</option>
                                    <option>Carpenter</option>
                                    <option>Moving Company</option>
                                    <option>Hair Salon</option>
                                    <option>Cleaning Service</option>
                                    <option>Car Dealer</option>
                                    <option>Portfolio</option>
                                    <option>Real Estate</option>
                                    <option>Preschool</option>
                                    <option>Spa Services</option>
                                    <option>Physical Therapist</option>
                                </select>
                            </div>

                            <div style="height: 1px; background-color: black" class="mt-3"></div>
                            <div class="text-center mb-2 font-weight-bold">
                                Need All The Steps? Get 13% Off The Monthly Package With Our Business Builder Program
                            </div>
                            <div class="text-center ">
                                <div class="btn btn-primary">
                                    Business Builder Monthly Program
                                </div>
                            </div>
                        </div>
                        <div class="col-6 d-flex flex-column">
                            <div class="text-center mb-2 font-weight-bold">
                                Yearly Options
                            </div>
                            <div>
                                <input type="checkbox" name="website_year" id="website_year">
                                <label for="website_year">Website: $300 USD - yearly</label>
                            </div>
                            <div>
                                <input type="checkbox" name="toll_free_number_year" id="toll_free_year">
                                <label for="toll_free_year">Toll Free Number: $420 USD - yearly</label>
                            </div>
                            <div>
                                <input type="checkbox" name="fax_number_year" id="fax_number_year">
                                <label for="fax_number_year">Fax Number: $240 USD - yearly</label>
                            </div>


                            <div>
                                <input type="checkbox" name="professional_email_address_year"
                                       id="professional_email_year">
                                <label for="professional_email_year">Professional Email Address: $42 USD -
                                    yearly</label>
                            </div>
                            <div>
                                <input type="checkbox" name="domain_year" id="domain_year">
                                <label for="domain_year">Domain: $13.99 USD</label>
                            </div>
                            <div style="display: none" id="domain-year-field">
                                <label for="domain_name_year">Domain name:</label>
                                <input type="text" name="domain_name_year" id="domain_name_year">
                            </div>

                            <div>
                                <label for="industry_year">Select Industry:</label><br>
                                <select name="industry_year" id="industry_year" class="custom-select w-100">
                                    <option>Electrician</option>
                                    <option>Garderner</option>
                                    <option>Tattoo Artist</option>
                                    <option>Photography</option>
                                    <option>Limo Service</option>
                                    <option>Nutrition Advisor</option>
                                    <option>Life Coach</option>
                                    <option>Vetirinary clinic</option>
                                    <option>Laundromat</option>
                                    <option>Fitness Club</option>
                                    <option>Dentist</option>
                                    <option>Consulting</option>
                                    <option>Auto Repair</option>
                                    <option>Tutor</option>
                                    <option>Bakery</option>
                                    <option>Financial Advisor</option>
                                    <option>Lawyer</option>
                                    <option>Marketing Agency</option>
                                    <option>Trucking</option>
                                    <option>Locksmith</option>
                                    <option>Medical Clinic</option>
                                    <option>Dance Studio</option>
                                    <option>Carpenter</option>
                                    <option>Moving Company</option>
                                    <option>Hair Salon</option>
                                    <option>Cleaning Service</option>
                                    <option>Car Dealer</option>
                                    <option>Portfolio</option>
                                    <option>Real Estate</option>
                                    <option>Preschool</option>
                                    <option>Spa Services</option>
                                    <option>Physical Therapist</option>
                                </select>
                            </div>


                            <div style="height: 1px; background-color: black" class="mt-3"></div>
                            <div class="text-center mb-2 font-weight-bold">
                                Need All The Steps? Get The Business Builder Annual Program for $999 and save $50
                            </div>
                            <div class="text-center ">
                                <div class="btn btn-primary">
                                    Business Builder Annual Program
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-center mt-4" id="stripe-form">
                            <div>Total: $<span id="total_amount">0</span></div>
                                                        <script src="https://checkout.stripe.com/checkout.js"
                                                                class="stripe-button"
                                                                data-key="{{ stripe_key }}"
                                                                data-description="Business Credit Building Steps"
                                                                data-amount=""
                                                                data-locale="auto">
                                                        </script>
                            <button type="submit" class="btn btn-primary">Proceed to checkout</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>


    </section>
</div>

<style media="screen">
    .room {
        margin-bottom: 10%;
    }
</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>

    function round(amount) {
        var rounded = Math.round(amount * 100) / 100
        return rounded
    }

    function changeAmount(checked, price) {
        var amount = Number($("#total_amount").html());
        if (checked) {
            $("#total_amount").html(round(amount + price))
        } else {
            $("#total_amount").html(round(amount - price))
        }
    }

    $("#website").change(function () {
        changeAmount(this.checked, 50)
    });
    $("#toll_free").change(function () {
        changeAmount(this.checked, 40)
    });
    $("#fax_number").change(function () {
        changeAmount(this.checked, 40)
    });
    $("#domain").change(function () {
        changeAmount(this.checked, 13.99)
    });
    $("#professional_email").change(function () {
        changeAmount(this.checked, 7.99)
    });

    $("#website_year").change(function () {
        changeAmount(this.checked, 300)
    });
    $("#toll_free_year").change(function () {
        changeAmount(this.checked, 420)
    });
    $("#fax_number_year").change(function () {
        changeAmount(this.checked, 240)
    });

    $("#professional_email_year").change(function () {
        changeAmount(this.checked, 42)
    });

    $("#domain_year").on('change', (event) => {
        var field = document.getElementById('domain-year-field')
        if (event.target.checked) {
            changeAmount(event.target.checked, 13.99)
            field.style.display = 'block'
        } else {
            changeAmount(event.target.checked, 13.99)
            field.style.display = 'none'

        }
    });

</script>
