{#{% extends "pages/base-business.html" %}#}
{% extends request.resolver_match.page_template %}
{% load static %}

{% block extrastyle %}

{% endblock extrastyle %}
<!-- ============================================================== -->
<!--            Content Start             -->
<!-- ============================================================== -->
{% block content %}

    <div class="row page-header">
        <div class="col-lg-6 align-self-center ">
            <h2>Business License</h2>
        </div>
    </div>
    <section class="main-content">
        <div class="row">
            <div class="col-md-12">
                <iframe width="100%" height="515" src="https://www.youtube.com/embed/YIWKQ4tLNvw" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <img src="https://images.pexels.com/photos/2312369/pexels-photo-2312369.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                             height="200px" width="100%" alt="">
                        <br><br>
                        <h3><b>Step 1</b></h3>
                        <h5 class="card-title">DO YOU HAVE ALL REQUIRED BUSINESS LICENSES?</h5>
                        <h5 class="card-title">Every city, state and county within the United States has different
                            licensing requirements. Make sure you have all the required licenses.</h5>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <img src="https://images.pexels.com/photos/937481/pexels-photo-937481.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                             height="200px" width="100%" alt="">
                        <br><br>
                        <h3><b>Step 2</b></h3>
                        <h5 class="card-title">BUSINESS LICENSE</h5>
                        <h5 class="card-title"> Many business owners ask; “does my business need a license?” <br><br>
                            Every city, state & country may have different license requirements & filling processes. In
                            addition to this, only certain types of businesses require a license.
                            ​When you file your business entity the state will tell you if a state license is required.
                            <br><br>
                            Go on your city website or call your city offices to see if your type of business requires a
                            city business license.
                            If your type of business requires a license, file immediately to prevent delays. <br><br>
                            Make sure you use your correct business information to set up your license. The business
                            information on your license should match the information on all other business records to
                            boost credibility with lenders and others.
                            Renew your business license as required to stay in good standing.</h5>
                        <div class="btn-group">
                            <a target="_blank" class="btn btn-primary"
                               href="https://www.irs.gov/businesses/small-businesses-self-employed/apply-for-an-employer-identification-number-ein-online">Click
                                Here To Apply <br>To Get Your EIN Number</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <img src="https://images.pexels.com/photos/1181533/pexels-photo-1181533.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                             height="200px" width="100%" alt="">
                        <br><br>
                        <h3><b>Step 3</b></h3>
                        <h5 class="card-title">GET YOUR REQUIRED BUSINESS LICENSES</h5>
                        <div class="btn-group">
                            <a target="_blank" class="btn btn-primary"
                               href="https://www.sba.gov/business-guide/launch-your-business/apply-licenses-permits">Click
                                Here To Search <br> For License Requirements</a>
                        </div>
                        <br><br>
                        <div class="btn-group">
                            <a target="_blank" class="btn btn-primary"
                               href="http://cityapplications.com/business-licenses.html">City Applications</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
