{% extends request.resolver_match.page_template %}
{% load static %}


{% block content %}
    <div class="row page-header">
        <div class="col-lg-6 align-self-center ">
            <h2>Business Credit Builder Tracker</h2></div>
    </div>

    <section class="main-content">

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-default">
                        Add Business Tradeline
                    </div>
                    <div class="card-body">
                        <form method="post">{% csrf_token %}
                            <div class="col-6">
                                <label for="company_name">Company Name</label>
                                <input type="text" placeholder="Company Name" required="required"
                                       name="company_name" id="company_name"/>


                                <label for="product">Product Purchased</label>
                                <input type="text" placeholder="Product Purchased" required="required"
                                       name="product" id="product"/>


                                <label for="tradeline_amount">Amount</label>
                                <input type="text" placeholder="Amount"
                                       name="tradeline_amount" id="tradeline_amount"/>

                                <label for="company_reports_to">Where Business Tradelines Report Too</label>
                                <input type="text" placeholder="Where Business Tradelines Report Too"
                                       name="company_reports_to" id="company_reports_to"/>


                                <label for="tradeline_credit_amount">Tradeline Credit Amount</label>
                                <input type="text" placeholder="Tradeline Credit Amount"
                                       name="tradeline_credit_amount" id="tradeline_credit_amount"/>
                            </div>

                            <button class="btn btn-primary mt-3 ">Add Tradeline</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>


    </section>
{% endblock %}


<script>

</script>
