{#{% extends "pages/base-business.html" %}#}
{% extends request.resolver_match.page_template %}
{% load static %}

{% block extrastyle %}
    <script type="text/javascript" src="https://chatterpal.me/build/js/chatpal.js?7.23" crossorigin="anonymous"
            data-cfasync="false">
    </script>
    <script>
        var chatPal = new ChatPal({
            embedId: 'DfT7BnTm5dGn',
            remoteBaseUrl: 'https://chatterpal.me/',
            version: '7.23'
        });
    </script>
{% endblock extrastyle %}
<!-- ============================================================== -->
<!--            Content Start             -->
<!-- ============================================================== -->
{% block content %}
    <div class="row page-header">
        <div class="col-lg-6 align-self-center ">
            <h2>Invoice Factoring</h2></div>
    </div>

    <section class="main-content">
        <div class="row">
            {% if dynamic.is_main_site %}
            <div class="col-md-12">
                <iframe width="100%" height="355" src="https://www.youtube.com/embed/rOQqoXCRE3g" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
            </div>
            {% endif %}
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-default">
                        Lenders
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="datatable" class="table table-striped dt-responsive nowrap">
                                <thead>
                                <tr>
                                    <th>Lender Name</th>
                                    <th>Personal Credit Score Needed</th>
                                    <th>Business Revenue Needed</th>
                                    <th>Time In Business Needed</th>
                                    <th>APR</th>
                                    <th>Strategy</th>
                                    <th>Apply Now</th>
                                </tr>
                                </thead>


                                <tbody>
                                {% for invoice in data_list %}
                                    <tr>
                                        <td>{{ invoice.lender_name }}</td>
                                        <td>{{ invoice.personal_credit_score }}</td>
                                        <td>{{ invoice.business_revenue }}</td>
                                        <td>{{ invoice.time_in_business }}</td>
                                        <td>{{ invoice.apr }}</td>
                                        <td>{{ invoice.strategy }}</td>
                                        <td>
                                            <a href="{% url 'business:apply-loans' %}" class="btn btn-sm btn-primary">Apply
                                                Now</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </section>

{% endblock %}