{% extends "pages/base-whitelabel.html" %}
{% load static %}
{% block content %}
    <div class="row page-header">
        <div class="col-lg-6 align-self-center ">
            <h2>Edit Client Portal</h2></div>
    </div>

    <section class="main-content">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-default">
                        {{ profile.user.first_name }} {{ profile.user.last_name }} Portals:
                    </div>
                    <div class="card-body">
                        <table id="datatable" class="table table-striped dt-responsive nowrap">
                            <thead>
                            <tr>
                                <th>Portal Name</th>
                                <th>Goals</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for portal in portals %}
                                <tr>
                                    <td>{{ portal.name }}</td>
                                    <td>
                                        {% for goal in portal.portals.all %}
                                            <p>{{ goal.name }}</p>
                                        {% endfor %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>


                        <h3>
                            Create New Portal
                        </h3>
                        <div id="starting">
                            <div class="row mb-5">
                                {% for portal in available_portals %}
                                    {% if portal.code == 'affiliate_partner' and not dynamic.is_main_site %}
                                    {% else %}
                                        <div class="col-md-3 col-sm-6">
                                            <div class="card mb-4 shadow-sm">
                                                <div class="card-body">
                                                    <div class="d-flex justify-content-between align-items-center">
                                                        <div class="custom-control custom-checkbox">
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="checkbox"
                                                                       v-model="selectedPortals"
                                                                       value="{{ portal.id }}" id="{{ portal.id }}">
                                                                <label class="form-check-label" for="{{ portal.id }}">
                                                                    {{ portal.name }}
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}

                                {% endfor %}
                                <div class="col-12 mb-3">
                                    <button type="button" class="btn btn-primary" v-on:click="confirmChanges()">
                                        Save Changes
                                    </button>
                                </div>
                                <div class="row mt-3 mx-0">
                                    {% if my_portals.all.count > 0 %}
                                        <div class="col-12 mb-3">
                                            <h3>Your Saved Portal Goals</h3>
                                        </div>
                                    {% endif %}
                                    {% for portal_goal in my_portals %}
                                        <div class="card mx-2">
                                            <h5 class="card-header text-center pb-0">
                                                <a href="{{ portal_goal.get_absolute_url }}">{{ portal_goal.name|title }}</a>
                                            </h5>
                                            <div class="card-body">
                                                <p class="card-text">{{ portal_goal.portals.all.count }} site goals
                                                    added.</p>
                                                <a href="{{ portal_goal.get_absolute_url }}" class="btn btn-primary">Click
                                                    To View Your Specific Portal
                                                </a>
                                            </div>
                                            <div class="card-footer text-center">
                                                <!--<a href="#" class="card-link">Edit</a> -->
                                                <a href="{% url 'user:delete_portal_goal' pk=portal_goal.id %}"
                                                   class="card-link">
                                                    Remove
                                                </a>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>

                            <!-- Modal -->
                            <div class="modal fade" id="SaveChangesModal" tabindex="-1" role="dialog"
                                 aria-labelledby="SaveChangesModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-lg" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="SaveChangesModalLabel">Specific Portal</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <form method="post">
                                            {% csrf_token %}
                                            <div class="modal-body">
                                                <h4 class="card-title">Selected Portal Goals</h4>
                                                <div class="card-body">
                                                    <ul>
                                                        <li v-for="id in selectedPortals">${ getPortalById(id) }
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="dropdown-divider"></div>
                                                <div class="form-group">
                                                    <label for="porta_name">Choose a custom name</label>
                                                    <input maxlength="50" type="text" class="form-control" name="name"
                                                           id="porta_name"
                                                           aria-describedby="portalName" required>
                                                    <small id="portalName" class="form-text text-muted">We'll save these
                                                        portal goals for
                                                        you.</small>
                                                </div>
                                                <input type="hidden" name="portals" :value="getSerializedIds()">
                                                <input type="hidden" name="create_portal"
                                                       value="{{ profile.user.id }}">
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                                    Close
                                                </button>
                                                <button type="submit" class="btn btn-primary">Submit</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}


{% block javascriptblock %}
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <script>
        var app = new Vue({
            el: '#starting',
            delimiters: ['${', '}'],
            data: {
                selectedPortals: [],
                message: null,
                portals: [
                    {% for portal in available_portals %}
                        {
                            name: "{{ portal.name }}", id: "{{ portal.id }}"
                        },
                    {% endfor %}
                ]
            },
            mounted: function () {
                this.initPortals();
            },
            methods: {
                confirmChanges: function () {
                    if (this.selectedPortals.length < 1) {
                        alert("Please select at least one goal to proceed.")
                    } else {
                        $("#SaveChangesModal").modal('show');
                    }
                },
                submitForm: function () {
                    console.log("submit initiated")
                },
                initPortals: function () {
                    //pass
                },
                getPortalById: function (id) {
                    return this.portals.filter(obj => obj.id == id)[0].name
                },
                getSerializedIds: function () {
                    return JSON.stringify(this.selectedPortals)
                }
            }
        });
    </script>
{% endblock javascriptblock %}
