{#{% extends "pages/base-business.html" %}#}
{% extends request.resolver_match.page_template %}
{% load static %}

{% block extrastyle %}
    <script type="text/javascript" src="https://chatterpal.me/build/js/chatpal.js?7.23" crossorigin="anonymous"
            data-cfasync="false">
    </script>
    <script>
        var chatPal = new ChatPal({
            embedId: 'DfT7BnTm5dGn',
            remoteBaseUrl: 'https://chatterpal.me/',
            version: '7.23'
        });
    </script>
{% endblock extrastyle %}
<!-- ============================================================== -->
<!--            Content Start             -->
<!-- ============================================================== -->
{% block content %}

    <div class="row page-header">
        <div class="col-lg-6 align-self-center ">
            <h2>Credit Repair</h2>
            </ol></div>
    </div>

    <section class="main-content">

        <div class="row">
            <div class="col-md-12">
                <iframe width="100%" height="515" src="https://www.youtube.com/embed/sRMLhCLSBHE" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
            </div>
        </div>
        <style media="screen">
            .card-body {
                text-align: center;

            }
        </style>

        <div class="row">
            <div class="col-md-12">
                <br>
                <iframe class=webform-frame name=frame_webform id=frame_webform
                        src="https://app.creditrepaircloud.com/weblead/post/NGU0NDRkMzA0ZDZhNTkzMDRkNDQ1OTMy/SSdtIHJlYWR5IHRvIHNpZ24gdXA=/en"
                        height=700 width=100% style="background:white" frameborder=0></iframe>
            </div>
        </div>


    </section>


{% endblock %}