{#{% extends "pages/base-business.html" %}#}
{% extends request.resolver_match.page_template %}
{% load static %}

{% block extrastyle %}
    <script type="text/javascript" src="https://chatterpal.me/build/js/chatpal.js?7.23" crossorigin="anonymous"
            data-cfasync="false">
    </script>
    <script>
        var chatPal = new ChatPal({
            embedId: 'DfT7BnTm5dGn',
            remoteBaseUrl: 'https://chatterpal.me/',
            version: '7.23'
        });
    </script>
{% endblock extrastyle %}
<!-- ============================================================== -->
<!--            Content Start             -->
<!-- ============================================================== -->
{% block content %}
    <div class="row page-header">
        <div class="col-lg-6 align-self-center ">
            <h2>Getting Established With Business Experian</h2>
        </div>
    </div>
    <section class="main-content">
        <div class="row">
            <div class="col-md-12">
                <iframe width="100%" height="515" src="https://www.youtube.com/embed/oL1x8wMrlb8" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
            </div>
        </div>
        <br><br>
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <iframe width="100%" height="315" src="https://www.youtube.com/embed/bAu_5C4CLW0" frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    <div class="card-body">
                        <p class="card-text">Watch The Video To Learn About Getting Established With Experian Business
                            Credit</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a target="_blank" class="btn btn-primary"
                                   href="http://nav.nkwcmr.net/c/2006174/675356/2410">Establish My Experian Business
                                    Credit</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <iframe width="100%" height="315" src="https://www.youtube.com/embed/MofrNp4i6eA" frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    <div class="card-body">
                        <p class="card-text">Watch The Video To Learn About Establishing A Bin Number</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a target="_blank" class="btn btn-primary" href="https://www.equifax.com/business/">Establish
                                    My Bin Number</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <style>
        .nav-link {
            display: block;
            padding: 0px;
        }
    </style>
{% endblock %}