{% extends "base-chromeextension.html" %}
{% load static %}
{% block extrastyle %}
{% endblock extrastyle %}
<!-- ============================================================== -->
<!--            Content Start             -->
<!-- ============================================================== -->
{% block content %}

<div class="row page-header">
    <div class="col-lg-6 align-self-center ">
        <h2>Get The Financing You Need To Build Business Credit</h2></div>
</div>

<section class="main-content">
  <div class="row">
    <div class="col-md-12">
<iframe width="100%" height="515" src="https://www.youtube.com/embed/lE6S40ksq2o" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
  </div>
  <div class="jumbonew">
    <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h2><b>Watch The Video Above To See How To Get <br>Financing To Begin Building Business Credit</b></h2>
  </div>
  </div>
  </div>
  <style media="screen">
  .jumbonew h1{
  text-align:center;
  font-size:26px;
  }
  .jumbonew h2,h3,h4{
  text-align:center;
  }
  </style>
    <div class="row">
        <div class="col-md-4 col-sm-6">
            <div class="card mb-4 shadow-sm">
                <img src="https://getdinerotoday.herokuapp.com/static/images/viabill.jpg"
                     height="270px" width="100%" alt="">
                <div class="card-body">
                    <h4 class="card-text"><b>Viabill</b></h4>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group"> <br><br>
                            <a href="https://viabill.com" target="_blank" class="btn btn-primary">
                              Get Money To Build <br> Business Credit <br>From Viabill
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="card mb-4 shadow-sm">
                <img src="https://getdinerotoday.herokuapp.com/static/images/klarna-og.jpg"
                     height="270px" width="100%" alt="">
                <div class="card-body">
                    <h4 class="card-text"><b>Klarna</b></h4>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group"> <br><br>
                            <a href="https://klarna.com" target="_blank" class="btn btn-primary">
                            Get Money To Build <br>Business Credit <br>From Klarna
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="card mb-4 shadow-sm">
                <img src="https://getdinerotoday.herokuapp.com/static/images/fundbox.jpg"
                     height="270px" width="100%" alt="">
                <div class="card-body">
                    <h4 class="card-text"><b>Fundbox</b> </h4>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group"> <br><br>
                            <a href="https://fundbox.com" target="_blank" class="btn btn-primary">
                                Get Money To Build <br> Business Credit <br>From Fundbox
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ANCHOR_FOR_NEW_CARDS -->
        <!-- Dont remove this comment -->

    </div>

    <div class="row">
        <div class="col-md-4 col-sm-6">
            <div class="card mb-4 shadow-sm">
                <img src="https://getdinerotoday.herokuapp.com/static/images/behalf.jpeg"
                     height="270px" width="100%" alt="">
                <div class="card-body">
                  <h4 class="card-text"><b>Behalf</b></h4>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group"> <br><br>
                            <a href="https://behalf.com" target="_blank" class="btn btn-primary">
                                Get Money To Build <br> Business Credit <br>From Behalf
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <!-- ANCHOR_FOR_NEW_CARDS -->
        <!-- Dont remove this comment -->

    </div>

</section>
{% endblock %}
