{#{% extends "pages/base-business.html" %}#}
{% extends request.resolver_match.page_template %}
{% load static %}

{% block extrastyle %}
    <script type="text/javascript" src="https://chatterpal.me/build/js/chatpal.js?7.23" crossorigin="anonymous"
            data-cfasync="false">
    </script>
    <script>
        var chatPal = new ChatPal({
            embedId: 'DfT7BnTm5dGn',
            remoteBaseUrl: 'https://chatterpal.me/',
            version: '7.23'
        });
    </script>
{% endblock extrastyle %}
<!-- ============================================================== -->
<!--            Content Start             -->
<!-- ============================================================== -->
{% block content %}
    <div class="row page-header">
        <div class="col-lg-6 align-self-center ">
            <h2>Revolving Vendors</h2></div>
    </div>

    <section class="main-content">

        <div class="row">
            <div class="col-md-12">
                <iframe width="100%" height="515" src="https://www.youtube.com/embed/WXGBi4hlFc4" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
            </div>
        </div>
        <div class="container-header">
            <h2 style="margin-top:2.5%" ;>Revolving Vendors You May Qualify For</h2>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-default">
                        Revolving Vendors
                    </div>


                    <div class="card-body">
                        <table id="datatable2" class="table table-striped dt-responsive nowrap">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Category</th>
                                <th>Who The Vendor Reports Too</th>
                                <th>More Details & Application</th>
                            </tr>
                            </thead>

                            <tbody>
                            {% for data in list_data %}
                                <tr>
                                    <td>{{ data.Name }}</td>
                                    <td>{{ data.category }}</td>
                                    <td>{{ data.reportTo }}</td>
                                    <td><a class="btn btn-primary" href="/revolving-credit-details/{{ data.link }}">Click
                                        Here For More Details</a></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>


        </div>


        </form>
        </div>
        </div>
        </form>
        </div>
        </div>
        </div>

    </section>
{% endblock %}