{#{% extends "pages/base-business.html" %}#}
{% extends request.resolver_match.page_template %}

{% block title %}

{% endblock title %}

{% block extrastyle %}

{% endblock extrastyle %}

{% block content %}

    <div class="row page-header">
        <div class="col-lg-6 align-self-center ">
            <h2>Authorized User Tradelines</h2></div>
    </div>

    <section class="main-content">

        <div class="row">
            <div class="col-md-12">
                <iframe width="100%" height="515" src="https://www.youtube.com/embed/sgF8oqYhFoA" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
            </div>
        </div>
        <style media="screen">
            .card-body {
                text-align: center;

            }
        </style>

        <div class="row">
            <div class="col-md-12">
                <div class="card-body">
                    <form id="signupForm" method="post" class="form-horizontal" action="">

                        <h2>Watch Video Below Before Purchasing Authorized User Tradelines</h2>
                        <h3>Click On The Tradeline You Would Like & It Will Allow You To Purchase</h3>
                        <iframe width="60%" height="365" src="https://www.youtube.com/embed/3StI8Tm9q1w" frameborder="0"
                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                        <br><br>
                        <div class="form-group">
                            <div id="my-store-22565104"></div>
                            <div>
                                <script data-cfasync="false" type="text/javascript"
                                        src="https://app.ecwid.com/script.js?22565104&data_platform=code&data_date=2020-01-10"
                                        charset="utf-8"></script>
                                <script type="text/javascript"> xProductBrowser("categoriesPerRow=3", "views=grid(20,3) list(60) table(60)", "categoryView=grid", "searchView=list", "id=my-store-22565104");</script>
                            </div>
                        </div>


                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">


            </div>

        </div>

        </div>

    </section>

{% endblock content %}


{% block javascriptblock %}

{% endblock javascriptblock %}