{#{% extends "pages/base-business.html" %}#}
{% extends request.resolver_match.page_template %}

{% block title %}

{% endblock title %}

{% block extrastyle %}

{% endblock extrastyle %}

{% block content %}

    <div class="row page-header">
        <div class="col-lg-6 align-self-center ">
            <h2>Business Credit Steps You Need Done For You</h2></div>
    </div>

    <section class="main-content">
        <div class="row">
            <div class="col-md-12">
                <script type="text/javascript"
                        src="https://millennialbusinessbuilders.formstack.com/forms/js.php/businesscreditsteps"></script>
                <noscript><a href="https://millennialbusinessbuilders.formstack.com/forms/businesscreditsteps"
                             title="Online Form">Online Form - Business Credit Building Steps You Need Done For You</a>
                </noscript>
                <div style="text-align:right; font-size:x-small;"><a
                        href="http://www.formstack.com?utm_source=jsembed&utm_medium=product&utm_campaign=product+branding&fa=h,3725304"
                        title="Powered by Formstack">Powered by Formstack</a></div>
            </div>
        </div>

    </section>

{% endblock content %}


{% block javascriptblock %}

{% endblock javascriptblock %}