{#{% extends "pages/base-business.html" %}#}
{% extends request.resolver_match.page_template %}

{% block title %}

{% endblock title %}

{% block extrastyle %}

{% endblock extrastyle %}

{% block content %}

{% endblock content %}


{% block javascriptblock %}

    <div class="row page-header">
        <div class="col-lg-6 align-self-center ">
            <h2>View My Business Credit Reports</h2></div>
    </div>

    <section class="main-content">

        <div class="row">
            <div class="col-md-12">
                <iframe width="100%" height="515" src="https://www.youtube.com/embed/HbRXBo4hrg0" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
            </div>
        </div>
        <h2 style="text-align:center;">View My Business Credit Reports</h2><br>
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img src="https://millennialbusinessbuilders.com/image33.jpg" height="300px" width="100%" alt="">
                    <div class="card-body">
                        <p class="card-text">Click The Button Below To Fix My Business Credit Reports</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="http://nav.nkwcmr.net/c/2006174/675356/2410" target="_blank"
                                   ,class="btn btn-primary">View My Business Credit Reports</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </section>

{% endblock javascriptblock %}