{#{% extends "pages/base-business.html" %}#}
{% extends request.resolver_match.page_template %}

{% block title %}

{% endblock title %}

{% block extrastyle %}

{% endblock extrastyle %}

{% block content %}
    <div class="row page-header">
        <div class="col-lg-6 align-self-center ">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript: void(0);">Business Bank Account</a></li>
            </ol>
        </div>
    </div>
    <section class="main-content">
        <div class="row">
            <div class="col-md-12">
                <div class="card-body">
                    <h4>Having A Business Bank Account Is Paramount. </h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <a href="https://www.azlo.com/" target="_blank">
                    <h3>Fee Free Entreprenuer Bank You Can Setup Without Having To Go Inside The Bank</h3>
                    <img src="https://assets-production.fundera.com/uploads/new_markets_product/image/6/RGB_Full_Logo_Horizontal_Gradient_Icon-Positive_3x.png"
                         height="360px" width="50%" alt="">
                </a>
            </div>
        </div>
    </section>

{% endblock content %}


{% block javascriptblock %}

{% endblock javascriptblock %}
