{#{% extends "pages/base-business.html" %}#}
{% extends request.resolver_match.page_template %}

{% block title %}

{% endblock title %}

{% block extrastyle %}

{% endblock extrastyle %}

{% block content %}

    <div class="row page-header">
        <div class="col-lg-6 align-self-center ">
            <h2>Credit Repair Program</h2></div>
    </div>

    <section class="main-content">

        <div class="row">
            <div class="col-md-12"></div>
        </div>
        <br> <br>
        <div class="row">
            <div class="col-md-6">
                <div class="card mb-4 shadow-sm">
                    <iframe width="100%" height="515" src="https://www.youtube.com/embed/Vp1u-ep646Y" frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    <div class="card-body">
                        <h3>Credit Repair Program 3 Month Program</h3>
                        <ul>
                            <li>We fix any inaccurate claims on your credit</li>
                            <li>We help you remove inquiries</li>
                        </ul>
                        <br>
                        <div class="d-flex justify-content-between align-items-center">
                        </div>
                        <a href="https://millennialsbuildinggreatness.com/products/credit-repair-3-month-plan-viabill-payment-option-25-down?_pos=1&_sid=1b2f83f7c&_ss=r"
                           target="_blank" class="btn btn-primary">Credit Repair 3 Month Package With Only 25% Down</a>
                        <br><br>
                        <a href="https://millennialsbuildinggreatness.com/products/credit-repair-3-month-plan-viabill-payment-option-25-down?_pos=1&_sid=1b2f83f7c&_ss=r"
                           target="_blank" class="btn btn-primary">Credit Repair 3 Month Package</a>

                    </div>

                </div>
            </div>
        </div>
    </section>

{% endblock content %}


{% block javascriptblock %}

{% endblock javascriptblock %}