<div class="row page-header">
    <div class="col-lg-6 align-self-center ">
        <h2> Offering Financing To Customers</h2></div>
</div>

<section class="main-content">

    <div class="row">
        <div class="col-md-12">
            <iframe width="100%" height="515" src="https://www.youtube.com/embed/CYRI5RNGcsY" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
        </div>
    </div>
    <h2 style="text-align:center;">Offering Financing To Customers</h2><br>
    <div class="row">
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <img src="https://millennialbusinessbuilders.com/assets/img/viabill.jpg" height="270px" width="100%"
                     alt="">
                <div class="card-body">
                    <p class="card-text">Click The Button Below To Offer Viabill To Your Customers</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <%= link_to "Offer Viabill To Your Customers","https://viabill.com/", :target => "_blank"
                            ,:class=>"btn btn-primary" %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <img src="https://millennialbusinessbuilders.com/assets/img/klarna-og.jpg" height="270px" width="100%"
                     alt="">
                <div class="card-body">
                    <p class="card-text">Click The Button Below To Offer Klarna To Your Customers</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <%= link_to "Offer Klarna To Your Customers","https://www.klarna.com/us/business/", :target
                            => "_blank" ,:class=>"btn btn-primary" %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <img src="https://millennialbusinessbuilders.com/assets/img/quadpay.jpg" height="270px" width="100%"
                     alt="">
                <div class="card-body">
                    <p class="card-text">Click The Button Below To Offer Quadpay To Your Customers</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <%= link_to "Offer Quadpay To Your Customers","https://www.quadpay.com/for-businesses/",
                            :target => "_blank" ,:class=>"btn btn-primary" %>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <img src="https://millennialbusinessbuilders.com/assets/img/sezzle.jpg" height="270px" width="100%"
                     alt="">
                <div class="card-body">
                    <p class="card-text">Click The Button Below To Offer Sezzle To Your Customers</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <%= link_to "Offer Sezzle To Your Customers","https://sezzle.com/merchants", :target =>
                            "_blank" ,:class=>"btn btn-primary" %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <img src="https://millennialbusinessbuilders.com/assets/img/fundbox.jpeg" height="270px" width="100%"
                     alt="">
                <div class="card-body">
                    <p class="card-text">Click The Button Below To Offer Fundbox Pay To Your Customers</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <%= link_to "Offer Fundbox Pay To Your Customers","https://fundboxpay.com/get-paid", :target
                            => "_blank" ,:class=>"btn btn-primary" %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <img src="https://millennialbusinessbuilders.com/assets/img/paypal.png" height="270px" width="100%"
                     alt="">
                <div class="card-body">
                    <p class="card-text">Click The Button Below To Offer Paypal Line Of Credit To Your Customer</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <%= link_to "Offer Paypal Line Of Credit To Your
                            Customer","https://www.paypal.com/us/webapps/mpp/promotional-financing", :target => "_blank"
                            ,:class=>"btn btn-primary" %>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <img src="https://millennialbusinessbuilders.com/assets/img/behalf.jpeg" height="270px" width="100%"
                     alt="">
                <div class="card-body">
                    <p class="card-text">Click The Button Below To Offer Behalf Line Of Credit To Your Customers</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <%= link_to "Offer Behalf Line Of Credit To Your
                            Customers","https://app.behalf.com/users/signup/merchant", :target => "_blank" ,:class=>"btn
                            btn-primary" %>
                        </div>
                    </div>
                </div>
                <p>Watch The Video Below To See Another Way To Offer Behalf Financing</p>
                <iframe width="100%" height="315" src="https://www.youtube.com/embed/uvI38nsvMzg" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <img src="https://www.jeanswest.com.au/alternate/images/media/upload/2016/Afterpay/Afterpay-Banner-19-MB.jpg"
                     height="270px" width="100%" alt="">
                <div class="card-body">
                    <p class="card-text">Click The Button Below To Offer Afterpay To Your Customers</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <%= link_to "Offer Afterpay To Your Customers","https://www.afterpay.com/for-retailers",
                            :target => "_blank" ,:class=>"btn btn-primary" %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <img src="https://www.tirerack.com/content/dam/tirerack/desktop/landingPages/special-financing-offers/affirm_320x180.png"
                     height="270px" width="100%" alt="">
                <div class="card-body">
                    <p class="card-text">Click The Button Below To Offer Affirm To Your Customers</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <%= link_to "Offer Affirm To Your Customers","https://www.affirm.com/business", :target =>
                            "_blank" ,:class=>"btn btn-primary" %>
                            <br><br>
                        </div>
                    </div>
                </div>
                <p>Watch The Video Below To See Another Way To Offer Affirm Financing</p>
                <iframe width="95%" height="315" src="https://www.youtube.com/embed/4NDJ6ogfqDU" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
            </div>
        </div>
    </div>


</section>
