<div class="row page-header">
    <div class="col-lg-6 align-self-center ">
        <h2>How To Check If Your Business Is In Good Standing</h2>
    </div>
</div>
<section class="main-content">
    <div class="row">
        <div class="col-md-12">
            <iframe width="100%" height="515" src="https://www.youtube.com/embed/6bkyWwSff_A" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <h2 style="text-align:center;">All states have an online location where you can check the status of any
                    corporation registered in that state. Information provided can include the name, date of
                    incorporation, registered number or ID, and current standing. To check the status of a company,
                    click the link next to the state in which it is incorporated.</h2>

                <div class="card-header card-default">
                    Choose The State Your Business Is Registered In To Check If Your Business Is In Good Standing Below
                </div>


                <div class="card-body">
                    <table id="datatable2" class="table table-striped dt-responsive nowrap">
                        <thead>
                        <tr>
                            <th>States</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr>
                            <td><%= link_to "Alabama", 'http://arc-sos.state.al.us/CGI/CORPNAME.MBR/INPUT', target:
                                "_blank", class: 'btn btn-sm btn-primary' %>
                            </td>
                        </tr>
                        </tbody>
                        <tbody>
                        <tr>
                            <td><%= link_to "Alaska", 'https://www.commerce.alaska.gov/web/cbpl/Corporations.aspx',
                                target: "_blank", class: 'btn btn-sm btn-primary' %>
                            </td>
                        </tr>
                        </tbody>
                        <tbody>
                        <tr>
                            <td><%= link_to "Arizona", 'https://azsos.gov/business', target: "_blank", class: 'btn
                                btn-sm btn-primary' %>
                            </td>
                        </tr>
                        </tbody>
                        <tbody>
                        <tr>
                            <td><%= link_to "Arkansas", 'https://www.sos.arkansas.gov/corps/search_all.php', target:
                                "_blank", class: 'btn btn-sm btn-primary' %>
                            </td>
                        </tr>
                        </tbody>
                        <tbody>
                        <tr>
                            <td><%= link_to "California",
                                'https://www.sos.ca.gov/business-programs/business-entities/cbs-search-tips/', target:
                                "_blank", class: 'btn btn-sm btn-primary' %>
                            </td>
                        </tr>
                        </tbody>
                        <tbody>
                        <tr>
                            <td><%= link_to "Colorado", 'https://www.colorado.gov/search?tid=llc', target: "_blank",
                                class: 'btn btn-sm btn-primary' %>
                            </td>
                        </tr>
                        </tbody>
                        <tbody>
                        <tr>
                            <td><%= link_to "Connecticut",
                                'https://www.concord-sots.ct.gov/CONCORD/online?sn=InquiryServlet&eid=99', target:
                                "_blank", class: 'btn btn-sm btn-primary' %>
                            </td>
                        </tr>
                        </tbody>
                        <tbody>
                        <tr>
                            <td><%= link_to "Delaware", 'https://corp.delaware.gov/directweb/', target: "_blank", class:
                                'btn btn-sm btn-primary' %>
                            </td>
                        </tr>
                        </tbody>
                        <tbody>
                        <tr>
                            <td><%= link_to "D.C.", 'https://business.dc.gov/research_business_info', target: "_blank",
                                class: 'btn btn-sm btn-primary' %>
                            </td>
                        </tr>
                        </tbody>
                        <tbody>
                        <tr>
                            <td><%= link_to "Florida", 'https://dos.myflorida.com/sunbiz/search/', target: "_blank",
                                class: 'btn btn-sm btn-primary' %>
                            </td>
                        </tr>
                        </tbody>
                        <tbody>
                        <tr>
                            <td><%= link_to "Georgia", 'https://ecorp.sos.ga.gov/BusinessSearch', target: "_blank",
                                class: 'btn btn-sm btn-primary' %>
                            </td>
                        </tr>
                        </tbody>
                        <tbody>
                        <tr>
                            <td><%= link_to "Hawaii",
                                'https://hbe.ehawaii.gov/documents/search.html;jsessionid=9148585DCF650B5F22DD05E291E3ECCF.liona',
                                target: "_blank", class: 'btn btn-sm btn-primary' %>
                            </td>
                        </tr>
                        </tbody>
                        <tbody>
                        <tr>
                            <td><%= link_to "Idaho", 'https://sosbiz.idaho.gov/search/business', target: "_blank",
                                class: 'btn btn-sm btn-primary' %>
                            </td>
                        </tr>
                        </tbody>
                        <tbody>
                        <tr>
                            <td><%= link_to "Illinois", 'https://www.ilsos.gov/corporatellc/', target: "_blank", class:
                                'btn btn-sm btn-primary' %>
                            </td>
                        </tr>
                        </tbody>
                        <tbody>
                        <tr>
                            <td><%= link_to "Indiana", 'https://bsd.sos.in.gov/publicbusinesssearch', target: "_blank",
                                class: 'btn btn-sm btn-primary' %>
                            </td>
                        </tr>
                        </tbody>
                        <tbody>
                        <tr>
                            <td><%= link_to "Iowa", 'http://www.sos.state.ia.us/search/index.html', target: "_blank",
                                class: 'btn btn-sm btn-primary' %>
                            </td>
                        </tr>
                        </tbody>
                        <tbody>
                        <tr>
                            <td><%= link_to "Kansas", 'https://www.kansas.gov/bess/flow/main?execution=e1s1', target:
                                "_blank", class: 'btn btn-sm btn-primary' %>
                            </td>
                        </tr>
                        </tbody>
                        <tbody>
                        <tr>
                            <td><%= link_to "
                                Kentucky", 'https://www.sos.ky.gov/Pages/default.aspx', target: "_blank", class: 'btn
                                btn-sm btn-primary' %>
                            </td>
                        </tr>
                        </tbody>
                        <tbody>
                        <tr>
                            <td><%= link_to "Louisiana",
                                'https://coraweb.sos.la.gov/CommercialSearch/CommercialSearch.aspx', target: "_blank",
                                class: 'btn btn-sm btn-primary' %>
                            </td>
                        </tr>
                        </tbody>
                        <tbody>
                        <tr>
                            <td><%= link_to "Maine", 'https://icrs.informe.org/nei-sos-icrs/ICRS?MainPage=x', target:
                                "_blank", class: 'btn btn-sm btn-primary' %>
                            </td>
                        </tr>
                        </tbody>
                        <tbody>
                        <tr>
                            <td><%= link_to "Maryland", 'https://egov.maryland.gov/businessexpress/entitysearch',
                                target: "_blank", class: 'btn btn-sm btn-primary' %>
                            </td>
                        </tr>
                        </tbody>
                        <tbody>
                        <tr>
                            <td><%= link_to "Massachusetts",
                                'http://corp.sec.state.ma.us/corpweb/corpsearch/CorpSearch.aspx', target: "_blank",
                                class: 'btn btn-sm btn-primary' %>
                            </td>
                        </tr>
                        </tbody>
                        <tbody>
                        <tr>
                            <td><%= link_to "Michigan", 'https://startabusiness.org/mi/business-search/', target:
                                "_blank", class: 'btn btn-sm btn-primary' %>
                            </td>
                        </tr>
                        </tbody>
                        <tbody>
                        <tr>
                            <td><%= link_to "Minnesota", 'https://mblsportal.sos.state.mn.us/Business/Search', target:
                                "_blank", class: 'btn btn-sm btn-primary' %>
                            </td>
                        </tr>
                        </tbody>
                        <tbody>
                        <tr>
                            <td><%= link_to "Mississippi",
                                'https://corp.sos.ms.gov/corp/portal/c/page/corpBusinessIdSearch/portal.aspx?#clear=1',
                                target: "_blank", class: 'btn btn-sm btn-primary' %>
                            </td>
                        </tr>
                        </tbody>
                        <tbody>
                        <tr>
                            <td><%= link_to "Missouri",
                                'https://bsd.sos.mo.gov/businessentity/besearch.aspx?searchtype=0', target: "_blank",
                                class: 'btn btn-sm btn-primary' %>
                            </td>
                        </tr>
                        </tbody>
                        <tbody>
                        <tr>
                            <td><%= link_to "Montana", 'https://sosmt.gov/business/', target: "_blank", class: 'btn
                                btn-sm btn-primary' %>
                            </td>
                        </tr>
                        </tbody>
                        <tbody>
                        <tr>
                            <td><%= link_to "Nebraska", 'https://www.nebraska.gov/sos/corp/corpsearch.cgi', target:
                                "_blank", class: 'btn btn-sm btn-primary' %>
                            </td>
                        </tr>
                        </tbody>
                        <tbody>
                        <tr>
                            <td><%= link_to "Nevada", 'https://esos.nv.gov/EntitySearch/OnlineEntitySearch', target:
                                "_blank", class: 'btn btn-sm btn-primary' %>
                            </td>
                        </tr>
                        </tbody>
                        <tbody>
                        <tr>
                            <td><%= link_to "New Hampshire", 'http://sos.nh.gov/nhbuslookup.aspx', target: "_blank",
                                class: 'btn btn-sm btn-primary' %>
                            </td>
                        </tr>
                        </tbody>
                        <tbody>
                        <tr>
                            <td><%= link_to "New Jersey",
                                'https://www.njportal.com/DOR/businessrecords/Maintenance.aspx', target: "_blank",
                                class: 'btn btn-sm btn-primary' %>
                            </td>
                        </tr>
                        </tbody>
                        <tbody>
                        <tr>
                            <td><%= link_to "New Mexico",
                                'https://portal.sos.state.nm.us/BFS/online/CorporationBusinessSearch', target: "_blank",
                                class: 'btn btn-sm btn-primary' %>
                            </td>
                        </tr>
                        </tbody>
                        <tbody>
                        <tr>
                            <td><%= link_to "New York", 'https://www.dos.ny.gov/corps/bus_entity_search.html', target:
                                "_blank", class: 'btn btn-sm btn-primary' %>
                            </td>
                        </tr>
                        </tbody>
                        <tbody>
                        <tr>
                            <td><%= link_to "North Carolina", 'https://www.sosnc.gov/search/index/corp', target:
                                "_blank", class: 'btn btn-sm btn-primary' %>
                            </td>
                        </tr>
                        </tbody>
                        <tbody>
                        <tr>
                            <td><%= link_to "North Dakota", 'http://sos.nd.gov/business/business-services', target:
                                "_blank", class: 'btn btn-sm btn-primary' %>
                            </td>
                        </tr>
                        </tbody>
                        <tbody>
                        <tr>
                            <td><%= link_to "Ohio", 'https://businesssearch.ohiosos.gov/', target: "_blank", class: 'btn
                                btn-sm btn-primary' %>
                            </td>
                        </tr>
                        </tbody>
                        <tbody>
                        <tr>
                            <td><%= link_to "Oklahoma", 'https://www.sos.ok.gov/corp/corpinquiryfind.aspx', target:
                                "_blank", class: 'btn btn-sm btn-primary' %>
                            </td>
                        </tr>
                        </tbody>
                        <tbody>
                        <tr>
                            <td><%= link_to "Oregon", 'https://sos.oregon.gov/business/Pages/find.aspx', target:
                                "_blank", class: 'btn btn-sm btn-primary' %>
                            </td>
                        </tr>
                        </tbody>
                        <tbody>
                        <tr>
                            <td><%= link_to "Pennsylvania", 'https://www.corporations.pa.gov/search/corpsearch', target:
                                "_blank", class: 'btn btn-sm btn-primary' %>
                            </td>
                        </tr>
                        </tbody>
                        <tbody>
                        <tr>
                            <td><%= link_to "Rhode Island", 'http://sos.ri.gov/divisions/Business-Portal/databases',
                                target: "_blank", class: 'btn btn-sm btn-primary' %>
                            </td>
                        </tr>
                        </tbody>
                        <tbody>
                        <tr>
                            <td><%= link_to "South Carolina",
                                'https://businessfilings.sc.gov/BusinessFiling/Entity/Search', target: "_blank", class:
                                'btn btn-sm btn-primary' %>
                            </td>
                        </tr>
                        </tbody>
                        <tbody>
                        <tr>
                            <td><%= link_to "South Dakota",
                                'https://sosenterprise.sd.gov/BusinessServices/Business/FilingSearch.aspx', target:
                                "_blank", class: 'btn btn-sm btn-primary' %>
                            </td>
                        </tr>
                        </tbody>
                        <tbody>
                        <tr>
                            <td><%= link_to "Tennessee", 'https://tnbear.tn.gov/ecommerce/default.aspx', target:
                                "_blank", class: 'btn btn-sm btn-primary' %>
                            </td>
                        </tr>
                        </tbody>
                        <tbody>
                        <tr>
                            <td><%= link_to "Texas", 'http://secretaryofstates.com/texas/', target: "_blank", class:
                                'btn btn-sm btn-primary' %>
                            </td>
                        </tr>
                        </tbody>
                        <tbody>
                        <tr>
                            <td><%= link_to "Utah", 'https://startabusiness.org/ut/business-search/', target: "_blank",
                                class: 'btn btn-sm btn-primary' %>
                            </td>
                        </tr>
                        </tbody>
                        <tbody>
                        <tr>
                            <td><%= link_to "Vermont", 'https://www.sec.state.vt.us/', target: "_blank", class: 'btn
                                btn-sm btn-primary' %>
                            </td>
                        </tr>
                        </tbody>
                        <tbody>
                        <tr>
                            <td><%= link_to "Virginia", 'http://www.scc.virginia.gov/clk/bussrch.aspx', target:
                                "_blank", class: 'btn btn-sm btn-primary' %>
                            </td>
                        </tr>
                        </tbody>
                        <tbody>
                        <tr>
                            <td><%= link_to "Washington", 'https://ccfs.sos.wa.gov/', target: "_blank", class: 'btn
                                btn-sm btn-primary' %>
                            </td>
                        </tr>
                        </tbody>
                        <tbody>
                        <tr>
                            <td><%= link_to "West Virginia", 'https://sos.wv.gov/Pages/default.aspx', target: "_blank",
                                class: 'btn btn-sm btn-primary' %>
                            </td>
                        </tr>
                        </tbody>
                        <tbody>
                        <tr>
                            <td><%= link_to "Wisconsin", 'https://startabusiness.org/wi/business-search/', target:
                                "_blank", class: 'btn btn-sm btn-primary' %>
                            </td>
                        </tr>
                        </tbody>
                        <tbody>
                        <tr>
                            <td><%= link_to "Wyoming", 'https://wyobiz.wy.gov/business/filingsearch.aspx', target:
                                "_blank", class: 'btn btn-sm btn-primary' %>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
