<div class="row page-header">
    <div class="col-lg-6 align-self-center ">
        <h2>Micro Loans</h2></div>
</div>

<section class="main-content">

    <div class="row">
        <div class="col-md-12">
            <iframe width="100%" height="515" src="https://www.youtube.com/embed/dHtCQTrnJQM" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
        </div>
    </div>
    <div class="container-header">
        <h2 style="margin-top:2.5%" ;>Put Your Information Below To See The Lenders You Qualify For</h2>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="businessname">Current Credit Score (Fico Score)</label>
                <input type="text" class="form-control" id="businessname" name="businessname"
                       placeholder="Current Credit Score (Fico Score)"/>
            </div>
            <div class="form-group">
                <label for="businessname">Current Credit Score (Equifax Score)</label>
                <input type="text" class="form-control" id="businessname" name="businessname"
                       placeholder="Current Credit Score (Equifax Score)"/>
            </div>
            <div class="form-group">
                <label for="businessname">Current Credit Score (Transunion Score)</label>
                <input type="text" class="form-control" id="businessname" name="businessname"
                       placeholder="Current Credit Score (Transunion Score)"/>
            </div>

            <div class="form-group">
                <label for="Address">Average Monthly Revenue (Over Last 3 Months)</label>
                <input type="text" class="form-control" id="Address" name="Address"
                       placeholder="Average Monthly Revenue (Over Last 6 Months)"/>
            </div>

            <div class="form-group">
                <label for="pagesneeded">Average Daily Balance (Over Last 3 Months)</label>
                <input type="text" class="form-control" id="pagesneeded" name="pagesneeded"
                       placeholder="Average Daily Balance (Over Last 6 Months)"/>
            </div>

            <div class="form-group">
                <label for="domain">Average Monthly Ending Balance (Over Last 3 Months)</label>
                <input type="Domain" class="form-control" id="Domain" name="Domain"
                       placeholder="Average Monthly Ending Balance (Over Last 6 Months)"/>
            </div>

            <div class="form-group">
                <label for="Address">Average Monthly Revenue (Over Last 6 Months)</label>
                <input type="text" class="form-control" id="Address" name="Address"
                       placeholder="Average Monthly Revenue (Over Last 6 Months)"/>
            </div>

            <div class="form-group">
                <label for="pagesneeded">Average Daily Balance (Over Last 6 Months)</label>
                <input type="text" class="form-control" id="pagesneeded" name="pagesneeded"
                       placeholder="Average Daily Balance (Over Last 6 Months)"/>
            </div>

            <div class="form-group">
                <label for="domain">Average Monthly Ending Balance (Over Last 6 Months)</label>
                <input type="Domain" class="form-control" id="Domain" name="Domain"
                       placeholder="Average Monthly Ending Balance (Over Last 6 Months)"/>
            </div>

            <div class="form-group">
                <label for="domain">Outstanding Current Business Debt</label>
                <input type="Domain" class="form-control" id="Domain" name="Domain"
                       placeholder="Outstanding Current Business Debt"/>
            </div>
            <div class="form-group">
                <label for="domain">Do You Have Any Current Liens Against The Business?</label>
                <input type="Domain" class="form-control" id="Domain" name="Domain"
                       placeholder="Do You Have Any Current Liens Against The Business?"/>
            </div>
            <div class="form-group">
                <label for="domain">Do You Have A Business Bank Account? (That Is Only For Business Use)</label>
                <input type="Domain" class="form-control" id="Domain" name="Domain"
                       placeholder="Do You Have A Business Bank Account? (That Is Only For Business Use)"/>
            </div>
            <div class="form-group">
                <label for="domain">The Age Of Your Business (When You Truly Registered As An Entity)</label>
                <input type="Domain" class="form-control" id="Domain" name="Domain"
                       placeholder="The Age Of Your Business (When You Truly Registered As An Entity)"/>
            </div>
            <div class="form-group">
                <label for="domain">When Business Registered As</label>
                <input type="Domain" class="form-control" id="Domain" name="Domain"
                       placeholder="When Business Registered As"/>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary" name="signup" value="Sign up">See What Lenders You Qualify
                    For
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-default">
                    Lenders You Qualify For
                </div>
                <div class="card-body">
                    <table id="datatable" class="table table-striped dt-responsive nowrap">
                        <thead>
                        <tr>
                            <th> Lender Name</th>
                            <th>Estimated Monthly Payment</th>
                            <th>Estimated Terms</th>
                            <th>Estimated Amount</th>
                            <th>Apply Now</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Tiger Nixon</td>
                            <td>61</td>
                            <td>2011/04/25</td>
                            <td>$320,800</td>
                            <td>
                                <button type="submit" class="btn btn-primary" name="signup" value="Apply Now">Apply
                                    Now
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
    </div>
    </div>


    </div>


    </form>
    </div>
    </div>
    </form>
    </div>
    </div>
    </div>

    <footer class="footer">
        <span>Copyright &copy; 2018 Milennial Business Builder</span>
    </footer>


</section>
