<div class="row page-header">
    <div class="col-lg-6 align-self-center ">
        <h2>Restricted Industries</h2>
    </div>
</div>
<section class="main-content">
    <div class="row">
        <div class="col-md-12">
            <iframe width="100%" height="515" src="https://www.youtube.com/embed/w9SeljO913Q" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card-body">
                <h1>RESTRICTED INDUSTRIES</h1>
                <h2> Restricted industries (automatic decline) include:</h2>
                <li>Ammunition or Weapons Manufacturing; wholesale and retail</li>
                <li>Bail Bonds</li>
                <li>Check Cashing Agencies</li>
                <li>Energy, oil trading, or petroleum extraction or production</li>
                <li>Finance: (Federal Reserve Banks, foreign banks, banks, bank holding companies,
                    loan brokers, commodity brokers, security brokers, mortgage brokers, mortgage bankers,
                    mortgage companies, bail bond companies, or mutual fund managers)
                </li>
                <li>Gaming or Gambling Activities</li>
                <li>Loans for the speculative purchases of securities or goods</li>
                <li>Pawn shops</li>
                <li>Political campaigns, candidates, or committees</li>
                <li>Public administration (e.g., city, county, state, and federal governmental agencies)</li>
                <li>X-rated products or entertainment</li>
                <br><br>
                <h2> High-Risk Industries (subject to stricter underwriting guidelines):</h2>
                <br>
                <li>Agriculture or forest products</li>
                <li>Auto, recreational vehicle or boat sales</li>
                <li>Courier services</li>
                <li>Computer and software related services</li>
                <li>Dry cleaners</li>
                <li>Entertainment (adult entertainment is to be considered restricted)</li>
                <li>General contractors</li>
                <li>Gasoline stations or convenience stores (also known as c-stores)</li>
                <li>Healthcare; specifically nursing homes, assisted living facilities, and continuing care retirement
                    centers
                </li>
                <li>Special trade contractors</li>
                <li>Hotels or motels</li>
                <li>Jewelry, precious stones and metals; wholesale and retail</li>
                <li>Limousine services</li>
                <li>Long distance or “over-the-road” trucking</li>
                <li>Mobile or manufactured home sales</li>
                <li>Phone sales and direct selling establishments</li>
                <li>Real estate agents/brokers</li>
                <li>Real estate developers or land subdividers</li>
                <li>Restaurants or drinking establishments</li>
                <li>Software or programming companies</li>
                <li>Taxi cabs (including the purchase of cab medallions) Travel agencies</li>
            </div>
        </div>
    </div>
</section>
