<div class="row page-header">
    <div class="col-lg-6 align-self-center "><h2>Starter Vendors</h2></div>
</div>

<section class="main-content">

    <div class="row">
        <div class="col-md-12">
            <iframe width="100%" height="515" src="https://www.youtube.com/embed/iRvsIlAnIFs" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <p><b>Name</b> :
                        <%= @revolving_credit.name %>
                    </p>
                    <p><b>Report To</b> :
                        <%= @revolving_credit.report_to %>
                    </p>
                    <p><b>Category</b> :
                        <%= @revolving_credit.category.try(:title) %>
                    </p>
                    <p><b>Terms</b> :
                        <%= @revolving_credit.terms %>
                    </p>
                    <p><b>Description</b> :
                        <%= @revolving_credit.description %>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
