<div class="row page-header">
    <div class="col-lg-6 align-self-center ">
        <h2>Small Business Administration Loans</h2></div>
</div>

<section class="main-content">
    <div class="row">
        <div class="col-md-12">
            <iframe width="100%" height="515" src="https://www.youtube.com/embed/nrVGB8PuppE" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-default">
                    Lenders
                </div>
                <div class="card-body">
                    <table id="datatable" class="table table-striped dt-responsive nowrap">
                        <thead>
                        <th>Lender Name</th>
                        <th>Personal Credit Score Needed</th>
                        <th>Time In Business</th>
                        <th>Term Length</th>
                        <th>APR</th>
                        <th>Strategy</th>
                        <th>Apply Now</th>
                        </thead>

                        </tbody>
                        <tbody>
                        <% @sba.each do |e| %>
                        <tr>
                            <td><%= e.lender_name %></td>
                            <td><%= e.personal_credit_score %></td>
                            <td><%= e.time_in_business %></td>
                            <td><%= e.term_length %></td>
                            <td><%= e.apr %></td>
                            <td><%= e.strategy %></td>
                            <td><%= link_to "Apply Now", applyforloan_path, class: 'btn btn-sm btn-primary' %></td>
                        </tr>
                        <% end %>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
    </div>
    </div>


    </div>


    </form>
    </div>
    </div>
    </form>
    </div>
    </div>
    </div>


</section>
