<div class="row page-header">
    <div class="col-lg-6 align-self-center ">
        <h2>Customer Support</h2>
        </ol></div>
</div>

<section class="main-content">

    <div class="row">
        <div class="col-md-12">
            <iframe width="100%" height="515" src="https://www.youtube.com/embed/oA3F3sKij4g" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
        </div>
    </div>
    <style media="screen">
        .card-body {
            text-align: center;

        }
    </style>

    <div class="row">
        <div class="col-md-12">
            <!-- ============================================================== -->
            <!-- 						Content Start	 						-->
            <!-- ============================================================== -->

            <br><br>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <h2>Frequently Asked Questions</h2>
                            <div class="margin-b-5">
                                <div class="input-group">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="card">
                    <div class="card-header" role="tab" id="headingOne">

                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
                           aria-expanded="true" aria-controls="collapseOne">
                            <p>How Do I Use The Create My Financing Plan Tab?</p>
                        </a>

                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel"
                         aria-labelledby="headingOne">
                        <div class="card-body">
                            <h3>Watch The Video Below</h3>
                            <iframe width="80%" height="315" src="https://www.youtube.com/embed/r4gmzcEHZ7o"
                                    frameborder="0"
                                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" role="tab" id="headingTwo">

                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                           href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            <p>How Do I Use The Business Entity Tab?</p>
                        </a>

                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="card-body">
                            <iframe width="80%" height="315" src="https://www.youtube.com/embed/nussKt3CTzY"
                                    frameborder="0"
                                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" role="tab" id="headingThree">

                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                           href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            <p>How Do I Use The Website Creation Tab?</p>
                        </a>

                    </div>
                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel"
                         aria-labelledby="headingThree">
                        <div class="card-body">
                            <iframe width="80%" height="315" src="https://www.youtube.com/embed/CrIfzkH-4pc"
                                    frameborder="0"
                                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" role="tab" id="headingFour">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                           href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            <p>My Industry Is Not On The Website Creation Tab, What Should I Do?</p>
                        </a>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel"
                         aria-labelledby="headingFour">
                        <div class="card-body">
                            Contact Your Customer Success Agent, or email us at
                            customersupport@millennialbusinessbuildersinc.com or call us at 888-278-5313
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" role="tab" id="heading5">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                           href="#collapse5" aria-expanded="false" aria-controls="collapse5">
                            <p>Which Address Should I Choose For My Website?</p>
                        </a>
                    </div>
                    <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading5">
                        <div class="card-body">
                            You should choose the address you have used when filing your corporation.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" role="tab" id="heading6">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                           href="#collapse6" aria-expanded="false" aria-controls="collapse6">
                            <p>How Do I Use The Fax Number Tab?</p>
                        </a>
                    </div>
                    <div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading6">
                        <div class="card-body">
                            <iframe width="80%" height="315" src="https://www.youtube.com/embed/OXfV2U4-t8c"
                                    frameborder="0"
                                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" role="tab" id="heading7">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                           href="#collapse7" aria-expanded="false" aria-controls="collapse7">
                            <p>How Do I Use The Professional Email Address Tab? </p>
                        </a>
                    </div>
                    <div id="collapse7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading7">
                        <div class="card-body">
                            <iframe width="80%" height="315" src="https://www.youtube.com/embed/sifvzpgNOj8"
                                    frameborder="0"
                                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" role="tab" id="heading7">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                           href="#collapse8" aria-expanded="false" aria-controls="collapse8">
                            <p>How Do I Use The Domain Tab?</p>
                        </a>
                    </div>
                    <div id="collapse8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading8">
                        <div class="card-body">
                            <iframe width="80%" height="315" src="https://www.youtube.com/embed/KgFsPD-3oqw"
                                    frameborder="0"
                                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" role="tab" id="heading89>
                                                <a class=" collapsed
                    " role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse9"
                    aria-expanded="false" aria-controls="collapse8">
                    <p>How Do I Use The Toll Free Number Tab?</p>
                    </a>
                </div>
                <div id="collapse8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading9">
                    <div class="card-body">
                        <iframe width="80%" height="315" src="https://www.youtube.com/embed/ZZLof2cZA9w" frameborder="0"
                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" role="tab" id="heading10">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                       href="#collapse10" aria-expanded="false" aria-controls="collapse10">
                        <p>How Do I Use The Virtual Address Tab?</p>
                    </a>
                </div>
                <div id="collapse8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading10">
                    <div class="card-body">
                        <iframe width="80%" height="315" src="https://www.youtube.com/embed/DVzNPV1EiK0" frameborder="0"
                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" role="tab" id="heading11">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                       href="#collapse11" aria-expanded="false" aria-controls="collapse8">
                        <p>How Do I Use The Business Bank Account Tab?</p>
                    </a>
                </div>
                <div id="collapse11" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading11">
                    <div class="card-body">
                        <iframe width="80%" height="315" src="https://www.youtube.com/embed/4YjMxNHZvlM" frameborder="0"
                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" role="tab" id="heading12">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                       href="#collapse12" aria-expanded="false" aria-controls="collapse8">
                        <p>How Do I Use The Duns Number Tab?</p>
                    </a>
                </div>
                <div id="collapse12" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading12">
                    <div class="card-body">
                        <iframe width="80%" height="315" src="https://www.youtube.com/embed/G0yYFQOmt48" frameborder="0"
                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" role="tab" id="heading13">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                       href="#collapse13" aria-expanded="false" aria-controls="collapse8">
                        <p>How Do I Use The Corporate Credit List Tab?</p>
                    </a>
                </div>
                <div id="collapse13" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading13">
                    <div class="card-body">
                        <iframe width="80%" height="315" src="https://www.youtube.com/embed/QmsAWEFNmZo" frameborder="0"
                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" role="tab" id="heading14">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                       href="#collapse14" aria-expanded="false" aria-controls="collapse8">
                        <p>How Do I Use The Marketing Your Business Tab?</p>
                    </a>
                </div>
                <div id="collapse14" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading14">
                    <div class="card-body">
                        <iframe width="80%" height="315" src="https://www.youtube.com/embed/Jy_iRMsRruI" frameborder="0"
                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" role="tab" id="heading15">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                       href="#collapse15" aria-expanded="false" aria-controls="collapse8">
                        <p>How Do I Use The Credit Repair Tab?</p>
                    </a>
                </div>
                <div id="collapse15" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading15">
                    <div class="card-body">
                        <iframe width="80%" height="315" src="https://www.youtube.com/embed/sRMLhCLSBHE" frameborder="0"
                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" role="tab" id="heading16">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                       href="#collapse16" aria-expanded="false" aria-controls="collapse8">
                        <p>How Do I Buy Authorized User Tradelines?</p>
                    </a>
                </div>
                <div id="collapse16" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading16">
                    <div class="card-body">
                        <iframe width="80%" height="315" src="https://www.youtube.com/embed/sgF8oqYhFoA" frameborder="0"
                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" role="tab" id="heading17">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                       href="#collapse17" aria-expanded="false" aria-controls="collapse8">
                        <p>How To Make Money Referring Friends?</p>
                    </a>
                </div>
                <div id="collapse17" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading17">
                    <div class="card-body">
                        <iframe width="80%" height="315" src="https://www.youtube.com/embed/UlEEbtQMUj4" frameborder="0"
                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" role="tab" id="heading17">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                       href="#collapse17" aria-expanded="false" aria-controls="collapse8">
                        <p>How Do I Buy Shelf Corporations?</p>
                    </a>
                </div>
                <div id="collapse17" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading17">
                    <div class="card-body">
                        <iframe width="80%" height="315" src="https://www.youtube.com/embed/INC5Zlwb3Z4" frameborder="0"
                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" role="tab" id="heading18">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                       href="#collapse18" aria-expanded="false" aria-controls="collapse8">
                        <p>How Do I Use The Business Credit Monitoring Tab</p>
                    </a>
                </div>
                <div id="collapse18" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading18">
                    <div class="card-body">
                        <iframe width="80%" height="315" src="https://www.youtube.com/embed/HbRXBo4hrg0" frameborder="0"
                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" role="tab" id="heading18">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                       href="#collapse18" aria-expanded="false" aria-controls="collapse8">
                        <p>How Do I Use The Business Credit Repair Tab</p>
                    </a>
                </div>
                <div id="collapse18" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading18">
                    <div class="card-body">
                        <iframe width="80%" height="315" src="https://www.youtube.com/embed/CPsagcbNH_g" frameborder="0"
                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
