{#{% extends "pages/base-business.html" %}#}
{% extends request.resolver_match.page_template %}


{% block title %}

{% endblock title %}

{% block extrastyle %}

{% endblock extrastyle %}

{% block content %}

    <div class="row page-header">
        <div class="col-lg-6 align-self-center ">
            <h2>Upgrade To Business Builder Package</h2></div>
    </div>

    <section class="main-content">
      <div class="row">
        <div class="col-md-12">
      <iframe width="100%" height="515" src="https://www.youtube.com/embed/p-Kkv0zcEDk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
      </div>
      <div class="jumbonew">
        <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h2>Our Different Financing Plans</h2>
        <h3>We Have No Money Down Offers For You</h3>
        <h3><b>Watch The Video Above To Help You Choose The Best Plan For You</b></h3>
      </div>
      </div>
      </div>
      <style media="screen">
      .jumbonew h1{
      text-align:center;
      font-size:26px;
      }
      .jumbonew h2,h3,h4{
      text-align:center;
      }
      </style>
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="card mb-4 shadow-sm">
                    <img src="https://getdinerotoday.herokuapp.com/static/images/klarna-og.jpg"
                         height="270px" width="100%" alt="">
                    <div class="card-body">
                        <h4 class="card-text"><b>Financing From 12-36 Months</b></h4>
                        <h5 class="card-text">Purchase Now & Pay Over The Next 12-36 Months At 0%-10% Interest</h5>
                        <h5 class="card-text">Watch Video Below To See How To Purchase With Payment Option</h5>
                        <iframe width="100%" height="315" src="https://www.youtube.com/embed/sJPh6dw4O0Y" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group"> <br><br>
                                <a href="https://millennialsbuildinggreatness.com/products/business-builders-annual-package" target="_blank" class="btn btn-primary">
                                    Sign Up For The Service
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ANCHOR_FOR_NEW_CARDS -->
            <!-- Dont remove this comment -->

        </div>
            <!-- ANCHOR_FOR_NEW_CARDS -->
            <!-- Dont remove this comment -->

        </div>

    </section>

{% endblock content %}


{% block javascriptblock %}

{% endblock javascriptblock %}
