<div class="row page-header">
    <div class="col-lg-6 align-self-center ">
        <h2>Website Creation</h2>

    </div>
</div>
<section class="main-content">
    <div class="row">
        <div class="col-md-12">
            <iframe width="100%" height="515" src="https://www.youtube.com/embed/e3aC8CcfxFA" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
        </div>
    </div>
    <br><br>
    <!-- <div class="row">
       <div class="col-md-12">
         <h2 style="text-align:center;">Login With The Email You Have Associated With This Account & The Password Northface14. If You Do Not Remember Go To My Progress In The Top Right Corner To View Your Login Credentials.</h2>
         <br><br>
         <iframe src="https://www.websitebuilder.ai/" width="90%" height="750px"></iframe>
       </div>
     </div> -->
    <div class="row">
        <div class="col-md-6">
            <div class="card mb-4 shadow-sm">
                <iframe width="100%" height="315" src="https://www.youtube.com/embed/N_gNlNoj1ow" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                <div class="card-body">
                    <h4>Professional
                        Small Business & Entrepreneurs</h4>
                    <li>AI Website Builder</li>
                    <li>Unlimited Bandwidth</li>
                    <li>Unlimited Storage</li>
                    <li>Connect your Domain</li>
                    <li>You get a Free Secure SSL certificate (Value $100)</li>
                    <li>Daily Website Backups</li>
                    <li>No Bookmark Branding</li>
                    <li>Free Hosting</li>
                    <li>Mobile Website</li>
                    <li>Advanced Analytics</li>
                    <li>Video Backgrounds</li>
                    <li>Premium Support</li>
                    <br>
                    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
                        <input type="hidden" name="cmd" value="_s-xclick">
                        <input type="hidden" name="hosted_button_id" value="6B3MDEDP7HWVG">
                        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_subscribeCC_LG.gif"
                               border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1"
                             height="1">
                    </form>

                    <br> <%= link_to "Click Here To Get 20% Off Yearly
                    Package","https://millennialsbuildinggreatness.com/products/professional-small-business-entrepreneurs-annual-package-via-bill-payment-option",
                    :target => "_blank" ,:class=>"btn btn-primary" %>
                    <br><br>
                    <%= link_to "Yearly Package 3 Month Payment
                    Option","https://millennialsbuildinggreatness.com/products/professional-small-business-entrepreneurs-annual-package-via-bill-payment-option",
                    :target => "_blank" ,:class=>"btn btn-primary" %>

                </div>

            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-4 shadow-sm">
                <iframe width="100%" height="315" src="https://www.youtube.com/embed/GZmD3a3gxv4" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                <div class="card-body">
                    <h4>Business
                        E-Commerce & Online Stores</h4>

                    <li>All Professional Plan Features + E-Commerce / Online Store</li>
                    <li>AI Website Builder</li>
                    <li>Connect Your Domain</li>
                    <li>You get a Free Secure SSL certificate (Value $100)</li>
                    <li>Unlimited Store Products</li>
                    <li>No Transaction Fees</li>
                    <li>Facebook Shop</li>
                    <li> Mobile Point-of-Sale</li>
                    <li>Sell Digital Goods</li>
                    <li>Shopping Cart On Your Domain</li>
                    <li>Inventory Management</li>
                    <li>Discount Coupons</li>
                    <li>Automated Shipping & Tax Calculator</li>
                    <li>Advertise On Major Marketplaces</li>
                    <li>Sell On Google</li>
                    <li>Sell On Ebay</li>
                    <li>Product Reviews</li>
                    <li>Abandoned Cart Saver</li>
                    <li>Android and iOS Store Management App</li>
                    <br> <br>
                    <div class="d-flex justify-content-between align-items-center">

                        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
                            <input type="hidden" name="cmd" value="_s-xclick">
                            <input type="hidden" name="hosted_button_id" value="NXXTQ4EYT9ZLN">
                            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_subscribeCC_LG.gif"
                                   border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1"
                                 height="1">
                        </form>

                    </div>
                    <br> <%= link_to "Click Here To Get 20% Off Yearly
                    Package","https://millennialsbuildinggreatness.com/products/business-e-commerce-annual-package-via-bill-payment-option",
                    :target => "_blank" ,:class=>"btn btn-primary" %>
                    <br><br>
                    <%= link_to "Yearly Package 3 Month Payment
                    Option","https://millennialsbuildinggreatness.com/products/business-e-commerce-annual-package-via-bill-payment-option",
                    :target => "_blank" ,:class=>"btn btn-primary" %>
                </div>

            </div>
        </div>
</section>
