{% extends "pages/base-onlinetools.html" %}
{% load static %}

{% block extrastyle %}
{% endblock extrastyle %}
<!-- ============================================================== -->
<!--            Content Start             -->
<!-- ============================================================== -->
{% block content %}
<section class="main-content">
  <div class="row">
    <div class="col-md-12">
<iframe width="100%" height="515" src="https://www.youtube.com/embed/rTbQxyou-cg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
  </div>
  <div class="jumbonew">
    <div class="jumbotron jumbotron-fluid">
  <div class="container">
  <h2>Choose The Dunn & Bradstreet Products Below To Grow Your Business. <br><h4><b>Watch The Video Above For Video Explanation Of The Producs.</b></h4></h2>
  </div>
  </div>
  </div>
  <style media="screen">
  .jumbonew h1{
  text-align:center;
  font-size:26px;
  }
  .jumbonew h2,h4{
  text-align:center;
  }
  </style>
    <div class="row">
        <div class="col-md-4 col-sm-6">
            <div class="card mb-4 shadow-sm">
                <img src="https://www.crowdfireapp.com/assets/images/landing/logo-full.70cd4daf.svg"
                     height="270px" width="100%" alt="">
                <div class="card-body">
                    <h4 class="card-text"><b>Crowdfire</b></h4>
                    <h5 class="card-text">Crowdfire helps you discover and schedule content, and manage all your social accounts from one place.</h5>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a href="https://crowdfire.grsm.io/zephaniahlangley7730" target="_blank" class="btn btn-primary">
                                Sign Up For The Service
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ANCHOR_FOR_NEW_CARDS -->
        <!-- Dont remove this comment -->

    </div>


</section>
{% endblock %}
