{% extends "pages/base-onlinetools.html" %}
{% load static %}

{% block extrastyle %}
{% endblock extrastyle %}
<!-- ============================================================== -->
<!--            Content Start             -->
<!-- ============================================================== -->
{% block content %}
<section class="main-content">
  <div class="row">
    <div class="col-md-12">
  <iframe width="100%" height="515" src="https://www.youtube.com/embed/4rf1fOx1Ygk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
  </div>
  <div class="jumbonew">
    <div class="jumbotron jumbotron-fluid">
  <div class="container">
  <h2>Watch Our Introduction Video To See How To Navigate The Online Tools Platform</h2>
  </div>
  </div>
  </div>
  <style media="screen">
  .jumbonew h1{
  text-align:center;
  font-size:26px;
  }
  .jumbonew h2,h4{
  text-align:center;
  }
  </style>
</section>
{% endblock %}
