{% extends "pages/base-freewhitelabelprogramonboarding.html" %}
{% load static %}

{% block extrastyle %}
{% endblock extrastyle %}
<!-- ============================================================== -->
<!--            Content Start             -->
<!-- ============================================================== -->
{% block content %}
<div class="row page-header">
    <div class="col-lg-6 align-self-center ">
        <h2>Wholesale Packages</h2>
    </div>
</div>

<section class="main-content">

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-default">
                    Wholesale Packages
                </div>
                <div class="card-body">
                    <table id="datatable" class="table table-striped dt-responsive nowrap">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Description</th>
                            <th>Order</th>
                        </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>Wholesale White Label Lifetime Access</td>
                                <td>$75</td>
                                <td>Purchase This So We Can Give Your Customer Access To Your Software Portal</td>
                                <td>
                                      <a href="https://kleuibusinessbuilder.com/order-form1624152690386" target="_blank"> <button class="btn btn-primary">Add To Cart</button></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>

            </div>
        </div>
    </div>


</section>

{% endblock %}
