{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="{{ dynamic.seo_description }}"/>
    <meta name="description" content="{{ dynamic.seo_description }}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <title>{{ dynamic.favicon_title }}</title>
        <script type="text/javascript" src="https://hosted.us.uneeq.io/deploy/f2a62dfd-9f1f-41c8-ae87-15e8acb9569b"></script>
</head>
<body>

</body>

</html>
