{% extends "landingpages/layout/LandingLayout.html" %}
{% load static %}

{% block content %}

<section class="page-title o-hidden pos-r md-text-center" data-bg-color="#fbf3ed">
  <canvas id="confetti"></canvas>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-7 col-md-12">
        <h1 class="title"><span>F.</span>A.Q.</h1>
        <p>We're Helping Clients Build Business Credits</p>
      </div>
      <div class="col-lg-5 col-md-12 text-lg-right md-mt-3">
        <nav aria-label="breadcrumb" class="page-breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Faq</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
  <div class="page-title-pattern"><img class="img-fluid" src="/static/images/bg/11.png" alt=""></div>
</section>

<!--page title end-->


<!--body content start-->

<div class="page-content">

<!--faq start-->

<section class="z-index-1">
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-8 col-md-12 ml-auto mr-auto">
        <div class="section-title">
          <div class="title-effect">
            <div class="bar bar-top"></div>
            <div class="bar bar-right"></div>
            <div class="bar bar-bottom"></div>
            <div class="bar bar-left"></div>
          </div>
          <h2 class="title">Frequently asked questions</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 ml-auto">
        <div id="accordion" class="accordion style-1">
          <div class="card active">
            <div class="card-header">
              <h6 class="mb-0">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true">What is the price?</a>
              </h6>
            </div>
            <div id="collapse1" class="collapse show" data-parent="#accordion">
              <div class="card-body">The price for our credit-builder package is $1499 but we can get you started with $300 down and then spread your payments weekly over the next 4-8 weeks. We also have a 100% money-back guarantee if you are not 100% satisfied. I can go over our payment options with you.</div>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <h6 class="mb-0">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">I already have a website is my price lower?</a>
              </h6>
            </div>
            <div id="collapse2" class="collapse" data-parent="#accordion">
              <div class="card-body">Great! It may be advantageous to have another website so that you can have both website rank well in the search engines, or you can use your website credit for another project or to help a friend.</div>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <h6 class="mb-0">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">I already have a professional email address is my price lower?</a>
              </h6>
            </div>
            <div id="collapse3" class="collapse" data-parent="#accordion">
              <div class="card-body">Great! It may be advantageous to have another email address to handle customer complaints etc..., or you can use your professional email address credit for another project or help a friend.</div>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <h6 class="mb-0">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">I already have all this stuff, do I really need this program?</a>
              </h6>
            </div>
            <div id="collapse4" class="collapse" data-parent="#accordion">
              <div class="card-body">If your goal is to build business credit that is separate from your personal credit than yes. We have a slew of vendors that can help your company.</div>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <h6 class="mb-0">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">I don’t want to do weekly payments, I want to do monthly payments.</a>
              </h6>
            </div>
            <div id="collapse5" class="collapse" data-parent="#accordion">
              <div class="card-body">We can do monthly payments for you but that would require half down payment and then we would finance the rest over 2 months.</div>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <h6 class="mb-0">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse6">How long does this take?</a>
              </h6>
            </div>
            <div id="collapse6" class="collapse" data-parent="#accordion">
              <div class="card-body">Once we set up your business credibly, you can immediately start getting initial vendor credit up to $10,000. This is a marathon, not a sprint so to get cash credit cards with no personal guarantee usually takes around 90-120 days but you will have access to initial vendor credit in the first 30 days, store credit in the next 60 days and fleet and cash credit in the next 90-120 days.</div>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <h6 class="mb-0">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse7">How long till I get start getting vendor credit?</a>
              </h6>
            </div>
            <div id="collapse7" class="collapse" data-parent="#accordion">
              <div class="card-body">You can get vendor credit immediately after we set up your business credibly which is in 3-5 business days.</div>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <h6 class="mb-0">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse8">How long does it take to start getting business credit cards in my business name?</a>
              </h6>
            </div>
            <div id="collapse8" class="collapse" data-parent="#accordion">
              <div class="card-body">This process takes about 90-120 days.</div>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <h6 class="mb-0">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse9">I have good credit is there any other options for me to get money faster?</a>
              </h6>
            </div>
            <div id="collapse9" class="collapse" data-parent="#accordion">
              <div class="card-body">Yes, let me have you speak with our business funding expert, they can show you our voluminous amount of business funding products required.</div>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <h6 class="mb-0">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse10">Do you guys report to the credit bureau?</a>
              </h6>
            </div>
            <div id="collapse10" class="collapse" data-parent="#accordion">
              <div class="card-body">Yes we are going to begin reporting to Experian business, Dun & Bradstreet and Equifax small business at the beginning of February 2020.</div>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <h6 class="mb-0">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse11">Do I get control of my website and professional email address?</a>
              </h6>
            </div>
            <div id="collapse11" class="collapse" data-parent="#accordion">
              <div class="card-body">Yes after all payments are finished we give you full control over everything.</div>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <h6 class="mb-0">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse12">What is the cost of a virtual address after the first month?</a>
              </h6>
            </div>
            <div id="collapse12" class="collapse" data-parent="#accordion">
              <div class="card-body">It ranges from $50-$150 depending on what you need. But most people just need the $50 package. You can check out the packages here https://www.regus.com/</div>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <h6 class="mb-0">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse13">What is the cost of website hosting?</a>
              </h6>
            </div>
            <div id="collapse13" class="collapse" data-parent="#accordion">
              <div class="card-body">We take care of your web hosting for the entire year.</div>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <h6 class="mb-0">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse14">Do you guys maintain the website?</a>
              </h6>
            </div>
            <div id="collapse14" class="collapse" data-parent="#accordion">
              <div class="card-body">No we do not maintain the website, but we do have a package that does take care of that for you. I can put you in touch with our website design sales team so they can speak with you about our packages relating to that.</div>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <h6 class="mb-0">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse15">Is this an annual package?</a>
              </h6>
            </div>
            <div id="collapse15" class="collapse" data-parent="#accordion">
              <div class="card-body">Yes we purchase your website and hosting for the entire year. We also purchase your toll-free number, fax number, and pay for your credit repair for the entire year.</div>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <h6 class="mb-0">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse16">What is your funding fee to get financing by itself?</a>
              </h6>
            </div>
            <div id="collapse16" class="collapse" data-parent="#accordion">
              <div class="card-body">Our Funding Fee Is Free On Our Platforms</div>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <h6 class="mb-0">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse16">What is the forver free package?</a>
              </h6>
            </div>
            <div id="collapse16" class="collapse" data-parent="#accordion">
              <div class="card-body">The forever free package is our free package where we help you with valuable information on helping you build your business credit and helping you get business loans.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--faq end-->

</div>

<!--body content end-->


<!--footer start-->


<!--back-to-top start-->

<div class="scroll-top"><a class="smoothscroll" href="#top"><i class="flaticon-go-up-in-web"></i></a></div>

<!--back-to-top end-->

{%  endblock %}