{% extends "landingpages/layout/LandingLayout.html" %}
{% load static %}

{% block content %}
<!--header end-->
<style media="screen">
.navbar-toggler {
  background-color: rgb(0, 91, 234);
  color: rgb(0, 91, 234);
}
</style>

<!--page title start-->

<section class="page-title o-hidden pos-r md-text-center" data-bg-color="#fbf3ed">
  <canvas id="confetti"></canvas>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-7 col-md-12">
        <h1 class="title"><span>F</span>inancing Packages</h1>
        <p>Financing We Offer For Our Program</p>
      </div>
      <div class="col-lg-5 col-md-12 text-lg-right md-mt-3">
        <nav aria-label="breadcrumb" class="page-breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a>
            </li>
            <li class="breadcrumb-item"><a href="#">Financing</a>
            </li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
  <div class="page-title-pattern">
    <img class="img-fluid" src="/static/images/bg/11.png" alt="">
  </div>
</section>

<!--page title end-->
<style media="screen">
.navbar-toggler {
  background-color: rgb(0, 91, 234);
  color: rgb(0, 91, 234);
}
</style>

<!--body content start-->

<div class="page-content">

<!--feature start-->

<section class="pos-r">
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-8 col-md-12 ml-auto mr-auto">
        <div class="section-title">
          <div class="title-effect title-effect-2">
            <div class="ellipse"></div> <i class="la la-cubes"></i>
          </div>
          <h2 class="title">Our Different Financing Plans</h2>
          <p>We Have No Credit Check 0% Interest Offers For You</p>
        </div>
      </div>
    </div>

    <section class="contact-info p-0 z-index-1">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-4 col-md-4 col-md-12">
            <div class="contact-media">
              <img class="img-center" src="/static/images/viabill.jpg" alt="">
              <span>No Money Down Payment Option With Klarna</span>
              <span>Watch Video Below To See How To Purchase With Payment Option</span>
              <iframe width="100%" height="315" src="https://www.youtube.com/embed/7PmxNTZZ_Oo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              <div class="col-md-12 mt-2">
                <a href="https://millennialsbuildinggreatness.com/products/business-builders-annual-package" class="btn btn-theme btn-circle" target="_blank" >Click Here To Do A Down Payment Of $72.50 & Spread Your Payments Bi Weekly At $300 Per Every Two Weeks Over The Next 2 Months</a>
              </div>
            </div>
          </div>

         <div class="col-lg-4 col-md-4 md-mt-5">
            <div class="contact-media">
              <img class="img-center" src="https://newsroom.mastercard.com/wp-content/uploads/2016/09/paypal-logo.png" alt="">
              <span>Business Builder Program Monthly Package Monthly Payments Of $109.99</span>
              <span>Watch Video Below To See How To Purchase With Payment Option</span>
              <iframe width="100%" height="315" src="https://www.youtube.com/embed/ppd1hzQ8dLQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              <div class="col-md-12 mt-2">
                  <p>Click Button Below To Make Monthly Payments Of $109.99</p><br>
                  <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
   <input type="hidden" name="cmd" value="_s-xclick">
   <input type="hidden" name="hosted_button_id" value="JHUCXD2TWBEMA">
   <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
   <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
   </form>



              </div>
            </div>
          </div>
           <div class="col-lg-4 col-md-4 md-mt-5">
            <div class="contact-media">
              <img class="img-center" src="https://newsroom.mastercard.com/wp-content/uploads/2016/09/paypal-logo.png" alt="">
              <span>Business Builder Program Annual Package One Payment Of $999</span>
              <span>Watch Video Below To See How To Purchase With Payment Option</span>
              <iframe width="100%" height="315" src="https://www.youtube.com/embed/ppd1hzQ8dLQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              <div class="col-md-12 mt-2">
                  <p>Click Button Below To Make $999 Payment</p><br>
                  <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
                     <input type="hidden" name="cmd" value="_s-xclick">
                     <input type="hidden" name="hosted_button_id" value="VXRETN67PQDL2">
                     <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                     <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                    </form>


              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="featured-item style-6">
          <div class="featured-icon"> <i class="flaticon-software"></i>
          </div>
          <div class="featured-title">
            <h5>Design</h5>
          </div>
          <div class="featured-desc">
            <p>Top quality Software services, labore et dolore magna ali qua Lorem ipsum dolor sit amet.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 sm-mt-5">
        <div class="featured-item style-6">
          <div class="featured-icon"> <i class="flaticon-scroll"></i>
          </div>
          <div class="featured-title">
            <h5>Drag And Drop</h5>
          </div>
          <div class="featured-desc">
            <p>Top quality Software services, labore et dolore magna ali qua Lorem ipsum dolor sit amet.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 md-mt-5">
        <div class="featured-item style-6">
          <div class="featured-icon"> <i class="flaticon-resolution"></i>
          </div>
          <div class="featured-title">
            <h5>High Resolution</h5>
          </div>
          <div class="featured-desc">
            <p>Top quality Software services, labore et dolore magna ali qua Lorem ipsum dolor sit amet.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mt-5">
        <div class="featured-item style-6">
          <div class="featured-icon"> <i class="flaticon-objective"></i>
          </div>
          <div class="featured-title">
            <h5>App integration</h5>
          </div>
          <div class="featured-desc">
            <p>Top quality Software services, labore et dolore magna ali qua Lorem ipsum dolor sit amet.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mt-5">
        <div class="featured-item style-6">
          <div class="featured-icon"> <i class="flaticon-market"></i>
          </div>
          <div class="featured-title">
            <h5>Marketing</h5>
          </div>
          <div class="featured-desc">
            <p>Top quality Software services, labore et dolore magna ali qua Lorem ipsum dolor sit amet.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mt-5">
        <div class="featured-item style-6">
          <div class="featured-icon"> <i class="flaticon-customer-service"></i>
          </div>
          <div class="featured-title">
            <h5>Helping Support</h5>
          </div>
          <div class="featured-desc">
            <p>Top quality Software services, labore et dolore magna ali qua Lorem ipsum dolor sit amet.</p>
          </div>
        </div>
      </div>
    </div> -->
  </div>
</section>

<!--feature end-->

<!--about end-->


<!--counter start-->

<!-- <section class="pb-0 text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-6">
        <div class="counter style-2">
          <div class="counter-desc">
         <span class="count-number" data-to="2304" data-speed="10000">2304</span>
         <span>+</span>
          <h5>Project Done</h5>
        </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 xs-mt-5">
        <div class="counter style-2">
          <div class="counter-desc">
           <span class="count-number" data-to="3585" data-speed="10000">3585</span>
           <span>+</span>
          <h5>Success Rate</h5>
        </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 sm-mt-5">
        <div class="counter style-2">
          <div class="counter-desc">
         <span class="count-number" data-to="1365" data-speed="10000">1365</span>
         <span>+</span>
          <h5>Awards</h5>
        </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 sm-mt-5">
        <div class="counter style-2">
          <div class="counter-desc">
         <span class="count-number" data-to="4328" data-speed="10000">4328</span>
         <span>+</span>
          <h5>Happy Client</h5>
        </div>
        </div>
      </div>
    </div>
  </div>
</section> -->

<!--counter end-->

</div>

<!--body content end-->


<!-- page wrapper end -->


<!--back-to-top start-->

<div class="scroll-top"><a class="smoothscroll" href="#top"><i class="flaticon-go-up-in-web"></i></a></div>

<!--back-to-top end-->

{%  endblock %}
