{% extends "landingpages/layout/LandingLayout.html" %}
{% load static %}

{% block content %}


<section class="fullscreen-banner banner p-0" data-bg-img="images/pattern/01.png" style="height: 1131px; background-image: url(&quot;images/pattern/01.png&quot;);">
  <div class="hero-bg">
    <img class="img-fluid" src="images/bg/04.png" alt="">
  </div>
  <div class="align-center p-0" style="padding-top: 80px;">
    <div class="container-fluid">

      <div class="row">
        <div class="col-lg-7 col-md-12 img-side">
          <div class="video-btn" style="position: absolute; left: 50%; top: 45%; width: auto !important; z-index: 99;"> <a class="play-btn popup-youtube" href="https://www.youtube.com/watch?v=XZL1DaHeuR8"><i class="la la-play"></i></a>
            <div class="spinner-eff">
              <div class="spinner-circle circle-1"></div>
              <div class="spinner-circle circle-2"></div>
            </div>
          </div>
          <img class="img-center" src="images/mackbook/01.png" alt="">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-5 col-md-12 md-mt-5 ml-auto">
          <h1 class="mb-4 font-weight-normal wow fadeInUp" data-wow-duration="1.5s" style="visibility: visible; animation-duration: 1.5s; animation-name: fadeInUp;">Forever<span class="font-weight-bold text-uppercase"><br>Free</span> Package</h1>

          <p class="lead mb-4 wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.3s" style="visibility: visible; animation-duration: 2s; animation-delay: 0.3s; animation-name: fadeInUp;">Click On The Play Button To The Left To See A Demo Of Our Forever Free Package. Click The Button Below To Sign Up For The Forever Free Package.</p>
          <a class="btn btn-theme wow fadeInUp" data-wow-duration="3s" data-wow-delay="0.5s" href="/" target="_blank" data-text="" style="visibility: visible; animation-duration: 3s; animation-delay: 0.5s; animation-name: fadeInUp; margin-top: 5px;"> Sign Up For The Forever Free Package
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="round-shape"></div>
</section>
<!--counter start-->

<!-- <section class="grey-bg md-pb-15">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12 mr-auto">
        <div class="section-title mb-0">
          <div class="title-effect title-effect-2">
            <div class="ellipse"></div> <i class="la la-sort-numeric-asc"></i>
          </div>
          <h2>Number Speak Louder then Word</h2>
          <p class="lead">Softino Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderi</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="p-0">
  <div class="container custom-mt-20 md-custom-mt-10">
    <div class="row">
      <div class="col-lg-6 col-md-12 ml-auto">
        <div class="owl-carousel owl-theme" data-dots="false" data-items="2" data-margin="30" data-autoplay="true">
          <div class="item">
            <div class="counter">
              <div class="counter-icon">
                <img class="img-center" src="images/counter/01.png" alt="">
              </div>
              <div class="counter-desc"> <span class="count-number" data-to="2304" data-speed="10000">2304</span>
                <h5>Project Done</h5>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="counter">
              <div class="counter-icon">
                <img class="img-center" src="images/counter/02.png" alt="">
              </div>
              <div class="counter-desc"> <span class="count-number" data-to="3585" data-speed="10000">3585</span>
                <h5>Success Rate</h5>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="counter">
              <div class="counter-icon">
                <img class="img-center" src="images/counter/03.png" alt="">
              </div>
              <div class="counter-desc"> <span class="count-number" data-to="1365" data-speed="10000">1365</span>
                <h5>Awards</h5>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="counter">
              <div class="counter-icon">
                <img class="img-center" src="images/counter/04.png" alt="">
              </div>
              <div class="counter-desc"> <span class="count-number" data-to="4328" data-speed="10000">4328</span>
                <h5>Happy Client</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->

<!--counter end-->


<!--feature start-->

<!-- <section class="pos-r o-hidden" data-bg-img="images/pattern/03.png">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 image-column right">
         <img class="img-fluid" src="images/about/01.png" alt="">
      </div>
      <div class="col-lg-6 col-md-12 mr-auto">
        <div class="featured-item style-5">
          <div class="featured-icon">
            <img class="img-center" src="images/feature/06.png" alt="">
          </div>
          <div class="featured-title">
            <h5>Design</h5>
          </div>
          <div class="featured-desc">
            <p>Top quality Software services, labore et dolore magna ali qua Lorem ipsum dolor sit amet.</p>
          </div>
        </div>
        <div class="featured-item style-5 mt-5">
          <div class="featured-icon">
            <img class="img-center" src="images/feature/07.png" alt="">
          </div>
          <div class="featured-title">
            <h5>Drag And Drop</h5>
          </div>
          <div class="featured-desc">
            <p>Top quality Software services, labore et dolore magna ali qua Lorem ipsum dolor sit amet.</p>
          </div>
        </div>
        <div class="featured-item style-5 mt-5">
          <div class="featured-icon">
            <img class="img-center" src="images/feature/08.png" alt="">
          </div>
          <div class="featured-title">
            <h5>High Resolution</h5>
          </div>
          <div class="featured-desc">
            <p>Top quality Software services, labore et dolore magna ali qua Lorem ipsum dolor sit amet.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->

<!--feature end-->



<!--pricing start-->


<!-- <section class="pos-r">
    <div class="hexagon-bg style-2">
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
    </div>
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-8 col-md-12 ml-auto mr-auto">
        <div class="section-title">
          <div class="title-effect title-effect-2">
            <div class="ellipse"></div> <i class="la la-money"></i>
          </div>
          <h2 class="title">Choose affordable prices</h2>
          <p>Softino Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderi</p>
        </div>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-lg-4 col-md-12">
        <div class="price-table">
          <div class="price-inside">Starter</div>
          <div class="price-header mb-3">
            <div class="price-value">
              <h2><span>$</span>33</h2>
              <span>Monthly Package</span>
            </div>
            <h3 class="price-title">Starter</h3>
          </div>
          <div class="price-list">
            <ul class="list-unstyled">
              <li>15 Analytics Compaign</li>
              <li>Unlimited Site licenses</li>
              <li>1 Database</li>
              <li>10 Free Optimization</li>
              <li>Html5 + Css3</li>
              <li>24/7 Customer Support</li>
            </ul>
          </div>
          <a class="btn btn-theme btn-circle mt-4" href="#" data-text="Purchase Now"> <span>P</span><span>u</span><span>r</span><span>c</span><span>h</span><span>a</span><span>s</span><span>e</span>
            <span> </span><span>N</span><span>o</span><span>w</span>
          </a>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 md-mt-5">
        <div class="price-table active">
          <div class="price-inside">Premium</div>
          <div class="price-header">
            <div class="price-value">
              <h2><span>$</span>55</h2>
              <span>Monthly Package</span>
            </div>
            <h3 class="price-title">Premium</h3>
          </div>
          <a class="btn btn-theme btn-circle my-4" href="#" data-text="Purchase Now"> <span>P</span><span>u</span><span>r</span><span>c</span><span>h</span><span>a</span><span>s</span><span>e</span>
            <span> </span><span>N</span><span>o</span><span>w</span>
          </a>
          <div class="price-list">
            <ul class="list-unstyled">
              <li>15 Analytics Compaign</li>
              <li>Unlimited Site licenses</li>
              <li>1 Database</li>
              <li>10 Free Optimization</li>
              <li>Html5 + Css3</li>
              <li>24/7 Customer Support</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 md-mt-5">
        <div class="price-table">
          <div class="price-inside">Professional</div>
          <div class="price-header mb-3">
            <div class="price-value">
              <h2><span>$</span>99</h2>
              <span>Monthly Package</span>
            </div>
            <h3 class="price-title">Professional</h3>
          </div>
          <div class="price-list">
            <ul class="list-unstyled">
              <li>15 Analytics Compaign</li>
              <li>Unlimited Site licenses</li>
              <li>1 Database</li>
              <li>10 Free Optimization</li>
              <li>Html5 + Css3</li>
              <li>24/7 Customer Support</li>
            </ul>
          </div>
          <a class="btn btn-theme btn-circle mt-4" href="#" data-text="Purchase Now"> <span>P</span><span>u</span><span>r</span><span>c</span><span>h</span><span>a</span><span>s</span><span>e</span>
            <span> </span><span>N</span><span>o</span><span>w</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section> -->




<!--back-to-top start-->

<div class="scroll-top"><a class="smoothscroll" href="#top"><i class="flaticon-go-up-in-web"></i></a></div>

<!--back-to-top end-->


{% endblock %}