{% extends "landingpages/layout/LandingLayout.html" %}
{% load static %}

{% block content %}

<section class="page-title o-hidden pos-r md-text-center" data-bg-color="#fbf3ed">
  <canvas id="confetti"></canvas>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-7 col-md-12">
        <h1 class="title"><span>T</span>estimonials</h1>
        <p>We're Helping Clients Build Business Credits</p>
      </div>
      <div class="col-lg-5 col-md-12 text-lg-right md-mt-3">
        <nav aria-label="breadcrumb" class="page-breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Testimonials</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
  <div class="page-title-pattern"><img class="img-fluid" src="/static/images/bg/11.png" alt=""></div>
</section>

<!--page title end-->


<!--body content start-->

<div class="page-content">

<section class="pos-r pt-0">
  <div class="hexagon-bg style-2">
    <div class="hexagon"></div>
    <div class="hexagon"></div>
    <div class="hexagon"></div>
    <div class="hexagon"></div>
  </div>
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-8 col-md-12 ml-auto mr-auto">
        <div class="section-title">
          <div class="title-effect">
            <div class="bar bar-top"></div>
            <div class="bar bar-right"></div>
            <div class="bar bar-bottom"></div>
            <div class="bar bar-left"></div>
          </div>
          <h2 class="title">Our Happy Clients</h2>
          <p>View Some Of Our Testimonials From Happy Clients</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!--testimonial style-1 start-->


<section class="p-0 pos-r" data-bg-img="/static/images/pattern/03.png">
  <div class="container">
    <div class="row custom-mt-10">
      <div class="col-lg-6 col-md-6 ml-auto mr-auto my-btn-in-desktop">
        <div class="video-box">
          <img class="img-fluid" src="/static/images/testimonial/test1.png" alt="">
          <div class="video-btn video-btn-pos"> <a class="play-btn popup-youtube" href="https://www.youtube.com/watch?v=OdqsT5r9N7o"><i class="la la-play"></i></a>
            <div class="spinner-eff">
              <div class="spinner-circle circle-1"></div>
              <div class="spinner-circle circle-2"></div>
            </div>
          </div>
        </div>
      </div>

        <div class="col-lg-6 col-md-12 my-ifram-in-mobile">
        	<div class="video-responsive my-ifram-in-mobile">
			    <iframe width="100%" height="250" src="https://www.youtube.com/embed/OdqsT5r9N7o" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
        </div>
      <div class="col-lg-6 col-md-6 ml-auto mr-auto my-btn-in-desktop">
        <div class="video-box">
          <img class="img-fluid" src="/static/images/testimonial/test2.png" alt="">
          <div class="video-btn video-btn-pos"> <a class="play-btn popup-youtube" href="https://www.youtube.com/watch?v=f39zGQMMbA0"><i class="la la-play"></i></a>
            <div class="spinner-eff">
              <div class="spinner-circle circle-1"></div>
              <div class="spinner-circle circle-2"></div>
            </div>
          </div>
        </div>
      </div>

        <div class="col-lg-6 col-md-12 my-ifram-in-mobile">
        	<div class="video-responsive my-ifram-in-mobile">
			    <iframe width="100%" height="250" src="https://www.youtube.com/embed/f39zGQMMbA0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
        </div>
      <div class="col-lg-6 col-md-6 ml-auto mr-auto my-btn-in-desktop" style="margin-top: 30px;">
        <div class="video-box">
          <img class="img-fluid" src="/static/images/testimonial/test3.png" alt="">
          <div class="video-btn video-btn-pos"> <a class="play-btn popup-youtube" href="https://www.youtube.com/watch?v=yRHg-oIjbdI"><i class="la la-play"></i></a>
            <div class="spinner-eff">
              <div class="spinner-circle circle-1"></div>
              <div class="spinner-circle circle-2"></div>
            </div>
          </div>
        </div>
      </div>

        <div class="col-lg-6 col-md-12 my-ifram-in-mobile">
        	<div class="video-responsive my-ifram-in-mobile">
			    <iframe width="100%" height="250" src="https://www.youtube.com/embed/yRHg-oIjbdI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
        </div>
      <div class="col-lg-6 col-md-6 ml-auto mr-auto my-btn-in-desktop"  style="margin-top: 30px;">
        <div class="video-box">
          <img class="img-fluid" src="/static/images/testimonial/test4.png" alt="">
          <div class="video-btn video-btn-pos"> <a class="play-btn popup-youtube" href="https://www.youtube.com/watch?v=rgh1TupF6WM"><i class="la la-play"></i></a>
            <div class="spinner-eff">
              <div class="spinner-circle circle-1"></div>
              <div class="spinner-circle circle-2"></div>
            </div>
          </div>
        </div>
      </div>

        <div class="col-lg-6 col-md-12 my-ifram-in-mobile">
        	<div class="video-responsive my-ifram-in-mobile">
			    <iframe width="100%" height="250" src="https://www.youtube.com/embed/rgh1TupF6WM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
        </div>
      <div class="col-lg-6 col-md-6 ml-auto mr-auto my-btn-in-desktop" style="margin-top: 30px;">
        <div class="video-box">
          <img class="img-fluid" src="/static/images/testimonial/test5.png" alt="">
          <div class="video-btn video-btn-pos"> <a class="play-btn popup-youtube" href="https://www.youtube.com/watch?v=uefcAPVNucU"><i class="la la-play"></i></a>
            <div class="spinner-eff">
              <div class="spinner-circle circle-1"></div>
              <div class="spinner-circle circle-2"></div>
            </div>
          </div>
        </div>
      </div>

        <div class="col-lg-6 col-md-12 my-ifram-in-mobile">
        	<div class="video-responsive my-ifram-in-mobile">
			    <iframe width="100%" height="250" src="https://www.youtube.com/embed/uefcAPVNucU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
        </div>
      <div class="col-lg-6 col-md-6 ml-auto mr-auto my-btn-in-desktop"  style="margin-top: 30px;">
        <div class="video-box">
          <img class="img-fluid" src="/static/images/testimonial/test6.png" alt="">
          <div class="video-btn video-btn-pos"> <a class="play-btn popup-youtube" href="https://www.youtube.com/watch?v=8KKAajZMFmE"><i class="la la-play"></i></a>
            <div class="spinner-eff">
              <div class="spinner-circle circle-1"></div>
              <div class="spinner-circle circle-2"></div>
            </div>
          </div>
        </div>
      </div>

        <div class="col-lg-6 col-md-12 my-ifram-in-mobile">
        	<div class="video-responsive my-ifram-in-mobile">
			    <iframe width="100%" height="250" src="https://www.youtube.com/embed/8KKAajZMFmE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
        </div>
      <div class="col-lg-6 col-md-6 ml-auto mr-auto my-btn-in-desktop" style="margin-top: 30px;">
        <div class="video-box">
          <img class="img-fluid" src="/static/images/testimonial/test7.png" alt="">
          <div class="video-btn video-btn-pos"> <a class="play-btn popup-youtube" href="https://www.youtube.com/watch?v=-W-YPfK5Ozg"><i class="la la-play"></i></a>
            <div class="spinner-eff">
              <div class="spinner-circle circle-1"></div>
              <div class="spinner-circle circle-2"></div>
            </div>
          </div>
        </div>
      </div>

        <div class="col-lg-6 col-md-12 my-ifram-in-mobile">
        	<div class="video-responsive my-ifram-in-mobile">
			    <iframe width="100%" height="250" src="https://www.youtube.com/embed/-W-YPfK5Ozg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
        </div>
      <div class="col-lg-6 col-md-6 ml-auto mr-auto my-btn-in-desktop"  style="margin-top: 30px;">
        <div class="video-box">
          <img class="img-fluid" src="/static/images/testimonial/test8.png" alt="">
          <div class="video-btn video-btn-pos"> <a class="play-btn popup-youtube" href="https://www.youtube.com/watch?v=n-AqwGhJpKg"><i class="la la-play"></i></a>
            <div class="spinner-eff">
              <div class="spinner-circle circle-1"></div>
              <div class="spinner-circle circle-2"></div>
            </div>
          </div>
        </div>
      </div>

        <div class="col-lg-6 col-md-12 my-ifram-in-mobile">
        	<div class="video-responsive my-ifram-in-mobile">
			    <iframe width="100%" height="250" src="https://www.youtube.com/embed/n-AqwGhJpKg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
        </div>
      <div class="col-lg-6 col-md-6 ml-auto mr-auto my-btn-in-desktop" style="margin-top: 30px;">
        <div class="video-box">
          <img class="img-fluid" src="/static/images/testimonial/test9.png" alt="">
          <div class="video-btn video-btn-pos"> <a class="play-btn popup-youtube" href="https://www.youtube.com/watch?v=cey3OGZJQpo"><i class="la la-play"></i></a>
            <div class="spinner-eff">
              <div class="spinner-circle circle-1"></div>
              <div class="spinner-circle circle-2"></div>
            </div>
          </div>
        </div>
      </div>

        <div class="col-lg-6 col-md-12 my-ifram-in-mobile">
        	<div class="video-responsive my-ifram-in-mobile">
			    <iframe width="100%" height="250" src="https://www.youtube.com/embed/cey3OGZJQpo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
        </div>
      <div class="col-lg-6 col-md-6 ml-auto mr-auto my-btn-in-desktop"  style="margin-top: 30px;">
        <div class="video-box">
          <img class="img-fluid" src="/static/images/testimonial/test10.png" alt="">
          <div class="video-btn video-btn-pos"> <a class="play-btn popup-youtube" href="https://www.youtube.com/watch?v=5pIvXUmClos"><i class="la la-play"></i></a>
            <div class="spinner-eff">
              <div class="spinner-circle circle-1"></div>
              <div class="spinner-circle circle-2"></div>
            </div>
          </div>
        </div>
      </div>

        <div class="col-lg-6 col-md-12 my-ifram-in-mobile">
        	<div class="video-responsive my-ifram-in-mobile">
			    <iframe width="100%" height="250" src="https://www.youtube.com/embed/5pIvXUmClos" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
        </div>
      <div class="col-lg-6 col-md-6 ml-auto mr-auto my-btn-in-desktop" style="margin-top: 30px;">
        <div class="video-box">
          <img class="img-fluid" src="/static/images/testimonial/test11.png" alt="">
          <div class="video-btn video-btn-pos"> <a class="play-btn popup-youtube" href="https://www.youtube.com/watch?v=RaFvwh4rVv4"><i class="la la-play"></i></a>
            <div class="spinner-eff">
              <div class="spinner-circle circle-1"></div>
              <div class="spinner-circle circle-2"></div>
            </div>
          </div>
        </div>
      </div>

        <div class="col-lg-6 col-md-12 my-ifram-in-mobile">
        	<div class="video-responsive my-ifram-in-mobile">
			    <iframe width="100%" height="250" src="https://www.youtube.com/embed/RaFvwh4rVv4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
        </div>
      <div class="col-lg-6 col-md-6 ml-auto mr-auto my-btn-in-desktop"  style="margin-top: 30px;">
        <div class="video-box">
          <img class="img-fluid" src="/static/images/testimonial/test12.png" alt="">
          <div class="video-btn video-btn-pos"> <a class="play-btn popup-youtube" href="https://www.youtube.com/watch?v=LpAI4D-zbog"><i class="la la-play"></i></a>
            <div class="spinner-eff">
              <div class="spinner-circle circle-1"></div>
              <div class="spinner-circle circle-2"></div>
            </div>
          </div>
        </div>
      </div>

        <div class="col-lg-6 col-md-12 my-ifram-in-mobile">
        	<div class="video-responsive my-ifram-in-mobile">
			    <iframe width="100%" height="250" src="https://www.youtube.com/embed/LpAI4D-zbog" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
        </div>
      <div class="col-lg-6 col-md-6 ml-auto mr-auto my-btn-in-desktop" style="margin-top: 30px;">
        <div class="video-box">
          <img class="img-fluid" src="/static/images/testimonial/test13.png" alt="">
          <div class="video-btn video-btn-pos"> <a class="play-btn popup-youtube" href="https://www.youtube.com/watch?v=xRAz29BV9v8"><i class="la la-play"></i></a>
            <div class="spinner-eff">
              <div class="spinner-circle circle-1"></div>
              <div class="spinner-circle circle-2"></div>
            </div>
          </div>
        </div>
      </div>

        <div class="col-lg-6 col-md-12 my-ifram-in-mobile">
        	<div class="video-responsive my-ifram-in-mobile">
			    <iframe width="100%" height="250" src="https://www.youtube.com/embed/xRAz29BV9v8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
        </div>
      <div class="col-lg-6 col-md-6 ml-auto mr-auto my-btn-in-desktop"  style="margin-top: 30px;">
        <div class="video-box">
          <img class="img-fluid" src="/static/images/testimonial/test14.png" alt="">
          <div class="video-btn video-btn-pos"> <a class="play-btn popup-youtube" href="https://www.youtube.com/watch?v=a9c-C6ureog"><i class="la la-play"></i></a>
            <div class="spinner-eff">
              <div class="spinner-circle circle-1"></div>
              <div class="spinner-circle circle-2"></div>
            </div>
          </div>
        </div>
      </div>

        <div class="col-lg-6 col-md-12 my-ifram-in-mobile">
        	<div class="video-responsive my-ifram-in-mobile">
			    <iframe width="100%" height="250" src="https://www.youtube.com/embed/a9c-C6ureog" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
        </div>
    </div>
  </div>
</section>
<!-- <section class="grey-bg pos-r o-hidden" data-bg-img="/static/images/pattern/01.png">
  <div class="wave-shape">
    <img class="img-fluid" src="/static/images/bg/03.png" alt="">
  </div>
  <div class="container">
    <div class="row mt-5">
      <div class="col-md-12">
        <div id="testimonial-1" class="testimonial-carousel carousel slide" data-ride="carousel" data-interval="2500">
          <div class="row align-items-center">
            <div class="col-lg-7 col-md-12">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <div class="testimonial style-1">
                    <div class="testimonial-content">
                      <div class="testimonial-quote"><i class="la la-quote-left"></i>
                      </div>
                      <p>Professional recommended and great experience, Nam pulvinar vitae neque et porttitor, Praesent sed nisi eleifend, Consectetur adipisicing elit, sed do eiusmodas temporo incididunt Praesent sed nisi eleifend, Consectetur adipisicing elit</p>
                      <div class="testimonial-caption">
                        <h5>Lana Roadse</h5>
                        <label>CEO of Softino</label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="testimonial style-1">
                    <div class="testimonial-content">
                      <div class="testimonial-quote"><i class="la la-quote-left"></i>
                      </div>
                      <p>Recommended Professional and great experience, Nam pulvinar vitae neque et porttitor, Praesent sed nisi eleifend, Consectetur adipisicing elit, sed do eiusmodas temporo incididunt Praesent sed nisi eleifend, Consectetur adipisicing elit,</p>
                      <div class="testimonial-caption">
                        <h5>Lana Roadse</h5>
                        <label>CEO of Softino</label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="testimonial style-1">
                    <div class="testimonial-content">
                      <div class="testimonial-quote"><i class="la la-quote-left"></i>
                      </div>
                      <p>Consectetur Recommended Professional and great experience, Nam pulvinar vitae neque et porttitor, Praesent sed nisi eleifend, adipisicing elit, sed do eiusmodas temporo incididunt Praesent sed nisi eleifend, Consectetur adipisicing elit,</p>
                      <div class="testimonial-caption">
                        <h5>Lana Roadse</h5>
                        <label>CEO of Softino</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-5 col-md-12 md-mt-5">
              <div class="controls">
                <div class="anti-01-holder">
                  <div class="anti-01"></div>
                </div>
                <div class="anti-02-holder">
                  <div class="anti-02"></div>
                </div>
                <div class="anti-03-holder">
                  <div class="anti-03"></div>
                </div>
                <ul class="nav">
                  <li data-target="#testimonial-1" data-slide-to="0" class="active">
                    <a href="#">
                      <img class="img-fluid" src="/static/images/testimonial/01.jpg" alt="">
                    </a>
                  </li>
                  <li data-target="#testimonial-1" data-slide-to="1">
                    <a href="#">
                      <img class="img-fluid" src="/static/images/testimonial/02.jpg" alt="">
                    </a>
                  </li>
                  <li data-target="#testimonial-1" data-slide-to="2">
                    <a href="#">
                      <img class="img-fluid" src="/static/images/testimonial/03.jpg" alt="">
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->

</div>

<!--body content end-->

<!-- page wrapper end -->


<!--back-to-top start-->

<div class="scroll-top"><a class="smoothscroll" href="#top"><i class="flaticon-go-up-in-web"></i></a></div>

<!--back-to-top end-->


<!-- inject js start -->

{% endblock %}
