<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
      rel="stylesheet"
    />

    <title>setmore</title>
  </head>
  <body>
    <nav class="container mx-auto flex justify-between items-center h-24">
      <img
        src="{{dynamic.bcb_appointment_software_logo.url}}"
        alt="logo"
        srcset=""
        class="w-12"
      />
      <a href="https://bcbcrmsoftware.com/login" class="rounded bg-blue-500 text-white" style="padding: 5px 24px">
        Login
      </a>
    </nav>
    <div
      class="container mx-auto sm:flex-none flex justify-between items-center"
    >
      <div>
        <h1 class="text-7xl font-bold lg:pt-5">
          {{dynamic.bcb_appointment_software_heading}}
        </h1>
        <p
          class="font-semibold mt-10"
          style="font-size: 18px; line-height: 28px"
        >
        {{dynamic.bcb_appointment_software_text}}
        </p>
        <a href="https://bcbcrmsoftware.com/login" class="bg-blue-500 p-5 text-white rounded-md text-xl mt-22">
          Get your free account
        </a>
      </div>

      <img
        src="https://storage.googleapis.com/setmore-website/v2/images/homepage/home-hero.png"
        alt=""
        srcset=""
      />
    </div>
  </body>
</html>