<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fresh works</title>
    <link
      href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="w-full border-b-2">
      <nav
        class="flex mx-auto container items-center justify-between w-full h-20"
      >
      <a href="{{dynamic.bcb_video_software_logo_link}}"
      ><img class="h-24 w-24 object-contain "  src="{{dynamic.bcb_video_software_logo.url}}" alt="" srcset=""></svg
    ></a>

     
            <a href="https://bcbcrmsoftware.com/login"><p class="font-bold">Login</p></a>
          
         
        </ul>
      </nav>
    </div>
    <main class="container mx-auto flex justify-center items-center mt-24">
      <div class="call-to-action">
        <h1
          style="
            font-size: 2.625rem;
            line-height: 1.29;
            color: #101624;
            font-family: neue-haas-grotesk-display, Helvetica, sans-serif;
            font-weight: 600;
            font-style: normal;
            margin: 10px 0;
          "
        >
    {{dynamic.bcb_crm_software_heading}}
        </h1>
        <p
          class="sub-text"
          style="
            font-family: neue-haas-grotesk-text, Helvetica, sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: 1.25rem;
            line-height: 1.4;
            color: #3c3f48;
            margin: 0;
            word-break: break-word;
          "
        >
          {{dynamic.bcb_crm_software_text}}
        </p>
        <a href="https://bcbcrmsoftware.com/login">    <button class="bg-black text-white p-2 text-l font-bold mt-10">
            GET STARTED
          </button></a>
    
      </div>
      <div class="svg-section">
        <img
          src="https://website-assets-fw.freshworks.com/attachments/ckomq7ujm00q396g1v2qcfr8c-icon-illust.one-half.png"
          alt=""
        />
      </div>
    </main>
    <section>
      <h1
        class="font-bold"
        style="
          text-align: center;
          font-size: 2.25rem;
          line-height: 1.33;
          font-style: normal;
          margin: 60px 0;
        "
      >
        {{dynamic.bcb_crm_software_bottom_heading}}
      </h1>
    </section>
  </body>
</html>
