<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- link tailwindcss cdn to this html file      -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" />
  <title>Semrush</title>
</head>

<body class="bg-purple-600">
  <nav class="w-full bg-black w-full h-20">
    <section class="container mx-auto flex justify-between items-center p-3">
      <img class="h-28 w-28" src="{{dynamic.bcb_seo_software_logo.url}}" alt="" srcset="" />
      <a href="https://bcbcrmsoftware.com/login" class="text-white border-2 rounded-lg px-5 py-2">Login</a>
    </section>
  </nav>
  <main class="
        container
        mx-auto
        flex flex-col
        items-center
        justify-center
        h-screen
      ">
    <h1 class="text-6xl text-white font-black text-center">
      {{dynamic.bcb_seo_software_heading}}
    </h1>
    <p class="text-xl text-white font-semibold text-center">
      {{dynamic.bcb_seo_software_text}}
    </p>
    <a href="https://bcbcrmsoftware.com/login" class="
          bg-yellow-600
          text-white
          font-semibold
          text-xl
          rounded
          px-9
          mt-9
          py-3
        ">
      Start Now
    </a>
  </main>
</body>

</html>