<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>8x8</title>
    <link
      href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav class="container flex mx-auto justify-between items-center p-2">
      <img
        class="h-24 w-24"
        src="{{dynamic.bcb_voice_logo.url}}"
        alt=""
      />
      <a  href="https://bcbcrmsoftware.com/login"
        class="text-xl font-bold text-red-400 border-2 border-red-400 px-6 py-3"
      >
        Login
      </a>
    </nav>
    <main
      class="
        container
        mx-auto
        flex
        justify-between
        items-center
        h-screen
        overflow-hidden
      "
    >
      <div
        class="
          flex flex-col
          items-start
          justify-center
          w-full
          h-full
          overflow-hidden
        "
      >
        <h1 class="text-7xl font-bold l text-black">
          {{dynamic.bcb_voice_heading}}
        </h1>
        <h2 class="text-xl text-black mt-2">
          {{dynamic.bcb_voice_text}}
        </h2>
        <a  href="https://bcbcrmsoftware.com/login"
          class="bg-red-500 text-white text-xl font-bold px-12 py-4 mt-10"
        >
          Sign-Up
        </a>
      </div>

      <img
        class="w-full h-full overflow-hidden"
        src="https://ik.imagekit.io/8x8/v3/assets/blte621f0a2bd0e9f69/bltb777b34dcf06e635/60f1eeb903d890274e98c58c/v2_light_2000px.png?cache=1626468025&tr=fo-auto,w-1200"
        alt=""
        srcset=""
      />
    </main>
  </body>
</html>