{% extends "layout/BaseLayout.html" %}
{% load static %}
{% block navigation %}
    <div class="main-sidebar-nav dark-navigation">
        <div class="nano">
            <div class="nano-content sidebar-nav">
                <div class="card-body border-bottom text-center nav-profile">
                    <br>
                    <p class="lead margin-b-0 toggle-none">
                        {{ request.user.get_full_name }}
                    </p>
                    <p class="text-muted mv-0 toggle-none">Welcome</p>
                </div>
                <ul class="metisMenu nav flex-column" id="menu">
                    <li class="nav-item"><a href="{% url 'homepage' %}" class="nav-link">Go Back To Main Portal</a></li>
                    <li class="nav-item"><a href="{% url 'goals:marketingbusiness' %}" class="nav-link">marketing Your
                        business
                    </a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock navigation %}
{% block content %}
{% endblock content %}
