{% extends "pages/base-whitelabel.html" %}
{% load static %}

{% block extrastyle %}
    <script type="text/javascript" src="https://chatterpal.me/build/js/chatpal.js?7.23" crossorigin="anonymous"
            data-cfasync="false">
    </script>
    <script>
        var chatPal = new ChatPal({
            embedId: 'DfT7BnTm5dGn',
            remoteBaseUrl: 'https://chatterpal.me/',
            version: '7.23'
        });
    </script>
{% endblock extrastyle %}
<!-- ============================================================== -->
<!--            Content Start             -->
<!-- ============================================================== -->
{% block content %}
    <div class="row page-header">
        <div class="col-lg-6 align-self-center ">
            <h2>White Label Website</h2></div>
    </div>

    <section class="main-content">
        <div class="row">
            <div class="col-md-12">
                <iframe width="100%" height="515" src="https://www.youtube.com/embed/rUFnoYwDPh4" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
            </div>
        </div>
        <br>
        <h2 style="text-align:center;">White Label Website Information</h2>
        <br>
        <div class="row">
            <div class="col-md-6">
                <div class="card mb-4 shadow-sm">
                    <img src="https://www.getdinerotoday.com/static/assets/img/website1.png" height="300px" alt="">
                    <div class="card-body">
                        <p class="card-text">Watch The Video Above To See How To Purchase Your White Label Website With
                            Only Payinh 25% Down At 0% Interest</p>
                        <div class="d-flex justify-content-between align-items-center">
                          <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
                            <input type="hidden" name="cmd" value="_s-xclick">
                            <input type="hidden" name="hosted_button_id" value="5PX7H5MUWWA86">
                            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                          </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card mb-4 shadow-sm">
                    <img src="https://www.getdinerotoday.com/static/assets/img/website2.png" height="300px" alt="">
                    <div class="card-body">
                        <p class="card-text">White Label Website Preview</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="#" target="_blank">
                                    <button type="button" class="btn btn-sm btn-primary">Click Here To See White Label
                                        Website Preview
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <h2 style="text-align:center;">White Label Website Pricing</h2>
        <br>
        <div class="container">
            <div class="card-deck mb-3 text-center">
                <div class="card mb-6 shadow-sm">
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">$199<small class="text-muted">/ Year</small></h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>2 GB of storage</li>
                            <li>Free Domain Name</li>
                            <li>White Label Website With Your Branding</li>
                        </ul>
                        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
                          <input type="hidden" name="cmd" value="_s-xclick">
                          <input type="hidden" name="hosted_button_id" value="5PX7H5MUWWA86">
                          <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                          <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                        </form>

                        <br>
                        <a href="https://millennialsbuildinggreatness.com/products/white-label-website" target="_blank">
                            <button type="button" class="btn btn-lg btn-block btn-primary">Click Here To Only Pay 25%
                                Down & Spread Payments Out Over 3 Monthly Payments With 0% Interest
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
