{% extends "pages/base-whitelabel.html" %}
{% load static %}

{% block extrastyle %}
    <script type="text/javascript" src="https://chatterpal.me/build/js/chatpal.js?7.23" crossorigin="anonymous"
            data-cfasync="false">
    </script>
    <script>
        var chatPal = new ChatPal({
            embedId: 'DfT7BnTm5dGn',
            remoteBaseUrl: 'https://chatterpal.me/',
            version: '7.23'
        });
    </script>
{% endblock extrastyle %}
<!-- ============================================================== -->
<!--            Content Start             -->
<!-- ============================================================== -->
{% block content %}
    <div class="row page-header">
        <div class="col-lg-6 align-self-center ">
            <h2>White Label Business Package </h2></div>
    </div>

    <section class="main-content">
        <div class="row">
            <div class="col-md-12">
                <iframe width="100%" height="515" src="https://www.youtube.com/embed/RP7bTADx1AY" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <br>
                <h2 style="text-align:center;">Watch The Video Above To Learn More About Our White Label Business
                    Package</h2>
                <br>
                <div class="container">
                    <div class="card-deck mb-3 text-center">
                        <div class="card mb-6 shadow-sm">
                            <div class="card-body">
                                <h1 class="card-title pricing-card-title">$499<small class="text-muted">/ Year</small>
                                </h1>
                                <ul class="list-unstyled mt-3 mb-4">
                                    <li> Domain</li>
                                    <li>Web Hosting For The Entire Year</li>
                                    <li>White Label Website</li>
                                    <li>Free SSL Certificate</li>
                                    <li>Toll-Free Number for the entire year</li>
                                    <li>Fax Number for the entire year</li>
                                    <li>Professional Email Address</li>
                                    <li>Merchant Account</li>
                                    <li>Full Portal Access For Life</li>
                                    <li>$500 In Free Advertising</li>
                                    <li>Google Ad Set-Up</li>
                                    <li>Facebook Ad Set up</li>
                                    <li>Paypal Button Integration For Payment Acceptance</li>

                                </ul>
                                <div class="col-md-12">
                                  <h3><b>Choose From The Payment Options Below</b></h3>
                                </div>
                                <br>
                                <div class="row">
                                  <div class="col-md-4">
                                    <h4>One Time Payment $499</h4>
                                    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
                                      <input type="hidden" name="cmd" value="_s-xclick">
                                      <input type="hidden" name="hosted_button_id" value="3NG5YBR6CBH44">
                                      <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                                      <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                                    </form>

                                  </div>
                                  <div class="col-md-4">
                                    <h4>$42 Per Month Option </h4>
                                    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                                      <input type="hidden" name="cmd" value="_s-xclick">
                                      <input type="hidden" name="hosted_button_id" value="CJ8EEN5BLFA22">
                                      <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                                      <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                                    </form>

                                  </div>
                                  <div class="col-md-4">
                                    <a href="https://millennialsbuildinggreatness.com/products/white-label-business-package"
                                       target="_blank">
                                        <button type="button" class="btn btn-lg btn-block btn-primary">One Payment Of $499 <br>Option (Financing)
                                        </button>
                                    </a>
                                  </div>
                                  </div>

                                </div>


                            </div>
                        </div>
                    </div>
                </div>
                <br><br>
            </div>
        </div>
    </section>

{% endblock %}
