{% extends "pages/base-whitelabel.html" %}
{% load static %}

{% block extrastyle %}
<script type="text/javascript" src="https://chatterpal.me/build/js/chatpal.js?7.23" crossorigin="anonymous" data-cfasync="false">
</script>
<script>
    var chatPal = new ChatPal({
        embedId: 'DfT7BnTm5dGn',
        remoteBaseUrl: 'https://chatterpal.me/',
        version: '7.23'
    });
</script>
{% endblock extrastyle %}
<!-- ============================================================== -->
<!--            Content Start             -->
<!-- ============================================================== -->
{% block content %}
         <div class="row page-header"><div class="col-lg-6 align-self-center ">
			  <h2>Credits</h2></div></div>

        <section class="main-content">
          <div class="row">
            <div class="col-md-12">
          <iframe width="100%" height="515" src="https://www.youtube.com/embed/U_Eo_tWiL3U" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> </div>
          </div>
            <div class="row">
                     <div class="col-md-12">
                         <div class="card">
                             <div class="card-header card-default">
                               Credits
                             </div>
                             <div class="card-body">
                               <table id="datatable" class="table table-striped dt-responsive nowrap">
                                               <thead>
                                                   <tr>
                                                       <th>Credit#</th>
                                                       <th>Account Name</th>
                                                       <th>Created</th>
                                                       <th>Applied</th>
                                                       <th>Amount</th>
                                                   </tr>
                                               </thead>
                                               <tbody>
                                               {% for credit in credits %}
                                                   <tr>
                                                     <td>{{ credit.id }}</td>
                                                     <td>{{ credit.account_name }}</td>
                                                     <td>{{ credit.created }}</td>
                                                     <td>{{ credit.applied }}</td>
                                                     <td>${{ credit.amount }}</td>
                                                  </tr>
                                               {% endfor %}
                                               </tbody>
                                           </table>

                             </div>
                         </div>
                     </div>
                 </div>

        </section>


{% endblock %}
