{% extends "pages/base-whitelabel.html" %}
{% load static %}

{% block extrastyle %}
    <script type="text/javascript" src="https://chatterpal.me/build/js/chatpal.js?7.23" crossorigin="anonymous"
            data-cfasync="false">
    </script>
    <script>
        var chatPal = new ChatPal({
            embedId: 'DfT7BnTm5dGn',
            remoteBaseUrl: 'https://chatterpal.me/',
            version: '7.23'
        });
    </script>
{% endblock extrastyle %}
<!-- ============================================================== -->
<!--            Content Start             -->
<!-- ============================================================== -->
{% block content %}
<section class="main-content">
  <div class="row">
    <div class="col-md-12">
  <iframe width="100%" height="515" src="https://www.youtube.com/embed/23omy6ImYj0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
  </div>
  <div class="jumbonew">
    <div class="jumbotron jumbotron-fluid">
  <div class="container">
  <h2>Choose The Merchant Account Products Below To Grow Your Business. <br><h4><b>Watch The Video Above For Video Explanation Of The Producs.</b></h4></h2>
  </div>
  </div>
  </div>
  <style media="screen">
  .jumbonew h1{
  text-align:center;
  font-size:26px;
  }
  .jumbonew h2,h4{
  text-align:center;
  }
  </style>
    <div class="row">
        <div class="col-md-4 col-sm-6">
            <div class="card mb-4 shadow-sm">
                <img src="https://s3.amazonaws.com/public-304257298154/AH/cms/features/NAB_SalesPartnerPortal_PaymentsHub_Image_10.22.jpg"
                     height="270px" width="100%" alt="">
                <div class="card-body">
                    <h4 class="card-text"><b>Payment Hub Virtual Terminal</b></h4>
                    <h5 class="card-text"> A free virtual terminal so they can perform transactions from right within their web browsers.</h5>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a href="https://www.appsubmit.com/applications/applicant/authentication" target="_blank" class="btn btn-primary">
                                Sign Up For The Service <br> & Get A $100 Bonus
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="card mb-4 shadow-sm">
                <img src="https://s3.amazonaws.com/public-304257298154/AH/img/resources/pa-PASmartTerminal.jpg"
                     height="270px" width="100%" alt="">
                <div class="card-body">
                  <h4 class="card-text"><b>Pay Anywhere Smart Terminal W/ Edge</b></h4>
                  <h5 class="card-text">THE Payanywhere SMART TERMINAL IS THE IDEAL SOLUTION FOR:</h5> <br>
                  <h5 class="card-text">Traditional merchants looking to add mobile payment acceptance to their business. You can offer it to your merchants for free with a nominal software fee of just $9.95 per month per device.</h5>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a href="https://www.appsubmit.com/?source=47889.4" target="_blank" class="btn btn-primary">
                              Sign Up For The Service <br> & Get A $100 Bonus
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="card mb-4 shadow-sm">
                <img src="https://s3.amazonaws.com/public-304257298154/AH/img/resources/pa-smartpos.jpg"
                     height="270px" width="100%" alt="">
                <div class="card-body">
                    <h4 class="card-text"><b>Payanywhere Smart POS</b> </h4>
                    <h5 class="card-text">THE Payanywhere SMART POS IS THE IDEAL SOLUTION FOR:</h5> <br>
                    <h5 class="card-text">Soft-Goods and Hospitality merchants looking for a cost-effective, space-saving payment solution for their countertops.</h5>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a href="https://www.appsubmit.com/?source=47889.3" target="_blank" class="btn btn-primary">
                                Sign Up For The Service <br> & Get A $100 Bonus
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ANCHOR_FOR_NEW_CARDS -->
        <!-- Dont remove this comment -->

    </div>

    <div class="row">
        <div class="col-md-4 col-sm-6">
            <div class="card mb-4 shadow-sm">
                <img src="https://s3.amazonaws.com/public-304257298154/AH/img/resources/pa-1.jpg"
                     height="270px" width="100%" alt="">
                <div class="card-body">
                  <h4 class="card-text"><b>2-in-1 Credit Card Reader</b></h4>
                  <h5 class="card-text">Pair with your smartphone or tablet to accept EMV chip cards and magstripe cards. Compatible with iOS, Android, and desktop computers.</h5>
                  <h5 class="card-text">Free (1) Additional readers $29.95/each</h5>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a href="https://www.appsubmit.com/?source=47889.5" target="_blank" class="btn btn-primary">
                                Sign Up For The Service <br> & Get A $100 Bonus
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ANCHOR_FOR_NEW_CARDS -->
        <!-- Dont remove this comment -->

    </div>

</section>
{% endblock %}
