{% extends "pages/base-whitelabel.html" %}
{% load static %}

{% block extrastyle %}
{% endblock extrastyle %}
<!-- ============================================================== -->
<!--            Content Start             -->
<!-- ============================================================== -->
{% block content %}
    <div class="row page-header">
        <div class="col-lg-6 align-self-center ">
            <h2>Your Residuals</h2></div>
    </div>

    <section class="main-content">
        <div class="row">
            <div class="col-md-12">
                <iframe width="100%" height="515" src="https://www.youtube.com/embed/ycSr0-gXmPc" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-default">
                        My Residuals
                    </div>
                    <div class="card-body">
                        <table id="datatable" class="table table-striped dt-responsive nowrap">
                            <thead>
                            <tr>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Business Name</th>
                                <th>Commissions made</th>
                                <th>Amount Of Residuals</th>
                                <th>Product</th>
                                <th>Payout Date</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for residual in residuals %}
                                <tr>
                                    <td>{{ residual.first_name }}</td>
                                    <td>{{ residual.last_name }}</td>
                                    <td>{{ residual.business_name }}</td>
                                    <td>{{ residual.commissions_made }}</td>
                                    <td>${{ residual.amountofresiduals }}</td>
                                    <td>{{ residual.product }}</td>
                                    <td>{{ residual.payout_date }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>


    </section>


{% endblock %}
