{% extends "pages/base-whitelabel.html" %}
{% load static %}

{% block extrastyle %}
    <script type="text/javascript" src="https://chatterpal.me/build/js/chatpal.js?7.23" crossorigin="anonymous"
            data-cfasync="false">
    </script>
    <script>
        var chatPal = new ChatPal({
            embedId: 'DfT7BnTm5dGn',
            remoteBaseUrl: 'https://chatterpal.me/',
            version: '7.23'
        });
    </script>
{% endblock extrastyle %}
<!-- ============================================================== -->
<!--            Content Start             -->
<!-- ============================================================== -->
{% block content %}
    <div class="row page-header">
        <div class="col-lg-6 align-self-center ">
            <h2>Your Affiliates</h2></div>
    </div>

    <section class="main-content">
        <div class="row">
            <div class="col-md-12">
                <iframe width="100%" height="515" src="https://www.youtube.com/embed/sJaMWvPb5yY" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-default">
                        My Leads
                    </div>
                    <div class="card-body">
                        <table id="datatable" class="table table-striped dt-responsive nowrap">
                            <thead>
                            <tr>
                                <th>Full Name</th>
                                <th>Phone Number</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                            </thead>

                            <tbody>
                            {% for agent in agents %}
                                <tr>
                                    <td>{{ agent.full_name }}</td>
                                    <td>{{ agent.phone_number }}</td>
                                    <td><a class="btn btn-primary" href="/whitelabelpartnerportal/salesaffiliates/edit/{{ agent.id }}">Edit</a></td>
                                    <td>  <form method="post" id="delete" name="delete" action="">
                                            {% csrf_token %}
                                            <input type="text" name="delete" value="{{ agent.id }}" hidden/>
                                            <input type="submit" value="Destroy" class="btn btn-primary"/>
                                        </form></td>
                                </tr>

                            {% endfor %}

                            </tbody>
                        </table>

                        <br>
                        <div class="form-group">
                            <a class="btn btn-primary" href="/whitelabelpartnerportal/enteraffiliates">New Affiliate</a>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </section>

{% endblock %}
